@import "_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:300,400,500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.25em;
    font-size: 100%;
    min-width: 100%;
    min-height: 100vh;
    color: var(--c-text);
    .btn:focus {
        outline: none;
    }
    .btn::-moz-focus-inner {
        border: 0;
    }
    &.tab { //focus styly aplikované, pouze pokud uživatel používá k navigaci tabulátor
        .btn.border-btn:focus {
            box-shadow: inset 0 0 0 1.6px rgba($greenLight, 1);
        }
        .btn.inline:focus {
            font-weight: 500;
            color: $greenMid;
        }
        .btn.arrow-btn:focus {
            span {
                color: $greenMid;
            }
            img {
                //přebarvení SVG šipky (barva $greenMid: #479911) pomocí https://codepen.io/sosuke/pen/Pjoqqp
                filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(1490%) hue-rotate(53deg) brightness(94%) contrast(96%);
            }
        }
        input:focus ~ .checkmark {
            box-shadow: inset 0 0 0 1.6px rgba($greenLight, 0.6);
        }
        input[type="checkbox"]:checked:focus ~ .checkmark {
            box-shadow: inset 0 0 0 1.6px rgba($greenLight, 1);
        }
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    line-height: 1.3em;
}

.container {
    min-height: 100vh;
    display: grid;
}

header {
    grid-row: 1/2;
    padding: 0.2rem 0.6rem;
    min-height: 3.2rem;
    .logo {
        margin-left: 0.6rem;
        display: flex;
        img {
            margin: 0;
            height: 2rem;
            margin: 0.4rem 0.4rem 0.4rem 0;
        }
        h1 {
            font-size: 2rem;
            line-height: 2.8rem;
            color: white;
            margin: 0;
        }
    }
}

#messages {
    .message-item {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--c-text-inverted);
        word-break: break-word;
        @include scrollbar(8px, none, #666, var(--c-scrollbar-thumb-hover), var(--c-bgd));
        .text {
            max-height: 24vh;
            overflow: auto;
            @include scrollbar(0px, thin, #666, var(--c-scrollbar-thumb-hover), var(--c-bgd));
            animation: fontpop 0.4s;
        }
        .btn {
            margin-left: 1rem;
            flex-shrink: 0;
        }
    }
    .success-message {
        background: $greenMid;
    }
    .info-message {
        background: var(--c-info);
    }
    .warning-message {
        background: var(--c-warning);
    }
    .error-message {
        background: var(--c-error);
    }
}

#popups {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: none;
    pointer-events: none;
    z-index: 10;
}

.confirm-item {
    position: fixed;
    border: solid 2px var(--c-error);
    box-shadow: 0px 0px 4px 2px rgba(black, 0.2);
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--c-bgd-popup);
    width: 90vw;
    max-width: 32.5rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.6rem;
    pointer-events: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    p {
        text-align: justify;
    }
    .buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        > * {
            margin-left: 0.4rem;
        }
    }
}

footer {
    padding: 0.12rem 1rem;
    background: var(--c-footer);
    font-size: 0.72rem;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: $mobile) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and (min-width: $smallTablet) {
            justify-content: end;
        }
        a, span {
            margin: 0.2rem 0.8rem;
            color: white;
        }
        a {
            &:after {
                background: white;
            }
        }
    }

}

#overlay {
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.32s ease-out;
    &.show {
        opacity: 1;
        pointer-events: auto;
    }
}

img {
    height: auto;
    width: auto;
}

ul.list {
    li {
        list-style-type: circle;
        margin-left: 1.2rem;
        &:not(:last-child) {
            margin-bottom: 0.32rem;
        }
    }
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 1em;
    transition: transform 0.1s ease-in;
    &:hover {
        cursor: pointer;
    }
    &.disabled {
        pointer-events: none;
        cursor: auto;
    }
    &.border-btn {
        display: inline-block;
        text-align: center;
        position: relative;
        padding: 0.44em 1em;
        border-radius: 3.2px;
        line-height: 1.32em;
        &.non-transparent {
            &.primary {
                background: var(--c-button-primary);
                color: var(--c-text-inverted);
                &::after {
                    background: rgba(white, 0.08);
                }
                &.disabled {
                    background: var(--c-button-disabled);
                    border-color: var(--c-button-disabled);
                    color: (--c-text);
                    > img {
                        filter: grayscale(50%);
                    }
                }
            }
            &.white {
                background: var(--c-button-light);
                color: var(--c-text-inverted);
                &::after {
                    background: rgba(black, 0.06);
                }
            }
            &.always-white {
                background: $buttonWhite;
                color: $textBlack;
                &::after {
                    background: rgba(black, 0.06);
                }
            }
            &.dark {
                background: var(--c-button-dark);
                color: var(--c-text-inverted);
                &::after {
                    background: rgb(from var(--c-overlay-light) r g b / 8%);
                }
                &.disabled {
                    background: var(--c-button-disabled);
                    border-color: var(--c-button-disabled);
                    color: (--c-text);
                    > img {
                        filter: grayscale(50%);
                    }
                }
            }
            &.dark-green {
                background: $greenDark;
                color: white;
                &::after {
                    background: rgba(white, 0.06);
                }
            }
        }
        &.transparent {
            background: transparent;
            padding: calc(0.44em - 2px) calc(1em - 2px);
            &.primary {
                color: var(--c-text);
                border: 2px solid var(--c-button-primary);
                &:after {
                    background: rgb(from var(--c-button-primary) r g b / 6%);
                }
                &.disabled {
                    border-color: var(--c-button-disabled);
                    color: var(--c-button-disabled);
                }
            }
            &.white {
                color: var(--c-button-light);
                border: 2px solid var(--c-button-light);
                &:after {
                    background: rgba(white, 0.06);
                }
            }
            &.always-white {
                color: $textWhite;
                border: 2px solid $buttonWhite;
                &::after {
                    background: rgba(white, 0.04);
                }
            }
            &.dark {
                color: var(--c-text);
                border: 2px solid var(--c-button-dark);
                &:after {
                    background: rgb(from var(--c-button-dark) r g b / 6%);
                }
                &.disabled {
                    border-color: var(--c-button-disabled);
                    color: var(--c-button-disabled);
                }
            }
        }
        &.rounded {
            border-radius: 4em;
            &:after {
                border-radius: 4em;
            }
        }
        &:after {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            transform: scale(0);
            top: 0;
            left: 0;
            transition: transform 0.1s ease-out;
            border-radius: 0.2em;
            }
        &:hover {
            &:after {
                transform: scale(1);
            }
        }
        &:active {
            transform: scale(0.98);
        }
        &.img {
            padding: 0.44em;
            img {
                height: 1.32em;
                width: 1.32em;
                vertical-align: bottom;
            }    
        }
        
    }
    &.arrow-btn {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out;
        &.white {
            color: var(--c-button-light);
        }
        &.dark {
            color: var(--c-button-dark)
        }
        img {
            height: 1em;
            width: 1em;
            padding-left: 0.32em;
            position: relative;
            top: 0.24em;
            transition: transform 0.2s ease-out;
        }
        &:hover{
            transform: translateX(-0.16em);
            img {
                transform: translateX(0.32em);
            }
        }
    }
    &.inline {
        font-size: 1em;
        position: relative;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &.white {
            color: var(--c-text-inverted);
        }
        &.white-dm {
            color: $textWhite;
        }
        &.black {
            color: var(--c-text);
        }
        &.green {
            color: var(--c-text-green); 
        }
    }
    &.icon {
        display: block;
        height: 1em;
        width: 1em;
        img {
            transition: transform 0.2s ease-out;
            height: 100%;
            width: 100%;
        }
        &.disabled {
            > img {
                filter: grayscale(100%);
            }
        }
        &:active {
            img {
                transform: scale(0.96);
            }
        }
    }
}

//light theme
@mixin img-icon-light {
    img.icon { 
        &.black {
            filter: invert(10%) sepia(40%) saturate(5%) hue-rotate(82deg) brightness(98%) contrast(94%);
        }
        &.white {
            filter: invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
            &.shadow {
                filter: drop-shadow(0 0 4px rgba(white, 0.8)) invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
            }
        }   
        &.gray {
            filter: invert(61%) sepia(0%) saturate(240%) hue-rotate(212deg) brightness(87%) contrast(93%);
        }  
        &.green {
            filter: invert(48%) sepia(100%) saturate(368%) hue-rotate(52deg) brightness(84%) contrast(102%);
        } 
        &.red {
            filter: invert(9%) sepia(88%) saturate(6994%) hue-rotate(17deg) brightness(88%) contrast(118%);
        }    

        &.selected {
            filter: invert(25%) sepia(85%) saturate(4117%) hue-rotate(75deg) brightness(90%) contrast(87%);
        }
    }
}
@media (prefers-color-scheme: light) {
    body:not(.dark-theme) {
        @include img-icon-light();
    }
}
body.light-theme {
    @include img-icon-light();
}

//dark theme
@mixin img-icon-dark {
    img.icon {
        &.black {
            filter: invert(98%) sepia(3%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(87%);
        }
        &.white {
            filter: invert(10%) sepia(40%) saturate(5%) hue-rotate(82deg) brightness(98%) contrast(94%);
            &.shadow {
                filter: drop-shadow(0 0 4px rgba(white, 0.8)) invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
            }
        }   
        &.gray {
            filter: invert(61%) sepia(0%) saturate(240%) hue-rotate(212deg) brightness(87%) contrast(93%);
        }  
        &.green {
            filter: invert(48%) sepia(100%) saturate(368%) hue-rotate(52deg) brightness(84%) contrast(102%);
        } 
        &.red {
            filter: invert(32%) sepia(97%) saturate(663%) hue-rotate(320deg) brightness(95%) contrast(83%);
        }  

        &.selected {
            filter: invert(49%) sepia(51%) saturate(3856%) hue-rotate(64deg) brightness(94%) contrast(87%);
        }

        &.white-dm {
            filter: invert(98%) sepia(3%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(87%);
        } 
    }
}
@media (prefers-color-scheme: dark) {
    body:not(.light-theme) {
        @include img-icon-dark();
    }
}
body.dark-theme {
    @include img-icon-dark();
}

.center {
    display: block;
    margin: auto;
}

input,
select,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
    &.text-field {
        font-size: 100%;
        padding: 0.44em 0.8em;
        border-radius: 0.2em;
        line-height: 1.32em;
        color: var(--c-text);
        background: var(--c-text-field);
        &.variant {
            @media (prefers-color-scheme: light) {
                background: var(--c-text-field-variant);
            }
        }
        &.disabled {
            background: var(--c-text-field-disabled);
            pointer-events: none;
            cursor: auto;
        }

        //skrytí šipek u inputu typu "number"
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type="number"] {
            -moz-appearance: textfield;
        }
        &:focus {
            box-shadow: inset 0 0 0 2px var(--c-selected);
        }
    }
}

.input-wrapper {
    position: relative;
    width: 100%;
    .checkmark {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        margin: auto 0.4rem;
        }
    .text-field {
        width: 100%;
    }
    .text-field.checked {
        padding-right: 2em;
    }
    .text-field.checked + .checkmark {
        display: block;
        height: 1.4em;
        width: 1.4em;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

textarea {
    resize: vertical;
    min-height: 2.2rem;
}

label {
    //line-height: 1.6em;
    margin: 0.24rem 0;
    font-size: 0.9rem;
    display: inline-block;
    &.disabled {
        pointer-events: none;
        color: var(--c-text-disabled); 
    }
    &.required {
        &:after {
            content: " *";
            color: var(--c-error);
        }
    }
}

.custom-checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    line-height: 1.6rem;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 0.2em;
        background-color: var(--c-text-field);
        &.variant {
            @media (prefers-color-scheme: light) {
                background: var(--c-text-field-variant);
            }
        }
        &:after {
            content: "";
            display: none;
            position: absolute;
            left: 0.05rem;
            right: 0;
            top: 0.05rem;
            bottom: 0;
            background-image: url("../../images/tick-thick.svg");
            transform: scale(60%);
            filter: invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
        }
    }

    &:hover input ~ .checkmark {
        background-color: var(--c-selected-hover);
        &.variant {
            @media (prefers-color-scheme: light) {
                background: var(--c-selected-hover-variant);
            }
        }
    }
    input[type="checkbox"]:checked ~ .checkmark {
        background-color: var(--c-checkmark);
        &:after {
            display: block;
        }
    }
}


.custom-switch-wrapper { // převzato z https://uiverse.io/satyamchaudharydev/shy-earwig-18, upraveno
    display: block;
    --width-of-switch: 3.8em;
    --height-of-switch: 2.2em;
    --size-of-icon: 1.6em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f4f4f5;
        border-radius: 30px;
        transition: .4s;
        &::before {
            position: absolute;
            content: "";
            height: var(--size-of-icon);
            width: var(--size-of-icon);
            border-radius: 20px;
            left: var(--slider-offset);
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(40deg, $purpleDark, $purpleLight 70%);
            transition: .4s;
        }
    }
    input:checked + .slider {
        background-color: var(--c-text-field);
    }

    input:checked + .slider::before {
        left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));
        background: var(--c-text-field);
        /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
        box-shadow: inset -10px -4px 0 0 #fff;
    }
}

.custom-3-switch-wrapper {
    display: block;
    --width-of-switch: 4.8em;
    --height-of-switch: 2.2em;
    --size-of-icon: 1.6em;
    --slider-offset: 0.4em; 
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f4f4f5;
        border-radius: 30px;
        transition: .4s;
        &::before,
        &::after {
            position: absolute;
            content: "";
            height: var(--size-of-icon);
            width: var(--size-of-icon);
            border-radius: 20px;
            top: 50%;
            transform: translateY(-50%);
            transition: .4s;
        }
        &::before { //sun
            background: $buttonWhite;
        }
    }
    input:nth-of-type(1):checked ~ .slider {
        background-color: var(--c-text-field);
    }
    input:nth-of-type(2):checked ~ .slider {
        background-color: var(--c-text-field);
    }
    input:nth-of-type(3):checked ~ .slider {
        background-color: var(--c-text-field);
    }

    input:nth-of-type(1):checked ~ .slider::before,
    input:nth-of-type(1):checked ~ .slider::after {
        left: var(--slider-offset);
    }
    input:nth-of-type(2):checked ~ .slider::before,
    input:nth-of-type(2):checked ~ .slider::after {
        left: calc(50% - var(--size-of-icon)/2);
    }
    input:nth-of-type(3):checked ~ .slider::before,
    input:nth-of-type(3):checked ~ .slider::after {
        left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));
    }
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    margin: 0;
    font-size: 100%;
    line-height: 1.32em;
    .custom-select {
        position: relative;
        display: flex;
        flex-direction: column;
        &.open {
            .custom-options {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: rotateX(0deg);
            }
            .custom-select-main {
                border-radius: 3.2px 3.2px 0 0;
                box-shadow: inset 0 0 0 2px var(--c-selected);
                &.variant {
                    @media (prefers-color-scheme: light) {
                        background: var(--c-selected-hover-variant);
                    }
                }
                .arrow {
                    transform: rotate(270deg);
                }
            }        
        }
    }
    .custom-select-main {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1em;
        color: var(--c-text);
        height: 2.28em;
        padding: 0.48em 0.8em;
        background: var(--c-text-field);
        cursor: pointer;
        border-radius: 3.2px;
        span {
            flex-grow: 1;
            margin-right: 2px;
            overflow: hidden;
            white-space: nowrap;
        }
        .arrow {
            height: 1em;
            width: 1em;
            transform: rotate(90deg);
            transition: transform 0.4s ease-in-out;
        }
    }
    .custom-options {
        @include scrollbar(12px, auto, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-text-field));
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--c-text-field);
        transition: all 0.4s ease-out;
        opacity: 0;
        transform: rotateX(90deg);
        transform-origin: top;
        visibility: hidden;
        pointer-events: none;
        z-index: 2;
        max-height: 50vh;
        border-radius: 0 0 3.2px 3.2px;
        box-shadow: 0 3px 2px -1px rgba(black, 0.2);
        overflow: auto;
        .custom-option {
            position: relative;
            display: block;
            padding: 0.4em 0.72em;
            color: var(--c-text);
            cursor: pointer;
            border-top: 1px solid var(--c-bgd-comp);
            &:hover {
                cursor: pointer;
                background: var(--c-selected-hover);
            }
            &.selected {
                color: #fff;
                background: var(--c-selected);
            }
        }
    }
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.08em;
}

.no-transition *,
.no-transition *::before,
.no-transition *::after {
    transition: none !important;
}

@mixin dark-theme-border {
    input.text-field,
    select.text-field,
    textarea.text-field,
    .custom-checkbox-wrapper .checkmark,
    .custom-switch-wrapper .slider, 
    .custom-3-switch-wrapper .slider,
    .custom-select-wrapper .custom-select-main,
    .custom-select-wrapper .custom-options,
    #preview-img,
    #main-img
    {
        border: 1px solid $gray3;
    }
}
@media (prefers-color-scheme: dark) {
    body:not(.light-theme) {
        @include dark-theme-border();
    }
}
body.dark-theme {
    @include dark-theme-border();
}

@media (prefers-color-scheme: light) {
    body:not(.dark-theme) {
        .custom-switch-wrapper .slider {
            background: #fff;
        }
    }
}

body.light-theme {
    .text-field,
    .custom-select-main,
    .custom-checkbox-wrapper .checkmark {
        &.variant {
            background: var(--c-text-field-variant);
        }
    }
}

@keyframes fontpop {
    0%   {transform: scale(1)}
    50%  {transform: scale(1.02)}
    100% {transform: scale(1)}
}