//scss partial soubor, který má na starost jedinečné styly pro index

body#index {
	width: 100vw;
	height: 100vh;
	position: relative;
	color: $gray1;
	font-size: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	.container {
		min-height: 100%;
		display: grid;
		grid-template-rows: auto auto 1fr auto;
	}
	#background {
		position: fixed;
		background-image: url("../images/indexbg.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		transform: scale(1.02);
		z-index: -2;
	}
	#background-overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
		background: #001000;
		opacity: 0;
		z-index: -1;
	}
	header {
		background: $greenDark;
		padding: 1rem 3rem;
		grid-row: 1/2;
		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: end;
			.btn {
				margin-left: 1.2rem;
			}
		}
	}
	main {
		grid-row: 2/4;
		h1 {
			margin: 1.8rem 0;
			font-size: 3.6rem;
			font-weight: 1000;
			text-align: center;
			@media screen and (min-width: $tablet) {
				text-align: justify;
			}
		}
		p {
			padding: 0.6rem 0;
			line-height: 1.3em;
			text-align: justify;
		}
	}
	#index-buttons-section .content,
	#index-text-section .content {
		opacity: 0;
		//transform: translateY(5%);
	}

	#index-text-section {
		background: white;
		display: block;
		@media screen and (min-width: $tablet) {
			display: grid;
			grid-template-columns: 6fr 4fr 1fr;
			grid-template-rows: 1fr 8fr 1fr;
		}
		> .content {
			padding: 3rem;
			@media screen and (min-width: $tablet) {
				padding: 3rem 4rem;
			}
			@media screen and (min-width: $smallDesktop) {
				padding: 4rem 6rem;
			}
			@media screen and (min-width: $desktop) {
				padding: 4rem 10rem;
			}
			@media screen and (min-width: $tablet) {
				grid-row: 1/3;
				grid-column: 1/2;
			}
			text-align: center;
			@media screen and (min-width: $tablet) {
				text-align: justify;
			}
			p {
				font-size: 1.4rem;
				@media screen and (min-width: $tablet) {
					font-size: 1.6rem;
					text-align: left;
				}
				@media screen and (min-width: $smallDesktop) {
					font-size: 1.8rem;
				}
				margin-bottom: 0.4rem;
			}
			.btn {
				font-size: 1.8rem;
				padding: 0.4rem;
				text-decoration: none;
				color: $gray1;
			}
		}
		> img {
			@media screen and (min-width: $tablet) {
				grid-row: 2/4;
				grid-column: 2/4;
				align-self: end;
				justify-self: end;
			}
			width: 100%;
			@media screen and (max-width: $tablet) {
				position: relative;
				bottom: -5px;
			}
		}
		
	}
	#index-buttons-section {
		background: $gray1;
		padding: 3rem;
		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			.btn {
				width: 10em;
				margin: 1rem 0;
				font-size: 1.8rem;
			}
		}
	}
	#index-info-section {
		padding: 3rem;
	}	
	#index-login-section {
		border-right: 12px solid $gray1;
		position: fixed;
		overflow: auto;
		color: black;
		padding: 1rem;
		font-size: 1.32rem;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background: $gray2;
		transform: translateX(-100%);
		transition: transform 0.32s ease-out;
		h2 {
			padding: 0.2rem 0.8rem;	
		}
		.user-data {
			display: flex;
			flex-direction: column;
			margin: 0.8rem 0;
			label,
			input.text-field {
				margin: 0.2rem 0;
			}
			label:not(:nth-of-type(1)) { //kromě prvního labelu
				margin-top: 0.72rem;
			}
			input.text-field {
				color: $gray1;
				font-family: 'Roboto', sans-serif;
				font-size: 1.4rem;
				background: white;
			}
		}
		.btn.inline,
		p {
			font-size: inherit;
		}
		p {
			padding: 0.2rem 0.8rem;
			text-align: left;
		}
	}
	footer {
		color: white;
		grid-row: 4/5;
		.content {
			opacity: 0;
			//transform: translateY(5%);
			a {
				color: white;
				&:after {
					background: white;
				}
			}
		}
	}
	#cookies-alert {
		position: fixed;
		bottom: 0;
		width: 100%;
		transform: translateY(100%);
		background: $gray1;
		color: white;
		display: block;
		text-align: justify;
		z-index: 5;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		transition: transform 0.6s ease-in-out;
		span {
			padding-right: 0.8rem;
		}
		button {
			height: 1rem;
			width: 1rem;
			flex-shrink: 0;
		}
	}


	&.loaded {
		#index-text-section .content {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
		#index-buttons-section .content {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
		footer .content {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}	
	}
	&.load {
		#index-text-section .content {
			pointer-events: none;
			animation: display-content 1s ease-in-out 0.2s forwards;
		}
		#index-buttons-section .content {
			pointer-events: none;
			animation: display-content 1s ease-in-out 1.2s forwards;
		}
		footer .content {
			pointer-events: none;
			animation: display-content 1s ease-in-out 2.2s forwards;
		}
	}
	@keyframes darken-blur {
		100% {
			opacity: 0.68;
		}
	}
	@keyframes display-content {
		100% {
			opacity: 1;
			//transform: translateY(0);
			pointer-events: auto;
		}
	}
}