#account-settings,
#manage,
#members,
#tests,
#naturals,
#resolve-reports {
    .data-item,
    .data-properties {
        margin: 0.6rem;
        padding: 0.4rem 0.8rem;
    }
    .data-item {
        border: 1px solid var(--c-tile-border);
        border-radius: 0.2rem;
        display: grid;
        @media screen and (min-width: $smallTablet) {
            align-items: center;
        }
        > span {
            padding: calc(0.4em + 4px) 0;
        }
    }
    .data-item.class-property,
    .data-item.user-property {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        @media screen and (min-width: $smallTablet) {
            grid-template-columns: 11.2rem 13rem 1fr;
            grid-template-rows: auto 1fr;
        }
        .action {
            grid-column: 2/3;
            @media screen and (min-width: $smallTablet) {
                grid-column: 3/4;
                text-align: right;
            }
        }
    }
    .change-form {
        grid-column: 1/3;
        @media screen and (min-width: $smallTablet) {
            grid-column: 2/4;
            grid-row: 1/3;
            max-width: 25rem;
        }
        .border-btn {
            margin: 0.6rem auto 0.2rem auto;
            width: 100%;
        }
        .inline.btn {
            margin-top: 0.4rem;
            margin-bottom: 0.2rem;
        }
    }
    .change-form,
    #delete-account1,
    #delete-account2,
    #delete-class1,
    #delete-class2,
    #invite-user-form,
    #new-test,
    #filter-search {
        display: flex;
        flex-direction: column;
        label {
            font-size: 0.9rem;
        }
        label, 
        input.text-field,
        .custom-select-wrapper {
            margin: 0.2rem 0;
        }
        label:not(:nth-of-type(1)) {
            margin-top: 0.54rem;
        }
        p {
            margin-bottom: 0.6rem;
            text-align: justify;
        }
        .message {
            font-size: 0.72rem;
            line-height: 0.96rem;
            min-height: 0.96rem; 
            color: var(--c-error);
            &.server {
                margin-bottom: 0.2rem;
                min-height: 0;
            }
        }
    }
    h3 {
        font-size: 1em;
        line-height: 1.2em;
        margin: 0.2rem 0 0.4rem 0;
    }
    #delete-account1,
    #delete-class1,
    #invite-user-form,
    #new-test {
        max-width: 25rem;
        .border-btn {
            margin: 0.6rem auto 0.2rem auto;
            width: 100%
        }
        .inline.btn {
            margin-top: 0.4rem;
        }
    }
    #delete-account2,
    #delete-class2,
    .kick-user {
        span {
            color: var(--c-error);
        }
        .buttons {
            display: flex;
            justify-content: left;
            .border-btn {
                width: fit-content;
                margin: 0.6rem 0 0 0;
                &:not(:last-child) {
                    margin-right: 0.6rem;
                }
            }
        }
    }
}

#account-settings {
    #account-settings-wrapper {
        margin: auto;
        @media screen and (min-width: $smallDesktop) {
            max-width: 68.75rem;
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-column-gap: 2rem;
        }
    }
    .user.image-section {
        padding: 0.6rem;
        margin: 0 auto;
        width: 90%;
        max-width: 16.25rem;
        @media screen and (min-width: $smallDesktop) {
            width: 100%;
            max-width: auto;
        }
        > img {
            width: 100%;
        }
        > div:nth-of-type(1) {
            text-align: center;
            margin: 0.6rem auto;
            font-size: 1.2rem;
            > span {
                font-weight: 500;
            }
        }
        #dark-theme-wrapper {
            margin: 2rem auto 1rem auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            > span {
                margin-right: 1rem;
            }
        }
    }
    .user-property.action {
        @media screen and (min-width: $smallTablet) {
            display: flex;
            flex-direction: row-reverse;
            > *:not(:last-child) {
                margin-left: 0.4rem;
            }
        }
    }
    .delete-account-section {
        grid-column: 2/3;
        padding: 0.6rem;
    }
}

#manage {
    #manage-wrapper {
        margin: auto;
        max-width: 50rem;
    }
    .class-buttons-section {
        padding: 0.6rem;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 512px) {
            flex-direction: row;
            justify-content: space-between;
        }
        .border-btn {
            flex-grow: 1;
        }
        .border-btn:not(:last-child) {
            margin-bottom: 0.4rem;
            @media screen and (min-width: 512px) {
                margin-bottom: 0;
                margin-right: 0.8rem;
            }
        }
    }
    #status-readonly {
        font-size: 0.72rem;
        white-space: nowrap;
        display: inline;
    }
    .custom-checkbox-wrapper {
        .checkmark {
            background-color: #fff;
        }
        &:hover input ~ .checkmark {
            background-color: #d8d8d8;
        }
        input[type="checkbox"]:checked ~ .checkmark {
            background-color: $greenDark;
        }
    }
    .delete-class-section {
        padding: 0.6rem;
    }
}

#members {
    #members-wrapper {
        margin: auto;
        max-width: 50rem;
    }
    .members-data-section {
        margin: auto;
        max-width: 50rem;
        .data-item.member {
            grid-template-columns: 10rem 1fr;
            grid-template-rows: auto auto;
            @media screen and (min-width: $smallTablet) {
                grid-template-rows: auto 1fr;
            }
            .member.action {
                text-align: right;
                display: grid;
                align-items: center;
                justify-items: right;
            }
            .kick-user {
                grid-row: 1/3;
                grid-column: 2/3;
                padding: calc(0.2em + 4px) 0;
                span {
                    margin-bottom: 0.4rem;
                }
            }
        }
    }
    .invite-user-section {
        padding: 0.6rem;
    }
}

#tests {
    #tests-wrapper {
        margin: auto;
        max-width: 50rem;
    }
    .tests-data-section {
        width: 100%;
        .data-properties,
        .data-item {
            display: grid;
            grid-template-columns: 1fr 3rem 6rem;
            @media screen and (min-width: $smallMobile) {
                grid-template-columns: 1fr 4rem 6rem;
            }
            @media screen and (min-width: $mobile) {
                grid-template-columns: 1fr 4rem 6rem;
            }
            @media screen and (min-width: $smallTablet) {
                grid-template-columns: 1fr 6rem 8rem;
            }
            @media screen and (min-width: $tablet) {
                grid-template-columns: 1fr 10rem 10rem;
            }
            align-items: center;
            justify-items: center;
            > * {
                margin: auto;
            }
        }
        .data-item.test {
            border: 1px solid var(--c-tile-border);
            border-radius: 0.2rem;
            > span {
                padding: calc(0.2em + 4px) 0;
            }
            .name {
                font-weight: 500;
                text-align: center;
                overflow-wrap: break-word;
            }
            .action {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .btn {
                    text-align: center;
                    margin: 0.2rem;
                    @media screen and (min-width: $smallTablet) {
                        margin: auto 0.4rem;
                    }
                }
            }
        }
    }
    .tests-new-section {
        padding: 0.6rem;
    }
}

#resolve-reports {
    width: 100%;
    .data-properties,
    .data-item {
        min-width: fit-content;
        display: grid;
        grid-template-columns: minmax(7.2rem, 2.5fr) minmax(7.2rem, 2fr) minmax(7.2rem, 3fr) minmax(4.4rem, 1.2fr) minmax(2rem, 9rem);
        column-gap: 0.6rem;
        justify-items: stretch;
        align-items: center;
        > span {
            padding: calc(0.2em + 4px) 0;
        }
    }
    .data-item {
        grid-template-rows: auto auto;
        border: 1px solid var(--c-tile-border);
        border-radius: 0.2rem;
        .name,
        .name-edit {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .name-edit {
            width: 100%;
        }
        .url,
        .url-edit {
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 0.72rem;
        }
        .url {
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
        .url-edit {
            width: 100%;
        }
        .reason {
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .number {
            grid-column: 4/5;
            grid-row: 1/2;
        }
        .action {
            grid-column: 5/6;
            grid-row: 1/2;
            > * {
                margin: 0.12rem 0.4rem;
            }
        }
        .action,
        .edit-buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 52.5rem) {
                flex-direction: row;
            }
            justify-content: space-evenly;
        }
        .image {
            grid-column: 1/6;
            grid-row: 2/3;
            height: 18.75rem;
            margin: 1rem auto 0.4rem auto;
            position: relative;
            .btn {
                margin: 1rem;
                position: absolute;
                top: 0;
                right: 0;
            }
            > img {
                height: 100%;
            }
        }
        .text-field {
            max-width: 100%;
            width: 100%;
            resize: none;
            height: fit-content;
        }
    }
    .data-properties > *,
    .data-item > *:not(.report.image) {
        text-align: center;
    }
}

#edit-group {
    #edit-group-wrapper {
        @media screen and (min-width: $smallTablet) {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr auto;
            column-gap: 2rem;
        }
        @media screen and (min-width: $tablet) {
            grid-template-columns: 1fr auto;
        }
    }
    #group-name-container {
        margin-bottom: 1rem;
        @media screen and (min-width: $smallTablet) {
            grid-row: 1/2;
            grid-column: 1/2;
        }
    }
    #parts-boxes-container {
        margin-bottom: 1rem;
        @media screen and (min-width: $smallTablet) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
            grid-gap: 1rem;
            grid-auto-rows: auto;
            grid-row: 2/3;
            grid-column: 1/3;
        }
    }    
    .part.box,
    #add-part-button {
        overflow-y: hidden;
        height: 30rem;
        min-width: 16rem;
        @media screen and (min-width: $smallTablet) {
            width: auto;
        }
        border: 1px solid var(--c-tile-border);
        border-radius: 0.2rem;
        padding: 1.6rem;  
        &:not(:last-child) {
            margin-bottom: 1rem;
            @media screen and (min-width: $smallTablet) {
                margin-bottom: 0;
            }
        }  
    }
    .part.box {
        display: grid;
        grid-template-rows: auto 1fr;
        @include scrollbar(8px, none, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        .naturals-in-part {
            overflow-y: auto;
            @include scrollbar(0px, thin, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        }
    }
    #add-part-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        &:active {
            transform: scale(0.96);
        }
        img {
            height: 11.25rem;;
            width: 11.25rem;
            opacity: 0.12;
            margin-bottom: 2rem;
        }
    }
    .part.info {
        padding-bottom: 1.2rem;
        height: fit-content;
        width: 100%;
        .part.name {
            font-weight: 500;
        }
        .remove-part-button {
            margin-left: auto;
            display: block;
            margin-bottom: 1.2rem;
        }
        .add-natural {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: minmax(0, 1fr) auto;
            column-gap: 0.4rem;
            margin-top: 1.2rem;
            label {
                grid-row: 1/2;
                grid-column: 1/3;
                //margin: 0.4rem 0;
            }
            .text-field {
                grid-row: 2/3;
                grid-column: 1/2;
                width: 100%;
            }
            .btn {
                grid-row: 2/3;
                grid-column: 2/3;
            }
        }
    }
    #submit-button {
        width: 100%;
        @media screen and (min-width: $smallTablet) {
            width: fit-content;
        }
    }
    #submit-buttons-wrapper {
        width: 100%;
        display: flex;
        margin-top: 1.2rem;
        @media screen and (min-width: $smallTablet) {        
            grid-column: 2/3;
            grid-row: 1/2;
            flex-direction: row;
            margin-top: 0;
            align-items: flex-start;
            width: fit-content;
        }
        .btn {
            flex-grow: 1;
            flex-basis: 0;
            @media screen and (min-width: $smallTablet) {
                flex-grow: initial;
                flex-basis: initial;
                margin-bottom: 0.4rem;
            }
            &:not(:first-child) {
                margin-left: 0.4rem;
            }
        }
    }
    .name-box,
    .name-input-box {
        min-height: 1.6em;
        .text-field {
            height: 1.6em;
            padding: 0.48em 0.4em;
        }
    }
    .name-box {
        word-break: break-word;
        .btn {
            flex-shrink: 0;
        }
    }
    .part.name-input-box {
        .text-field {
            flex-grow: 1;
            width: 100%;
            max-width: 20rem;
        }
    }
    .group.name-input-box {
        .text-field {
            width: 100%;
            max-width: 20rem;
        }
    }
    .group,
    .part {
        &.name-box,
        &.name-input-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            .btn {
                margin-left: 0.4rem;
            }
        }
    }
    .group.name-box,
    .group.name-input-box {
        font-size: 1.36rem;
        font-weight: 500;
    }
    .part.name-box,
    .part.name-input-box {
        font-size: 1.18rem;
    }
    .natural.name-box, 
    .natural.name-input-box {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-gap: 0.8rem;
        align-items: center;
        margin: 0.16em 0;
        &:hover {
            background: var(--c-bgd-comp);
        }
        .btn {
            transform: scale(0.8);
            top: 1px;
            position: relative;
        }
    }
}

#naturals {
    #naturals-wrapper {
        max-width: 68.75rem;
        margin: 0 auto;
    }
    .naturals-filter-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.4rem;
        margin-bottom: 1.8rem;
        //border-left: 4px solid $greenDark;
        .btn {
            align-self: flex-end;
            width: 1.4em;
            height: 1.4em;
        }
    }
    .data-properties,
    .data-item {
        min-width: fit-content;
        align-items: center;
        justify-items: center;
        margin: 0.4rem;
        padding: 0.2rem 0.8rem;
        display: grid;
        grid-template-columns: 1fr 6rem 6rem 7.2rem;
        @media screen and (min-width: $smallTablet) {
            grid-template-columns: 1fr 7.2rem 7.2rem 7.2rem;
        }
        @media screen and (min-width: $tablet) {
            grid-template-columns: 1fr 8.8rem 8.8rem 8.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            grid-template-columns: 1fr 10rem 10rem 10rem;
        }
        @media screen and (min-width: $desktop) {
            grid-template-columns: 1fr 12rem 12rem 14rem;
        }
    }
    .data-properties > *,
    .data-item > *:not(.pictures) {
        width: 100%;
        text-align: center;
        .text-field {
            max-width: 100%;
        }
        .normal-buttons,
        .rename-buttons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                margin: auto 0.4rem;
            }
        }
    }
    .pictures {
        width: 100%;
        grid-column: 1/5;
        display: none;
        margin: 0.6rem 0 0.6rem 0;
        &.show {
            display: block;
        }
        .image {
            height: 18.75rem;
            width: fit-content;
            margin: auto;
            position: relative;
            .btn {
                margin: 1rem;
                position: absolute;
                &.hide-picture-button {
                    top: 0;
                    right: 0;
                }
                &.delete-picture-button {
                    bottom: 0;
                    right: 0;
                }
            }
            > img {
                height: 100%;
            }
        }
        .list {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.625rem;
            @media screen and (min-width: $smallMobile) {
                grid-template-columns: repeat(2, 1fr);
            } 
            @media screen and (min-width: $smallTablet) {
                display: flex;
                flex-direction: row;
                justify-content: center;
            } 
            .img-wrapper {
                width: 100%;
                position: relative;
                max-width: 12.5rem;
                aspect-ratio: 1 / 1; 
                margin: min(auto, 2.5rem);
                overflow: hidden;
                &:after {
                    content: "";
                    display: block;
                    filter: opacity(0);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(black, 0.4);
                    transition: all 0.4s;
                }
                &:hover,
                &:active {
                    > img {
                        filter: blur(5px) grayscale(40%);
                        transform: scale(1.1);
                    }
                    .img-buttons {
                        display: flex;
                    }
                    &:after {
                        filter: opacity(100%);
                    }
                }
                > img {
                    width: 100%;
                    aspect-ratio: 1 / 1; 
                    object-fit: cover;
                    transition: all 0.4s;
                }
                .img-buttons {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    display: none;
                    z-index: 2;
                    .btn {
                        margin: auto 0.4rem;
                        img {
                            @include turn-white;
                        }
                    }
                }
            }
        }
    }
    .data-properties > * {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            padding-left: 1.1em;
            @media screen and (min-width: $smallDesktop) {
                padding-left: 1.8em;
            }
        };
        .sort-buttons {
            margin-left: 0.2rem;
            display: flex;
            flex-direction: column;
            @media screen and (min-width: $smallDesktop) {
                flex-direction: row;
            }
            .sort-down-button {
                transform: rotate(180deg);
                transition: none;
            }
            
        }
        .btn {
            width: 0.72em;
            height: 0.72em;
            position: relative;
            top: 1px;
            img {
                position: relative;
                bottom: 3px;
            }
        }
    }
}