//scss partial soubor, který má na starost jedinečné styly pro hlavní část stránek

@import "_variables.scss";

#menu,
#learn,
#test,
#addPictures,
#accountSettings,
#manage,
#members,
#tests,
#editGroup,
#resolveReports {
	width: 100%;
	height: 100%;
	@include scrollbar(12px, $gray3, $gray1);
	position: relative;
	overflow-y: auto;
	@media screen and (min-width: $smallTablet) {
		height: 100vh;
		overflow: hidden;
	}
	background: #eee;
	.container {
		position: relative;
		min-height: 100vh;
		height: 100%;
		display: grid;
		grid-template-rows: auto auto 1fr auto;
		@media screen and (min-width: $smallTablet) {
			grid-template-columns: auto 1fr;
		}
	}
	header {	
		position: fixed;
		width: 100%;
		top: 0;
		padding: 0.2rem 0.6rem;
		z-index: 5;
		display: grid;
		grid-template-columns: auto auto 1fr;
		grid-template-rows: auto auto;
		.logo {
			grid-row: 2/3;
			grid-column: 1/4;
			margin: 0.2rem 0.4rem;
			@media screen and (min-width: $smallMobile) {
				margin: 0.2 0.6rem;
			}
		}
		@media screen and (min-width: $smallMobile) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: start;
		}
		@media screen and (min-width: $smallTablet) {
			position: relative;
		}
		grid-row: 1/2;
		@media screen and (min-width: $smallTablet) {
			grid-column: 1/3;
		}
		background: $greenDark;
		> * {
			margin: 0.2rem 1rem;
			@media screen and (min-width: $desktop) {
				margin: 0.2rem 0.8rem;
			}
		}
		.btn.icon {
			@media screen and (min-width: $smallTablet) {
				display: none;
			}
			margin: 0.2rem 0.4rem;
			height: 32px;
			width: 32px;
			> img {
				height: 100%;
				width: 100%;
			}
			&:last-child {
				margin-left: auto;	
			}
			&:active {
				transform: scale(0.88);
			}
		}
		.logo {
			display: flex;
			@media screen and (min-width: $smallTablet) {
				margin: 0;
				padding: 0.2rem 0.8rem;
				width: 216px;
				//background: $greenDark;
				height: 100%;
			}
			h1 {
				font-size: 2rem;
				letter-spacing: -0.08em;
				color: white;
				margin: 0;
			}
		}
	}
	aside {
		display: none;
		width: 64px;
		@media screen and (min-width: $smallTablet) {
			display: flex;
			flex-direction: column;
		}
		grid-row: 2/4;
		grid-column: 1/2;
		color: white;
		background: $gray3;
		.btn.icon {
			margin: 1rem auto;
			height: 32px;
			width: 32px;
			> img {
				height: 100%;
				width: 100%;
			}
			&:last-child {
				margin-top: auto;	
			}
			&:active {
				transform: scale(0.88);
			}
		}
	}
	.wrapper {
		padding: 1rem 1rem;
		@media screen and (min-width: $mobile) {
			padding: 1.6rem 2rem;
		}
		@media screen and (min-width: $smallDesktop) {
			padding:  2.4rem 3rem;
		}
	}
	main {
		grid-row: 2/4;
		@media screen and (min-width: $smallTablet) {
			grid-column: 2/3;
			overflow-y: auto;
			@include scrollbar(12px, $gray3, $gray2);
		}
	}
	footer {
		grid-row: 4/5;
		@media screen and (min-width: $smallTablet) {
			grid-column: 1/3;
		}
	}
	h2 {
		font-size: 1.2rem;
		font-weight: normal;
		margin: 1.2rem 1rem 0.4rem 1rem;
		@media screen and (min-width: $mobile) {
			margin: 1.6rem 2rem 0 2rem;
		}
		@media screen and (min-width: $smallDesktop) {
			margin:  2rem 3rem 0 3rem;
		}
		span {
			font-weight: bold;
		}
	}
}
#menu {
	.folders {
		* {
			margin: auto;
		}
		a {
			display: block;
		}
		li {
			display: block;
			background: white;
			border-radius: 4px;
			box-shadow: 0 3px 2px -1px rgba(black, 0.2);
		}
		&#menu-classes-table {
			ul.rows li {
				grid-template-columns: 1fr 6rem 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: 1fr 8rem 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: 1fr 8rem 8rem;
				}
				&#enter-code-wrapper,
				&#request-class-wrapper {
					display: flex;
					flex-direction: column;
					margin: 0.6rem 0;
					text-align: center;
					> * {
						margin: 0.2rem 0;
					}
				}
				&#request-class-wrapper {
					padding-bottom: 0.6rem;
					.btn {
						width: fit-content;
						margin: 0.2rem auto;
					}
				}
				#request-class-form {
					display: flex;
					flex-direction: column;
					width: 90%;
					max-width: 400px;
					margin: auto;
					> * {
						margin: 0;
					}
					.border-btn {
						width: 100%;
						margin: 0.6rem auto;
					}
					label, 
					input.text-field {
						margin: 0.2rem 0;
						text-align: left;
					}
					label:not(:nth-of-type(1)) {
						margin-top: 0.54rem;
					}
					label > span {
						font-weight: bold;
					}
					textarea {
						max-height: 160px;
					}
				}
			}
		}
		&#menu-groups-table {
			.table-title.rows {
				grid-template-columns: 1fr 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: 1fr 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: 1fr 8rem;
				}
			}
			ul.rows li {
				grid-template-columns: 1fr 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: 1fr 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: 1fr 8rem;
				}
			} 
		}
		&#menu-parts-table {
			ul.rows li {
				grid-template-columns: auto 1fr 6rem 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: auto 1fr 8rem 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: auto 1fr 8rem 8rem;
				}
				&.show {
					.col1 {
						display: none;
						@media screen and (min-width: 820px) {
							display: block;
							grid-column: 1/2;
							font-size: 0.9rem;
							margin-left: 0.6rem;
							text-align: left;
						} 
					}
					cursor: default;
				}
				.col1 {
					grid-column: 1/3;
				}
				.col2 {
					grid-column: 3/4;
				}
				.col3 {
					grid-column: 4/5;
				}
				.buttons {
					display: none;
					> * {
						margin: 0.2rem 0.2rem;
						@media screen and (min-width: $smallMobile) {
							margin: 0 0.4rem;
						}
						@media screen and (min-width: 820px) {
							margin: 0 0.8rem;
						}
					}
					&.show {
						width: 100%;
						display: flex;
						grid-column: 1/5;
						flex-direction: column;
						@media screen and (min-width: $smallMobile) {
							grid-column: 2/5;
							justify-content: space-around;
							flex-direction: row;
						}
						@media screen and (min-width: 820px) {
							grid-column: 2/5;
							justify-content: right;
						}
					}
				}
			} 
		}
		.table-title.rows {
			width: 100%;
			max-width: 780px;
			padding: 0.4rem;
			display: grid;
			grid-template-columns: 1fr 6rem 5rem;
			@media screen and (min-width: $smallMobile) {
				grid-template-columns: 1fr 8rem 6rem;
			}
			@media screen and (min-width: $mobile) {
				grid-template-columns: 1fr 8rem 8rem;
			}
		}
		ul {
			display: grid;
			&.rows {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 780px;
				position: relative;
				button {
					width: 100%;
					margin: 0.4rem 0;
				}
				li {
					display: grid;
					width: 100%;
					padding: 0.4rem;
				}
				.col1 {
					font-size: 1rem;
					@media screen and (min-width: $smallMobile) {
						font-size: 1.2rem;
					}
					@media screen and (min-width: 820px) {
						font-size: 1.4rem;
					}
				}
				span.tiles {
					display: none;
				}
			}
			&.tiles {
				grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
				grid-gap: 1rem;
				@media screen and (min-width: $mobile) {
					grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
					grid-gap: 2rem;
				}
				/*&.not-enough-tiles {
					grid-template-columns: repeat(auto-fit, 16rem);
				}*/
				grid-auto-rows: auto;
				> button, > li {
					width: 100%;
					min-height: 16rem;
					height: 100%;
					align-self: stretch;
					max-width: 16rem;
				}
				span, h4, h5 {
					text-align: center;
				}
				li {
					height: 100%;
					width: 100%;
					padding: 1rem;
					display: flex;
					flex-direction: column;
					align-content: center;
					h4 {
						word-break: break-word;
					}
					a.btn {
						margin: 0.4rem auto;
					}
				}
				#class-code-form {
					width: 100%;
					> * {
						width: 100%;
						margin: 4px 0;
					}
				}
			}
			.text-field {
				background: #eee;
			}
		}
	}
}

@import "_study.scss" ;

#accountSettings,
#manage {
	.user-data-section,
	.class-data-section {
		.user-data-item,
		.class-data-item {
			margin: 0.6rem;
			padding: 0.4rem 0.8rem;
			border: 1px solid #ccc;
			border-radius: 0.2rem;
			transition: height 0.2s ease-out;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			@media screen and (min-width: $smallTablet) {
				grid-template-columns: 10rem 13rem 1fr;
				grid-template-rows: auto 1fr;
				align-items: center;
			}
			> span {
				padding: calc(0.4em + 4px) 0;
			}
			.user-property-action,
			.class-property-action {
				grid-column: 2/3;
				@media screen and (min-width: $smallTablet) {
					grid-column: 3/4;
					text-align: right;
				}
			}
		}
	}
	#change-name,
	#change-password,
	#change-email,
	#change-class-name,
	#change-class-status {
		grid-column: 1/3;
		@media screen and (min-width: $smallTablet) {
			grid-column: 2/4;
			grid-row: 1/3;
			max-width: 400px;
		}
		p {
			margin-bottom: 0.6rem;
			text-align: justify;
		}
		.border-btn {
			margin: 0.6rem auto;
			width: 100%;
		}
		.inline.btn {
			margin-bottom: 0.2rem;
		}
	}
	#change-name,
	#change-password,
	#change-email,
	#delete-account1,
	#delete-account2,
	#change-class-name,
	#change-class-status,
	#delete-class1,
	#delete-class2 {
		display: flex;
		flex-direction: column;
		label, 
		input.text-field,
		.custom-select-wrapper {
			margin: 0.2rem 0;
		}
		label:not(:nth-of-type(1)) {
			margin-top: 0.54rem;
		}
	}
	h3 {
		font-size: 1em;
		font-weight: bold;
		line-height: 1.2em;
	}
	#delete-account1,
	#delete-class1 {
		max-width: 400px;
		.border-btn {
			margin: 0.6rem auto;
			width: 100%
		}
	}
	#delete-account2,
	#delete-class2 {
		span {
			color: $red1;
		}
		.buttons {
			display: flex;
			justify-content: left;
			.border-btn {
				width: fit-content;
				margin: 0.6rem 0;
				&:not(:last-child) {
					margin-right: 0.6rem;
				}
			}
		}
	}
}

#accountSettings {
	#account-settings-wrapper {
		margin: auto;
		@media screen and (min-width: $smallDesktop) {
			max-width: 1100px;
			display: grid;
			grid-template-columns: 1fr 3fr;
			grid-column-gap: 2rem;
		}
	}

	.user-image-section {
		padding: 0.6rem;
		margin: 0 auto;
		width: 90%;
		max-width: 260px;
		@media screen and (min-width: $smallDesktop) {
			width: 100%;
			max-width: auto;
		}
		> div {
			text-align: center;
			margin: 0.6rem auto;
			font-size: 1.2rem;
			> span {
				font-weight: bold;
			}
		}
	}
		.delete-account-section {
		grid-column: 2/3;
		margin: 0.6rem;
	}
}

#manage {
	#manage-wrapper {
		margin: auto;
		max-width: 800px;
	}
	.class-buttons-section {
		padding: 0.6rem;
		display: flex;
		flex-direction: column;
		@media screen and (min-width: 440px) {
			display: block;
		}
		.border-btn {
			margin: 0.2rem 0;
		}
	}
	#manage-buttons {
		display: flex;
		flex-direction: column;
		margin: 0.4rem 0;
		@media screen and (min-width: 440px) {
			display: block;
			.border-btn {
				margin: 0.3rem auto;
				&:not(:last-child) {
					margin-right: 0.6rem;
				}
			}
		}
	}
}