//scss partial soubor, který má na starost jedinečné styly pro hlavní část stránek

@import "_variables.scss";

#menu,
#learn,
#test,
#add-pictures,
#account-settings,
#manage,
#members,
#tests,
#edit-group,
#resolve-reports,
#naturals {
	@include scrollbar(12px, $gray3, $gray1);
	position: relative;
	background: #eee;
	@media screen and (min-width: $smallTablet) {
		height: 100vh;
		overflow: hidden;
	}
	.container {
		@media screen and (min-width: $smallTablet) {
			grid-template-columns: auto 1fr;
			grid-template-rows: auto auto 1fr auto auto;
		}
	}
	header {	
		background: $greenDark;
		position: fixed;
		width: 100%;
		top: 0;
		padding: 0.2rem 0.6rem;
		z-index: 5;
		display: grid;
		grid-template-columns: auto auto 1fr;
		grid-template-rows: auto auto;
		@media screen and (min-width: 420px) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: start;
		}
		@media screen and (min-width: $smallTablet) {
			position: relative;
			grid-column: 1/3;
		}
		.logo {
			grid-row: 2/3;
			grid-column: 1/4;
			margin-left: 0rem;
			@media screen and (min-width: 420px) {
				margin-left: 1rem;
			}
			@media screen and (min-width: $smallTablet) {
				margin-left: 0.6rem;
			}
		}
		.icon {
			margin: 0.4rem 1rem 0.4rem 0;
			height: 32px;
			width: 32px;
			@media screen and (min-width: $smallTablet) {
				display: none;
			}
			&:last-child {
				margin-left: auto;
				margin-right: 0;	
			}
		}
	}
	aside {
		display: none;
		width: 64px;
		grid-row: 2/5;
		grid-column: 1/2;
		color: white;
		background: $gray3;
		@media screen and (min-width: $smallTablet) {
			display: flex;
			flex-direction: column;
		}
		.icon {
			margin: 1rem auto;
			height: 32px;
			width: 32px;
			&:last-child {
				margin-top: auto;	
			}
		}
	}
	.wrapper {
		min-width: fit-content;
		padding: 1rem 1rem;
		@media screen and (min-width: $mobile) {
			padding: 1.6rem 2rem;
		}
		@media screen and (min-width: $smallDesktop) {
			padding:  2.4rem 3rem;
		}
	}
	main {
		grid-row: 2/4;
		@media screen and (min-width: $smallTablet) {
			grid-column: 2/3;
			overflow-y: auto;
			@include scrollbar(12px, $gray3, $gray2);
		}
	}
	#messages {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 10;
		@media screen and (min-width: $smallTablet) {
			position: relative;
			grid-column: 2/3;
			grid-row: 4/5;
		}

	}
	footer {
		grid-row: 4/5;
		@media screen and (min-width: $smallTablet) {
			grid-column: 1/3;
			grid-row: 5/6;
		}
	}
	h2 {
		font-size: 1.2rem;
		font-weight: normal;
		padding: 1.2rem 1rem 0.4rem 1rem;
		display: block;
		margin: 0;
		@media screen and (min-width: $mobile) {
			padding: 1.6rem 2rem 0 2rem;
		}
		@media screen and (min-width: $smallDesktop) {
			padding:  2rem 3rem 0 3rem;
		}
		span:last-child {
			font-weight: bold;
		}
	}
}


#menu {
	#changelog {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
		padding: 1.6rem;
		background: white;
		border-radius: 0.6rem;
		border: 2px solid $greenDark;
		width: 95vw;
		max-width: 600px;
		//max-height: 80vh;
		height: auto;
		overflow: hidden;
		.button-wrapper {
			position: relative;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
			height: 1.6rem;
			width: 1.6rem;
		}
		ul {
			overflow-y: auto;
			max-height: 60vh;
			@include scrollbar(12px, $gray3, white);
		}
		h3 {
			margin: 0 0 0.8rem 0;
		}
		li {
			list-style-type: circle;
			padding-left: 0.4rem;
			margin-left: 1.2rem;
			padding-right: 0.6rem;
			&:not(:last-child) {
				margin-bottom: 0.32rem;
			}
		}
	}
	.folders {
		* {
			margin: auto;
		}
		a {
			display: block;
		}
		li {
			display: block;
			background: white;
			border-radius: 4px;
			box-shadow: 0 3px 2px -1px rgba(black, 0.2);
		}
		&#menu-classes-table {
			li {
				grid-template-columns: 1fr 6rem 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: 1fr 8rem 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: 1fr 8rem 8rem;
				}
			}
			.invitation {
				grid-template-rows: auto auto;
				margin: 0.4rem 0 0.6rem 0;
				.invitation-info
				{
					font-size: 0.8rem;
					width: 100%;
					padding: 0 0.6rem;
					grid-row: 1/2;
					grid-column: 1/4;
					text-align: left;
				}
				.invitation-accept {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					.btn {
						margin: 0 0.4rem
					}
				}
			}
			#enter-code-wrapper,
			#request-class-wrapper {
				display: flex;
				flex-direction: column;
				margin: 0.6rem 0;
				text-align: center;
				> * {
					margin: 0.2rem 0;
				}
			}
			#class-code-form {
				.btn {
					width: fit-content;
				}
				.text-field {
					width: 8rem;
				}
			}
			#request-class-wrapper {
				padding-bottom: 0.6rem;
				.btn {
					width: fit-content;
					margin: 0.2rem auto;
				}
			}
			#request-class-form {
				display: flex;
				flex-direction: column;
				width: 90%;
				max-width: 400px;
				margin: auto;
				> * {
					margin: 0;
				}
				.border-btn {
					width: 100%;
					margin: 0.6rem auto;
				}
				label, 
				input.text-field {
					margin: 0.12rem 0;
					text-align: left;
				}
				label:not(:nth-of-type(1)) {
					margin-top: 0.54rem;
				}
				label > span {
					font-weight: bold;
				}
				textarea {
					max-height: 160px;
				}
			}
		}
		&#menu-groups-table {
			.table-title {
				grid-template-columns: 1fr 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: 1fr 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: 1fr 8rem;
				}
			}
			li {
				grid-template-columns: 1fr 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: 1fr 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: 1fr 8rem;
				}
			} 
		}
		&#menu-parts-table {
			li {
				grid-template-columns: auto 1fr 6rem 5rem;
				@media screen and (min-width: $smallMobile) {
					grid-template-columns: auto 1fr 8rem 6rem;
				}
				@media screen and (min-width: $mobile) {
					grid-template-columns: auto 1fr 8rem 8rem;
				}
				&.show {
					.part-name {
						display: none;
						@media screen and (min-width: 820px) {
							display: block;
							grid-column: 1/2;
							font-size: 0.9rem;
							margin-left: 0.6rem;
							text-align: left;
						} 
					}
					cursor: default;
				}
				&.empty {
					.part-naturals-count,
					.part-pictures-count {
						color: $red1;
					}
				}
				.part-name {
					grid-column: 1/3;
				}
				.part-naturals-count {
					grid-column: 3/4;
				}
				.part-pictures-count {
					grid-column: 4/5;
				}
				.buttons {
					display: none;
					> * {
						margin: 0.2rem 0.2rem;
						@media screen and (min-width: $smallMobile) {
							margin: 0 0.4rem;
						}
						@media screen and (min-width: 820px) {
							margin: 0 0.8rem;
						}
					}
					&.show {
						width: 100%;
						display: flex;
						grid-column: 1/5;
						flex-direction: column;
						@media screen and (min-width: $smallMobile) {
							grid-column: 2/5;
							justify-content: space-around;
							flex-direction: row;
						}
						@media screen and (min-width: 820px) {
							grid-column: 2/5;
							justify-content: flex-end;
						}
					}
				}
				.part-info {
					display: none;
					&.show {
						display: block;
						width: 100%;
						text-align: center;
						padding: 0 0.4rem;
						grid-column: 1/5;
						@media screen and (min-width: $smallMobile) {
							grid-column: 2/5;
						}
						@media screen and (min-width: 820px) {
							grid-column: 2/5;
							text-align: right;
						}
					}
				}
			} 
		}
		.table-title {
			width: 100%;
			max-width: 780px;
			padding: 0.4rem;
			display: grid;
			grid-template-columns: 1fr 6rem 5rem;
			@media screen and (min-width: $smallMobile) {
				grid-template-columns: 1fr 8rem 6rem;
			}
			@media screen and (min-width: $mobile) {
				grid-template-columns: 1fr 8rem 8rem;
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 780px;
			position: relative;
			button {
				width: 100%;
				margin: 0.4rem 0;
			}
			li {
				display: grid;
				width: 100%;
				padding: 0.4rem;
				min-height: 2.98rem;
				color: $black1;
			}
			.class-name, 
			.test-name,
			.part-name {
				font-size: 1rem;
				@media screen and (min-width: $smallMobile) {
					font-size: 1.2rem;
				}
				@media screen and (min-width: 820px) {
					font-size: 1.4rem;
				}
			}
			.text-field {
				background: #eee;
			}
		}
	}
}

@import "_study.scss" ;

@import "_manage.scss" ;
