#index,
#legal,
#recover-password {
    background: var(--c-bgd);
    .container {
        grid-template-rows: auto 1fr auto;
    }
    header {
        background: linear-gradient(90deg, $greenDark, $gradientDark);
        z-index: 4;
        inset: 0;
        mask:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80px 80px" ><circle cx="24" cy="24" r="40px" fill="black"/></svg>') 0/100% 100%, //nevím jak to funguje
            linear-gradient(#fff,#fff);
        mask-composite: exclude;  
        -webkit-mask-composite: destination-out;
        padding: 1rem 1rem;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 1rem 4.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 1rem 6rem;
        }
    }
    #logo-standalone {
        display: block; 
        top: -0.75rem;
        left: -0.75rem;
        height: 4.5rem;
        width: 4.5rem;
        position: absolute;
        z-index: 5;
        border-radius: 6.25rem;
        background: linear-gradient(135deg, $greenDark, $gradientDark);
        img {
            position: relative;
            top: 1.25rem;
            left: 1.25rem;
            height: 50%;
            width: 50%;
            margin: auto;
        }
    }
}