$smallMobile: 360px;
$mobile: 576px;
$smallTablet: 672px;
$tablet: 768px;
$smallDesktop: 960px;
$desktop: 1200px;

$gray1: #222;
$gray2: #eee;
$gray3: #444;
$black1: #121212;
$black2: #1c1c1c;

$error: #a00;
$errorDesaturated: #cc6666; // 40%
$warning: #960;
$warningDesaturated: #c2a366; // 40%

$greenDark: #366e11;
$greenDarkDesaturated: #68924d; // 25%
$greenMid: #479911;
$greenMidDesaturated: #75b34d; // 25%
$greenLight: #79cf40;
$purpleLight: #bd4ac2;
$purpleDark: #6a106e;
$gradientDark: #007F44;

$textWhite: #eee;
$textBlack: $black1;


//light mode
body {
    --c-overlay-dark: #000;
    --c-overlay-light: #fff;
    --c-primary: #{$greenMid};
    --c-primary-contrast: #{$greenDark};
    --c-text: #{$textBlack};
    --c-text-inv: #{$textWhite};
    --c-text-info: #{$gray3};
    --c-error: #{$error};
    --c-warning: #{$warning};
    --c-info: #666;
    --c-bgd: #{$gray2}; 
    --c-bgd-popup: #fff;
    --c-bgd-comp: #ddd;
    --c-tile: #fff;
    --c-tile-border: #ccc;
    --c-footer: #{$black1};
    --c-side-panel: #{$gray3};
    --c-nav: #e0e0e0;
    --c-text-field: #fff;
    --c-button-primary: #{$black1};
    --c-button-dark: #{$black1};
    --c-button-light: #eee;
    --c-disabled: #888;
    --c-selected-hover: #{$gray2};
    --c-selected: #{$greenMid};
    --c-checkmark: #{$greenMid};
}

//dark mode 
@media (prefers-color-scheme: dark) {
    body {
        --c-overlay-dark: #fff;
        --c-overlay-light: #000;
        --c-primary: #{$greenMid};
        --c-primary-contrast: #{$greenLight};
        --c-text: #{$textWhite};
        --c-text-inv: #{$textBlack};
        --c-text-info: #aaa;
        --c-error: #{$errorDesaturated};
        --c-warning: #{$warningDesaturated};
        --c-info: #aaa;
        --c-bgd: #{$gray1};
        --c-bgd-popup: #333;
        --c-bgd-comp: #333;
        --c-tile: #2e2e2e;
        --c-tile-border: #666;
        --c-footer: #{$black1};
        --c-side-panel: #323232; 
        --c-nav: ${$gray1};
        --c-text-field: #{$black2};
        --c-button-primary: #{$greenMidDesaturated};
        --c-button-dark: #eee;
        --c-button-light: #eee;
        --c-disabled: #666;
        --c-selected-hover: #{$greenDarkDesaturated};
        --c-selected: #{$greenDark};
        --c-checkmark: #{$greenMid};
    }
}


@mixin scrollbar($size, $foreground-color, $background-color) {
    scrollbar-color: $foreground-color $background-color;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }    
}

@mixin text-color($color) {
    color: $color;
    a {
        color: $color;
    }
}

@mixin turn-white {
    filter: brightness(0) saturate(100%) invert(100%);
}