$smallMobile: 360px;
$mobile: 576px;
$smallTablet: 672px;
$tablet: 768px;
$smallDesktop: 960px;
$desktop: 1200px;

$gray1: #222;
$gray2: #eee;
$gray3: #444;
$black1: #121212;
$black2: #1c1c1c;

$error: #a00;
$errorDesaturated: #cc6666; // 40%
$warning: #960;
$warningDesaturated: #c2a366; // 40%

$greenDark: #366e11;
$greenDarkDesaturated: #68924d; // 25%
$greenMid: #479911;
$greenMidDesaturated: #75b34d; // 25%
$greenLight: #79cf40;
$purpleLight: #bd4ac2;
$purpleDark: #6a106e;
$gradientDark: #007F44;

$textWhite: #eee;
$textBlack: $black1;

$buttonWhite: #eee;



@mixin light-palette {
    --c-overlay-dark: #000;
    --c-overlay-light: #fff;
    --c-primary: #{$greenMid};
    --c-primary-contrast: #{$greenDark};
    --c-text: #{$textBlack};
    --c-text-inverted: #{$textWhite};
    --c-text-green: #{$greenDark};
    --c-text-info: #{$gray3};
    --c-text-disabled: #444;
    --c-error: #{$error};
    --c-warning: #{$warning};
    --c-info: #666;
    --c-bgd: #{$gray2}; 
    --c-bgd-popup: #fff;
    --c-bgd-comp: #ddd;
    --c-bgd-report: #fff;
    --c-tile: #fff;
    --c-tile-border: #ccc;
    --c-footer: #{$black1};
    --c-side-panel: #{$gray3};
    --c-nav: #e0e0e0;
    --c-text-field: #fff;
    --c-text-field-variant: #{$gray2};
    --c-text-field-disabled: #ddd;
    --c-button-primary: #{$black1};
    --c-button-dark: #{$black1};
    --c-button-light: #{$buttonWhite};
    --c-button-disabled: #888;
    --c-selected-hover: #{$gray2};
    --c-selected-hover-variant: #ddd;
    --c-selected: #{$greenMid};
    --c-checkmark: #{$greenMid};
    --c-scrollbar-thumb: #{$gray3};
    --c-scrollbar-thumb-hover: #{$gradientDark};
}
@mixin dark-palette {
    --c-overlay-dark: #fff;
    --c-overlay-light: #000;
    --c-primary: #{$greenMid};
    --c-primary-contrast: #{$greenLight};
    --c-text: #{$textWhite};
    --c-text-inverted: #{$textBlack};
    --c-text-green: #{$greenLight};
    --c-text-info: #aaa;
    --c-text-disabled: #888;
    --c-error: #{$errorDesaturated};
    --c-warning: #{$warningDesaturated};
    --c-info: #aaa;
    --c-bgd: #{$gray1};
    --c-bgd-popup: #333;
    --c-bgd-comp: #333;
    --c-bgd-report: #333;
    --c-tile: #2e2e2e;
    --c-tile-border: #666;
    --c-footer: #{$black1};
    --c-side-panel: #323232; 
    --c-nav: ${$gray1};
    --c-text-field: #{$black2};
    --c-text-field-variant: #{$black2};
    --c-text-field-disabled: #444;
    --c-button-primary: #{$greenMidDesaturated};
    --c-button-dark: #{$buttonWhite};
    --c-button-light: #{$buttonWhite};
    --c-button-disabled: #666;
    --c-selected-hover: #{$greenDarkDesaturated};
    --c-selected-hover-variant: #{$greenDarkDesaturated};
    --c-selected: #{$greenDark};
    --c-checkmark: #{$greenMid};
    --c-scrollbar-thumb: #666;
    --c-scrollbar-thumb-hover: #{$gradientDark};
}

body {
    @include light-palette();
}
@media (prefers-color-scheme: light) {
    body {
        @include light-palette();
    }
}
@media (prefers-color-scheme: dark) {
    body {
        @include dark-palette();
    }
}

//light mode
body.light-theme {
    @include light-palette();
}

//dark mode 
body.dark-theme {
    @include dark-palette();
}

@mixin scrollbar($width, $moz-width, $thumb, $thumb-hover, $background) {
    @-moz-document url-prefix() {
        scrollbar-color: #666 transparent;
        scrollbar-width: $moz-width;
    }
    
    ::-webkit-scrollbar {
        width: $width;
    }
    ::-webkit-scrollbar-track {
        //background: $background;
        display: none;
    }
    ::-webkit-scrollbar-thumb {
        background: $thumb; 
        //border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover;
    }    
}

@mixin text-color($color) {
    color: $color;
    a {
        color: $color;
    }
}

@mixin turn-white {
    filter: brightness(0) saturate(100%) invert(100%);
}