//scss partial soubor, kde jsou uloženy proměnné

$mobile: 576px;
$tablet: 768px;
$smallDesktop: 960px;
$desktop: 1200px;

$gray1: #222;
$gray2: #eee;
$black1: #101010;

$red1: #a00;

$greenDark: #366e11;
$greenMid: #479911;
$greenLight: #79cf40;
$purpleLight: #bd4ac2;
$purpleDark: #6a106e;