//@import "_reset.scss";
@import "_variables.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  font-family: serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.4);
    display: none;
}
main {
    margin: 1rem;
    flex: 1 1 auto;
    border: 1px solid #000;
    overflow-y: auto;
}
header {
    border: 1px solid #000;
    margin: 1rem 1rem 0 1rem;
    font-size: 1.2rem;
    flex: 0 1 auto;
}
a {
    color: black;
}
nav {
    display: flex;
    flex-wrap: wrap;
    a {
        text-decoration: none;
        padding: 0.6rem;
        height: 2.4rem;
        &:last-child {
            color: gray;
        }
    }
    .active-tab {
        background: lightgray;
        cursor: default;
    }
    :not(.active-tab) {
        &:hover {
            cursor: pointer;
            background:#eee;
        }
    }
}
footer {
    display: none;
}
table {
    border-collapse: collapse;
    max-width: 100%;
}
input {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: none;
    border: 1px solid gray;
    font-family: serif;
    font-size: 100%;
    &:focus {
        border: 1px solid darkred;
        outline: 1px solid darkred;
    }
}
td,
th {
    padding: 0 0.2rem;
    margin: 0;
    vertical-align: middle;
}
td {
    word-break: break-word;
}
.class-owner-table td:nth-child(1) {
    word-break: keep-all;
}
tr {
    height: 2rem;
}
.btn {
    background: transparent;
    &:hover {
        cursor: pointer;
    }
    &.icon {
        display: block;
        height: 1.2em;
        width: 1.2em;
        img {
            transition: transform 0.2s ease-out;
            height: 100%;
            width: 100%;
        }
        &.disabled {
            filter: grayscale(100%);
            pointer-events: none;
            &:hover { 
                cursor: auto;
            }
        }
    }
    &.border-btn {
        border: 1px solid black;
        margin: 0 0.2rem 0 0;
        padding: 0.16rem 0.32rem;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.06);
        }
        &.disabled {
            filter: grayscale(100%);
            border: 1px solid #444;
            color: #444;
            pointer-events: none;
            &:hover {
                cursor: auto;
            }
        }
    }
}

textarea {
    border: 1px solid gray;
    padding: 0.2rem 0.4rem;
    resize: vertical;
    min-height: 3.8rem;
    width: 100%;
    margin: 0.2rem 0;
    &:focus {
        border: 1px solid darkred;
        outline: 1px solid darkred;
    }
}

#administrate {
    #stats {
        margin: auto;
        width: 90%;
        @media screen and (min-width: $mobile) {
            width: 75%;
        }
        @media screen and (min-width: $tablet) {
            width: 55%;
        }
        @media screen and (min-width: $smallDesktop) {
            width: 35%;
        }
    }
    h1 {
        text-align: center;
        margin-top: 0.8rem;
        line-height: 1em;
    }
    table {
        width: 100%;
        margin: 0.8rem 0;
        border-top:solid 1px #444;
        td {
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
                word-break: keep-all;
            }
        }
    }
}

#users,
#classes,
#admin-reports,
#name-change-requests,
#database,
#alerts {
    table {
        margin: auto;
        text-align: center;
    }
    th {
        position: sticky;
        top: 0;
        background: lightgray;
        padding: 0.1rem 0.4rem;
        z-index: 5;
    }
    tr:nth-child(odd) {
        background: #eee;
    }
    td {
        padding: 0.1rem 0.4rem;
        &:not(:last-child) {
            border-right: 1px solid lightgray;
        }
    }
}


#users,
#classes,
#admin-reports,
#name-change-requests,
#alerts {
    .class-owner-table tr:nth-child(odd) {
        background: transparent;
    }
    input {
        border: none;
        text-align: center;
        &[type='number'] {
            width: 5.4rem;
            padding-left: 1.2rem;
        }
    }
    select {
        border: none;
        background: transparent;
    }
    .user-action > div,
    .class-action > div,
    .report-action > div,
    .name-change-request-action > div,
    .alert-action > div {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: $tablet) {
            flex-direction: row;
        }
        .user-edit-buttons,
        .class-edit-buttons {
            display: flex;
            justify-content: center;
        }
        .btn {
            margin: 0.16rem;
        }
    }
}

#report-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 90%;
    @media screen and (min-width: $mobile) {
        width: 80%;
    }
    @media screen and (min-width: $tablet) {
        width: 65%;
    }
    @media screen and (min-width: $smallDesktop) {
        width: 45%;
    }
    img {
        width: 100%;
        border: 1px solid black;
    }
    .btn {
        position: absolute;
        top: 0;
        right: 0;
        background: black;
    }
}

#mailsender {
    position: relative;
    #email {
        width: 95%;
        margin: auto;
        @media screen and (min-width: $mobile) {
            width: 85%;
        }
        @media screen and (min-width: $tablet) {
            width: 65%;
        }
        @media screen and (min-width: $smallDesktop) {
            width: 45%;
        }
    }
    table {
        margin: 0.2rem 0;
        tr {
            height: fit-content;
            td {
                padding: 0.1rem 0.2rem 0.1rem 0;
            }
        }
    }
    #email-info {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: start;
        margin: 0.4rem 0;
        * {
            margin: 0.2rem 0;
            padding: 0.2rem 0.4rem;
        }
        label {
            margin-right: 0.2rem;
        }
    }
    #email-editor {
        margin: 0.8rem 0;
        textarea {
            height: 16vh;
            max-height: 36vh;
        }
        label {
            margin-top: 0.6rem;
            display: block;
        }
    }
    #email-preview {
        width: 100%;
        margin: 1rem auto;
        span {
            margin-bottom: 1rem;
        }
    }
    .info {
        margin-top: 0.8rem;
        font-size: 0.8rem;
        color: #444;
    }
}

#alerts {
    .center {
        display: block;
        margin: auto;
        width: 96%;
        @media screen and (min-width: $mobile) {
            width: 88%;
        }
        @media screen and (min-width: $tablet) {
            width: 72%;
        }
        @media screen and (min-width: $smallDesktop) {
            width: 56%;
        }
    }
    #import-alerts-wrapper {
        padding: 1rem 0;
        .btn {
            margin: auto;
            display: block;
        }
        p {
            margin: 0.8rem 0;
            font-size: 0.9rem;
            text-align: justify;
            @media screen and (min-width: 1172px) {
                text-align: center;
            }
        }
    }
    .alert-data-item {
        &.emergency {
            td.alert-level {
                background: #ec52bb;
            }
        }
        &.alert {
            td.alert-level {
                background: #ff6868;
            }
        }
        &.critical {
            td.alert-level {
                background: #ffae70;
            }
        }
        &.error {
            td.alert-level {
                background: #ffe76f;
            }
        }
    }
}

#database {
    position: relative;
    #sql {
        width: 100%;
    }
    .sql-center {
        display: block;
        margin: auto;
        text-align: justify;
        width: 96%;
        @media screen and (min-width: $mobile) {
            width: 88%;
        }
        @media screen and (min-width: $tablet) {
            width: 72%;
        }
        @media screen and (min-width: $smallDesktop) {
            width: 56%;
        }
    }
    #sql-warning {
        margin: 0.4rem auto;
    }
    #sql-query {
        margin: 0.6rem auto;
        textarea {
            max-height: 24vh;
            margin-bottom: 0.4rem;
        }
    }    
    #sql-result {
        p {
            display: block;
            margin: 0 auto 0.4rem auto;
            width: 96%;
            @media screen and (min-width: $mobile) {
                width: 88%;
            }
            @media screen and (min-width: $tablet) {
                width: 72%;
            }
            @media screen and (min-width: $smallDesktop) {
                width: 56%;
            }
        }
        table {
            position: relative;
        }
    }
}