* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  font-family: "Times New Roman", serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

main {
  margin: 1rem;
  flex: 1 1 auto;
  border: 1px solid #000;
  overflow-y: auto;
}

header {
  border: 1px solid #000;
  margin: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  flex: 0 1 auto;
}

a {
  color: black;
}

nav {
  display: flex;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  padding: 0.6rem;
  height: 2.4rem;
}
nav a:last-child {
  color: gray;
}
nav .active-tab {
  background: lightgray;
  cursor: default;
}
nav :not(.active-tab):hover {
  cursor: pointer;
  background: #eee;
}

footer {
  display: none;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

input {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background: none;
  border: 1px solid gray;
  font-family: "Times New Roman", serif;
  font-size: 100%;
}
input:focus {
  border: 1px solid darkred;
  outline: 1px solid darkred;
}

td,
th {
  padding: 0 0.2rem;
  margin: 0;
  vertical-align: middle;
}

td {
  word-break: break-word;
}

.class-owner.table td:nth-child(1) {
  word-break: keep-all;
}

tr {
  height: 2rem;
}

.btn {
  background: transparent;
}
.btn:hover {
  cursor: pointer;
}
.btn.icon {
  display: block;
  height: 1.2em;
  width: 1.2em;
}
.btn.icon img {
  transition: transform 0.2s ease-out;
  height: 100%;
  width: 100%;
}
.btn.icon.disabled {
  filter: grayscale(100%);
  pointer-events: none;
}
.btn.icon.disabled:hover {
  cursor: auto;
}
.btn.border-btn {
  border: 1px solid black;
  margin: 0 0.2rem 0 0;
  padding: 0.16rem 0.32rem;
}
.btn.border-btn:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.btn.border-btn.disabled {
  filter: grayscale(100%);
  border: 1px solid #444;
  color: #444;
  pointer-events: none;
}
.btn.border-btn.disabled:hover {
  cursor: auto;
}

textarea {
  border: 1px solid gray;
  padding: 0.2rem 0.4rem;
  resize: vertical;
  min-height: 3.8rem;
  width: 100%;
  margin: 0.2rem 0;
}
textarea:focus {
  border: 1px solid darkred;
  outline: 1px solid darkred;
}

#administrate #stats {
  margin: auto;
  width: 90%;
}
@media screen and (min-width: 576px) {
  #administrate #stats {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  #administrate #stats {
    width: 55%;
  }
}
@media screen and (min-width: 960px) {
  #administrate #stats {
    width: 35%;
  }
}
#administrate h1 {
  text-align: center;
  margin-top: 0.8rem;
  line-height: 1em;
}
#administrate table {
  width: 100%;
  margin: 0.8rem 0;
  border-top: solid 1px #444;
}
#administrate table td:nth-child(1) {
  text-align: left;
}
#administrate table td:nth-child(2) {
  text-align: center;
}
#administrate table td:nth-child(3) {
  text-align: right;
  word-break: keep-all;
}

#users table,
#classes table,
#admin-reports table,
#name-change-requests table,
#database table,
#alerts table {
  margin: auto;
  text-align: center;
}
#users th,
#classes th,
#admin-reports th,
#name-change-requests th,
#database th,
#alerts th {
  position: sticky;
  top: 0;
  background: lightgray;
  padding: 0.1rem 0.4rem;
  z-index: 5;
}
#users tr:nth-child(odd),
#classes tr:nth-child(odd),
#admin-reports tr:nth-child(odd),
#name-change-requests tr:nth-child(odd),
#database tr:nth-child(odd),
#alerts tr:nth-child(odd) {
  background: #eee;
}
#users td,
#classes td,
#admin-reports td,
#name-change-requests td,
#database td,
#alerts td {
  padding: 0.1rem 0.4rem;
}
#users td:not(:last-child),
#classes td:not(:last-child),
#admin-reports td:not(:last-child),
#name-change-requests td:not(:last-child),
#database td:not(:last-child),
#alerts td:not(:last-child) {
  border-right: 1px solid lightgray;
}

#users .class-owner.table tr:nth-child(odd),
#classes .class-owner.table tr:nth-child(odd),
#admin-reports .class-owner.table tr:nth-child(odd),
#name-change-requests .class-owner.table tr:nth-child(odd),
#alerts .class-owner.table tr:nth-child(odd) {
  background: transparent;
}
#users input,
#classes input,
#admin-reports input,
#name-change-requests input,
#alerts input {
  border: none;
  text-align: center;
}
#users input[type=number],
#classes input[type=number],
#admin-reports input[type=number],
#name-change-requests input[type=number],
#alerts input[type=number] {
  width: 5.4rem;
  padding-left: 1.2rem;
}
#users select,
#classes select,
#admin-reports select,
#name-change-requests select,
#alerts select {
  border: none;
  background: transparent;
}
#users .action > div,
#classes .action > div,
#admin-reports .action > div,
#name-change-requests .action > div,
#alerts .action > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  #users .action > div,
  #classes .action > div,
  #admin-reports .action > div,
  #name-change-requests .action > div,
  #alerts .action > div {
    flex-direction: row;
  }
}
#users .action > div .btn,
#classes .action > div .btn,
#admin-reports .action > div .btn,
#name-change-requests .action > div .btn,
#alerts .action > div .btn {
  margin: 0.16rem;
}
#users .user.action > div .edit-buttons,
#users .user.action > div .change-class-owner-buttons,
#users .class.action > div .edit-buttons,
#users .class.action > div .change-class-owner-buttons,
#classes .user.action > div .edit-buttons,
#classes .user.action > div .change-class-owner-buttons,
#classes .class.action > div .edit-buttons,
#classes .class.action > div .change-class-owner-buttons,
#admin-reports .user.action > div .edit-buttons,
#admin-reports .user.action > div .change-class-owner-buttons,
#admin-reports .class.action > div .edit-buttons,
#admin-reports .class.action > div .change-class-owner-buttons,
#name-change-requests .user.action > div .edit-buttons,
#name-change-requests .user.action > div .change-class-owner-buttons,
#name-change-requests .class.action > div .edit-buttons,
#name-change-requests .class.action > div .change-class-owner-buttons,
#alerts .user.action > div .edit-buttons,
#alerts .user.action > div .change-class-owner-buttons,
#alerts .class.action > div .edit-buttons,
#alerts .class.action > div .change-class-owner-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#report-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  max-height: 80vh;
}
#report-image img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
#report-image .btn {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
}

#mailsender {
  position: relative;
}
#mailsender #email {
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 576px) {
  #mailsender #email {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  #mailsender #email {
    width: 65%;
  }
}
@media screen and (min-width: 960px) {
  #mailsender #email {
    width: 45%;
  }
}
#mailsender table {
  margin: 0.2rem 0;
}
#mailsender table tr {
  height: -moz-fit-content;
  height: fit-content;
}
#mailsender table tr td {
  padding: 0.1rem 0.2rem 0.1rem 0;
}
#mailsender #email-info {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  margin: 0.4rem 0;
}
#mailsender #email-info * {
  margin: 0.2rem 0;
  padding: 0.2rem 0.4rem;
}
#mailsender #email-info label {
  margin-right: 0.2rem;
}
#mailsender #email-editor {
  margin: 0.8rem 0;
}
#mailsender #email-editor textarea {
  height: 16vh;
  max-height: 36vh;
}
#mailsender #email-editor label {
  margin-top: 0.6rem;
  display: block;
}
#mailsender #email-preview {
  width: 100%;
  margin: 1rem auto;
}
#mailsender #email-preview span {
  margin-bottom: 1rem;
}
#mailsender .info {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: #444;
}

#alerts .center {
  display: block;
  margin: auto;
  width: 96%;
}
@media screen and (min-width: 576px) {
  #alerts .center {
    width: 88%;
  }
}
@media screen and (min-width: 768px) {
  #alerts .center {
    width: 72%;
  }
}
@media screen and (min-width: 960px) {
  #alerts .center {
    width: 56%;
  }
}
#alerts #import-alerts-wrapper {
  padding: 1rem 0;
}
#alerts #import-alerts-wrapper .btn {
  margin: auto;
  display: block;
}
#alerts #import-alerts-wrapper p {
  margin: 0.8rem 0;
  font-size: 0.9rem;
  text-align: justify;
}
@media screen and (min-width: 1172px) {
  #alerts #import-alerts-wrapper p {
    text-align: center;
  }
}
#alerts data-item .alert-date {
  word-break: keep-all;
}
@media screen and (min-width: 768px) {
  #alerts data-item .alert-date {
    white-space: nowrap;
  }
}
#alerts data-item .alert-level {
  word-break: keep-all;
}
#alerts data-item .alert-content {
  text-align: left;
}
#alerts data-item.emergency td.alert-level {
  background: #ec52bb;
}
#alerts data-item.alert td.alert-level {
  background: #ff6868;
}
#alerts data-item.critical td.alert-level {
  background: #ffae70;
}
#alerts data-item.error td.alert-level {
  background: #ffe76f;
}

#database {
  position: relative;
}
#database #sql {
  width: 100%;
}
#database .sql-center {
  display: block;
  margin: auto;
  text-align: justify;
  width: 96%;
}
@media screen and (min-width: 576px) {
  #database .sql-center {
    width: 88%;
  }
}
@media screen and (min-width: 768px) {
  #database .sql-center {
    width: 72%;
  }
}
@media screen and (min-width: 960px) {
  #database .sql-center {
    width: 56%;
  }
}
#database #sql-warning {
  margin: 0.4rem auto;
}
#database #sql-query {
  margin: 0.6rem auto;
}
#database #sql-query textarea {
  max-height: 24vh;
  margin-bottom: 0.4rem;
}
#database #sql-result p {
  display: block;
  margin: 0 auto 0.4rem auto;
  width: 96%;
}
@media screen and (min-width: 576px) {
  #database #sql-result p {
    width: 88%;
  }
}
@media screen and (min-width: 768px) {
  #database #sql-result p {
    width: 72%;
  }
}
@media screen and (min-width: 960px) {
  #database #sql-result p {
    width: 56%;
  }
}
#database #sql-result table {
  position: relative;
}/*# sourceMappingURL=administrate.css.map */