/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/css?family=Roboto);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25em;
  font-size: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

body .btn:focus {
  outline: none;
}

body .btn::-moz-focus-inner {
  border: 0;
}

body.tab :focus {
  -webkit-box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.5);
}

footer {
  color: white;
  padding: 0.6rem 1rem;
  background: #222;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 576px) {
  footer .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .content a, footer .content span {
  margin: 0.4rem 0.4rem;
}

footer .content a:after {
  background: white;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3rem;
  font-weight: bold;
  margin: 0.8em 0 0.4em 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.32rem;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background: none;
  border: none;
  font-size: 1em;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
}

.btn:hover {
  cursor: pointer;
}

.btn.border-btn {
  position: relative;
  padding: 0.8rem 1.6rem;
}

.btn.border-btn.non-transparent.white {
  background: white;
  color: black;
  border: 2px solid white;
}

.btn.border-btn.non-transparent.white:after {
  background: rgba(0, 0, 0, 0.06);
}

.btn.border-btn.non-transparent.black {
  background: #101010;
  color: white;
  border: 2px solid #101010;
}

.btn.border-btn.non-transparent.black:after {
  background: rgba(255, 255, 255, 0.06);
}

.btn.border-btn.transparent {
  background: transparent;
}

.btn.border-btn.transparent.white {
  color: white;
  border: 2px solid white;
}

.btn.border-btn.transparent.white:after {
  background: rgba(255, 255, 255, 0.06);
}

.btn.border-btn.transparent.black {
  color: #101010;
  border: 2px solid #101010;
}

.btn.border-btn.transparent.black:after {
  background: rgba(0, 0, 0, 0.06);
}

.btn.border-btn.rounded {
  border-radius: 4em;
}

.btn.border-btn.rounded:after {
  border-radius: 4em;
}

.btn.border-btn:after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-transform: scale(0);
          transform: scale(0);
  top: -2px;
  left: -2px;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

.btn.border-btn:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn.border-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn.arrow-btn {
  font-size: 1.2rem;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.btn.arrow-btn.white {
  color: white;
}

.btn.arrow-btn.black {
  color: #222;
}

.btn.arrow-btn img {
  height: 1em;
  width: 1em;
  padding-left: 0.48em;
  position: relative;
  top: 0.12em;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.btn.arrow-btn:hover {
  -webkit-transform: translateX(-0.16em);
          transform: translateX(-0.16em);
}

.btn.arrow-btn:hover img {
  -webkit-transform: translateX(0.32em);
          transform: translateX(0.32em);
}

.btn.inline {
  font-size: 1em;
  position: relative;
  text-decoration: none;
  color: white;
}

.btn.inline:after {
  content: "";
  display: block;
  width: 0%;
  left: 50%;
  height: 2px;
  position: absolute;
  bottom: -0.1rem;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn.inline:hover:after {
  width: 100%;
  left: 0;
}

.btn.inline.white {
  color: white;
}

.btn.inline.white:after {
  background: white;
}

.btn.inline.black {
  color: black;
}

.btn.inline.black:after {
  background: black;
}

.btn.cross {
  height: 1em;
  width: 1em;
}

.btn.cross > img {
  height: 100%;
  width: 100%;
}

.btn.cross:active {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.center {
  display: block;
  margin: auto;
}

.cross {
  width: 1em;
  height: 1em;
}

input {
  border: none;
}

input.text-field {
  padding: 0.48em 0.6em;
}

input.text-field:focus {
  -webkit-box-shadow: 0 2px 0 0 darkblue;
          box-shadow: 0 2px 0 0 darkblue;
  outline: none;
}

input.text-field:invalid {
  -webkit-box-shadow: 0 2px 0 0 #a00;
          box-shadow: 0 2px 0 0 #a00;
}

label:not([for=login-persist]) {
  padding: 0.32em 0.6em;
}

label.required:after {
  content: " *";
  color: #a00;
}

body#index {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #222;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /*
	&.loaded {
		#index-text-section .content {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
		#index-buttons-section .content {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}
		footer .content {
			opacity: 1;
			transform: translateY(0);
			pointer-events: auto;
		}	
	}
	&.load {
		#index-text-section .content {
			pointer-events: none;
			animation: display-content 1s ease-in-out 0.2s forwards;
		}
		#index-buttons-section .content {
			pointer-events: none;
			animation: display-content 1s ease-in-out 1.2s forwards;
		}
		footer .content {
			pointer-events: none;
			animation: display-content 1s ease-in-out 2.2s forwards;
		}
	}
	@keyframes darken-blur {
		100% {
			opacity: 0.68;
		}
	}
	@keyframes display-content {
		100% {
			opacity: 1;
			//transform: translateY(0);
			pointer-events: auto;
		}
	}
	*/
}

body#index .container {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
      grid-template-rows: auto auto 1fr auto;
}

body#index #background {
  position: fixed;
  background-image: url("../images/indexbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: -2;
}

body#index #background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: #001000;
  opacity: 0;
  z-index: -1;
}

body#index header {
  background: #366e11;
  padding: 1rem 3rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

body#index header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body#index header .content .btn {
  margin-left: 1.2rem;
}

body#index main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

body#index main h1 {
  margin: 1.8rem 0;
  font-size: 3.6rem;
  font-weight: 1000;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body#index main h1 {
    text-align: justify;
  }
}

body#index main p {
  padding: 0.6rem 0;
  line-height: 1.3em;
  text-align: justify;
}

body#index #index-text-section {
  background: white;
  display: block;
}

@media screen and (min-width: 768px) {
  body#index #index-text-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 4fr 1fr;
        grid-template-columns: 6fr 4fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
  }
}

body#index #index-text-section > .content {
  padding: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body#index #index-text-section > .content {
    padding: 3rem 4rem;
  }
}

@media screen and (min-width: 960px) {
  body#index #index-text-section > .content {
    padding: 4rem 6rem;
  }
}

@media screen and (min-width: 1200px) {
  body#index #index-text-section > .content {
    padding: 4rem 10rem;
  }
}

@media screen and (min-width: 768px) {
  body#index #index-text-section > .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media screen and (min-width: 768px) {
  body#index #index-text-section > .content {
    text-align: justify;
  }
}

body#index #index-text-section > .content p {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 768px) {
  body#index #index-text-section > .content p {
    font-size: 1.6rem;
    text-align: left;
  }
}

@media screen and (min-width: 960px) {
  body#index #index-text-section > .content p {
    font-size: 1.8rem;
  }
}

body#index #index-text-section > .content .btn {
  font-size: 1.6rem;
  padding: 0.4rem;
  text-decoration: none;
  color: #222;
}

@media screen and (min-width: 768px) {
  body#index #index-text-section > .content .btn {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 960px) {
  body#index #index-text-section > .content .btn {
    font-size: 2rem;
  }
}

body#index #index-text-section > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body#index #index-text-section > img {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media screen and (max-width: 768px) {
  body#index #index-text-section > img {
    position: relative;
    bottom: -5px;
  }
}

body#index #index-buttons-section {
  background: #222;
  padding: 3rem;
}

body#index #index-buttons-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body#index #index-buttons-section .content .btn {
  width: 10em;
  margin: 1rem 0;
  font-size: 1.8rem;
}

body#index #index-info-section {
  padding: 3rem;
}

@media screen and (min-width: 576px) {
  body#index #index-info-section {
    padding: 4rem;
  }
}

@media screen and (min-width: 768px) {
  body#index #index-info-section {
    padding: 4rem 6rem;
  }
}

@media screen and (min-width: 960px) {
  body#index #index-info-section {
    padding: 4rem 16vw;
  }
}

@media screen and (min-width: 1200px) {
  body#index #index-info-section {
    padding: 4rem 20vw;
  }
}

body#index #index-info-section p {
  font-size: 1.32rem;
}

body#index #index-login-section {
  border-right: 12px solid #222;
  position: fixed;
  overflow: auto;
  color: black;
  padding: 1rem;
  font-size: 1.32rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #eee;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.32s ease-out;
  transition: -webkit-transform 0.32s ease-out;
  transition: transform 0.32s ease-out;
  transition: transform 0.32s ease-out, -webkit-transform 0.32s ease-out;
}

body#index #index-login-section h2 {
  padding: 0.2rem 0.8rem;
}

body#index #index-login-section .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.8rem 0;
}

body#index #index-login-section .user-data label,
body#index #index-login-section .user-data input.text-field {
  margin: 0.2rem 0;
}

body#index #index-login-section .user-data label:not(:nth-of-type(1)) {
  margin-top: 0.72rem;
}

body#index #index-login-section .user-data input.text-field {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background: white;
}

body#index #index-login-section .btn.inline,
body#index #index-login-section p {
  font-size: inherit;
}

body#index #index-login-section p {
  padding: 0.2rem 0.8rem;
  text-align: left;
}

body#index footer {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

body#index #cookies-alert {
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: #444;
  color: white;
  display: block;
  text-align: justify;
  z-index: 5;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

body#index #cookies-alert span {
  padding-right: 2rem;
}

body#index #cookies-alert button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body#index #backToTop {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  height: 4rem;
  width: 4rem;
  padding: 0.8rem;
  background: rgba(221, 221, 221, 0.96);
  border: 2px solid rgba(221, 221, 221, 0.96);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 4;
}

body#index #backToTop.hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  body#index #backToTop {
    bottom: 3rem;
    right: 3rem;
  }
}

body#index #backToTop img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0.2rem;
}
/*# sourceMappingURL=css.css.map */