/* CSS Document */
/* ------------------------------------------------------------ CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.button, .buttonDisabled {
    border: none;
    }
button {
    border: none;
    }
a {
    text-decoration: none;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    text-decoration: none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* ---------------------------------------------------------------------- moje styly */
/* ------------------------------------------------------------ hlavni */
:root {
    --hlbarva1: #405d27; /*paleta 1*/
    --hlbarva2: #587e36; /*paleta 2*/
    --hlbarva3: #3e4444; /*text atd.*/
    --bila: #fff; /*pozadi*/
    --cervena: #a51919; /*chyby*/
    --zelena: #427226; /*spravne*/
    --seda: #aeaeae;
    --seda2: #ccc;
}
html, body {
    height: 100%;
    min-height: 100%;
}
.container {           
    flex: 1 0 auto;
}
body {
    background: var(--bila);
    background: linear-gradient(var(--bila), var(--hlbarva1));
    background: url(../images/background.jpg) no-repeat center fixed;
    background-size: cover; 
    display: flex;
    flex-direction: column; 
    color: var(--hlbarva3);
    font-family: Century Gothic, Verdana, sans-serif;
    text-align: center;
    font-size: 100%;
    line-height: 1.3em;  
}
main.basic_main {
    background-color: var(--bila);
    width: 50vw;
    margin: 2.4vh auto;
    padding: 0.375rem;
    border-radius: 6px;
}   
fieldset {
    width: 80%;
    margin: auto;
}
/* ------------------------------------------------------------ header styly */
header {
    background-color: var(--hlbarva1);
    display: block;
    color: var(--bila);
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);*/
}
h1 {
    display: block;
    font-size: 2rem;
    line-height: 7vh;
}
#menuHeading {
    display: block;
    font-size: 4vh;
    line-height: 7vh;
}
#menuHeading a {
    color: var(--bila);
}
#menuHeading a:hover {
    text-decoration: underline;
}
nav {
    background: var(--hlbarva2);
    padding: 0.375rem;
}
nav a {
    color: var(--bila);
    margin: 0 0.5rem;
}
nav a:hover {
    text-decoration: underline;
}
/* ------------------------------------------------------------ footer styly */
footer {
    background-color: var(--hlbarva1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 0;    
    width: 100%;
    color: var(--bila);
	font-size: 0.85rem;
    line-height: 3vh;
}
.footerOption {
    margin: 0.8vh 0.8em;
    padding: 0.2vh 0.2em;
}       
.footerOption:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footerOption#about {
    color: var(--seda2);
}
.footerOption#about:hover {
    cursor: auto;
    text-decoration: none;
}
.footerOption a {                                                                                             
    color: var(--bila);
}  
/* ------------------------------------------------------------ ostatni */
table {
    margin: auto;
}
div.prikaz {
    margin: 0.125rem auto;
}
/* -------------------------------------------------- index.php */
#registrace, #prihlaseni, #pw_recovery {
    background-color: var(--bila);
    width: fit-content;
    max-width: 60vw;
    padding: 1rem 2rem;
    margin: 20vh auto;
    border-radius: 6px;
}
#registrace a, #prihlaseni a{
    color: var(--hlbarva1);
}
#registrace a:hover, #prihlaseni a:hover{
    text-decoration: underline;
}
.udaje {
    margin: 0.2rem;
}
.checkbox {
    height: 0.2rem;
    margin: 0.2rem;
}
#obnoveniHesla {
    background-color: var(--bila);
    width: 50vw;
    margin: 20vh auto;
    padding: 0.375rem;
    border-radius: 6px;
}
#loginErrors, #registerErrors, #passwordRecoveryErrors {
    height: fit-content;
    color: var(--cervena);
    margin: 0.4rem;
}
#cookiesAlert{
    background-color: var(--hlbarva3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-shrink: 0;  
    width: 100%;
    color: var(--bila);
	font-size: 0.9rem;
    line-height: 4vh;  
}
#cookiesAlert div {
    margin: 0.8vh 1vw;
    padding: 0.2vh 0.5vw;
}
#cookiesAlertCloser:hover{
    cursor: pointer;
}
#span_terms{
	font-size: 0.75rem;
}
/* - - - - - - - - - - - - - - custom checkbox, credits: https://codepen.io/GeoffreyCrofte/pen/BiHzp */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1em; height: 1em;
  border: 2px solid #ccc;
  background: var(--bila);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .15em;
  font-size: 1.3em;
  line-height: 0.8;
  color: var(--hlbarva3);
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
label:hover:before {
  border: 2px solid var(--hlbarva1)!important;
}
/* -------------------------------------------------- list.php */
/* - - - - - - - - - - - - - - - - - - - - changelog */
#changelog {
    z-index: 9;
    background: var(--bila);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    width: 40vw;
    color: var(--hlbarva3);
	text-align: left;
    padding: 1.25rem;
    margin: auto;
    border: 5px solid var(--hlbarva1);
    border-radius: 10px;;
}
#changelogOverlay {
    z-index: 8;
    background-color: #000;
	opacity: 0.5;
	position: absolute;
	height: 100vh;
	width: 100vw;
}
#changelogMsg {
    max-height: 40vh;
	margin: 0.625rem auto;
    overflow-y: auto;
}
#changelogText h2 {
    text-align: center;
	font-size: 1.5rem;
    margin: 0.25rem;
}
#changelogMsg #general {
    position: relative;
	margin-left: 0;
    padding-left: 1em;
    list-style: none;
}
#general li:before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #d7da31;
    font-weight: bold;
}
#changelogMsg #additions {
    position: relative;
	margin-left: 0;
    padding-left: 1em;
    list-style: none;
}
#additions li:before {
    content: "+";
    position: absolute;
    left: 0;
    color: var(--zelena);
    font-weight: bold;
}
#changelogMsg #deletions {	
    position: relative;
	margin-left: 0;
    padding-left: 1em;
    list-style: none;
}
#deletions li:before {
    content: "-";
    position: absolute;
    left: 0;
    color: var(--cervena);
    font-weight: bold;
}
#changelogMsg {
    padding: 1em;
}
#changelogMsg li {
    margin: 0.4rem auto;
    padding-left: 1.25rem;
}
/* - - - - - - - - - - - - - - - - - - - - zbytek list.php */
#listTable {
    background-color: var(--bila);
    width: 40vw;
    margin: 4vh auto; 
    border: 0.75em solid var(--bila);
    border-radius: 6px;
    border-collapse: separate;
}  
#listTable th, #listTable td {
    padding: 0.125rem;
}
.listRow {
	margin: 0;
    cursor: pointer;
}
.listRow:hover {
	background: var(--hlbarva1);
    color: var(--bila); 
    cursor: pointer;
}
th {
	font-weight: bold;
}
.listNames {
	min-width: 45%;
}
.listNaturals {
	min-width: 20%;
	}
.listPics {
	min-width: 20%;
    }
/* -------------------------------------------------- accountSettings.php */
#static_info {
    width: 95%;
    margin: 0.375rem auto;
}
#static_info td {
    padding: 0.25rem 1.125rem;
}
#static_info tr {
    border-bottom: 1px solid var(--seda2);
}
#static_info tr#tr_end {
    border-bottom: 0px solid var(--bila);
}
/* -------------------------------------------------- obrazky + posun obrazku */
.img {
    box-sizing: border-box;
    object-fit: contain;
	width: 25vw;
	height: 25vw;;
    margin: 0.25rem auto;
    border: 2px solid var(--hlbarva1);
}
.learn_button{
    background-color: var(--hlbarva1);
	height: 25vw;
    margin: 0 0.375rem;
    transition: background 0.2s;
}
td button img {
    position: relative;
    top: 0.625rem;  
	height: 3vw;
	width: 3vw; 
}
td {
	vertical-align: middle;
}
.key_short {
    display: inline-block;
    height: 1.25rem;
	color: var(--bila);
    font-family: Century Gothic, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
}
td .key_short {
    position: relative;
    top: 0.625rem;    
}
#prevImg {
    border-radius: 6px 0 0 6px;
}
#nextImg {
    border-radius: 0 6px 6px 0;
}
/* -------------------------------------------------- tlacitka, droplisty, textova okna */
.button {
    background: var(--hlbarva2);
    box-sizing: border-box;
    color: var(--bila);
    font-family: Century Gothic, Verdana, sans-serif;
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    transition: background 0.2s;
}
.button:hover, button:hover, #duckLink_div:hover {
    background-color: var(--hlbarva3);
    cursor: pointer;
    transition: background 0.2s;
}
.button:active, button:active, #duckLink_div:active {
    outline: none;
    cursor: pointer;
}
.button:focus, button:focus, #duckLink_div:active {
    outline: none;
}
#duckLink_div {
    background: var(--hlbarva2);
    height: 1.75rem;
    width: 9rem;
    font-size: 0.9rem;
    margin: 0.25rem auto;
    transition: 0.2s;
}
#duckLink_div a {
    color: var(--bila);
    font-size: 0.9rem;
}
#duckLogo {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.25rem;
}
#duckLink span {
    position: relative;
    top: -0.6rem;
}
.buttonDisabled {
    background: var(--seda);
    color: var(--bila);
    font-family: Century Gothic, Verdana, sans-serif;
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
}
.buttonDisabled:hover, .buttonDisabled:active {
    background: var(--seda);
    cursor: auto;
}
.text {
    box-sizing: border-box;
    font-family: Century Gothic, Verdana, sans-serif;
    color: var(--hlbarva3);
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0.125rem 0.375rem;
    margin: 0.25rem;
    border: 2px solid var(--hlbarva2);
}
.text#dropList {
    padding: 0.125rem 0.125rem;
}
.text:focus {
    border: 2px solid var(--hlbarva3);
    outline: none;
}
#dropList {
    width: 11.25rem;
}
#dropList:hover{
    cursor: pointer;
}
#urlInput {
    width: 80%;
}
#reportMenu{
	display: none;
}
#submitReport{
	display: none;
}
#cancelReport{
	display: none;
}
div.menu {
    background: var(--bila);
    box-sizing: border-box;
    width: 98%;
    height: 26.33vh;
    font-size: 5vh;
    color: var(--hlbarva3);
    line-height: 26.33vh;
    margin: 2.24vh auto;
    border-radius: 6px;
    transition: background 0.2s;
}
div.menu:hover {
    background: var(--hlbarva2);
    color: var(--bila);
    transition: 0.2s;
}
#answerForm{
	display: block;
}
#correctAnswer {
    display: none;
	color: var(--zelena);
}
#typoAnswer {
    display: none;
	color: var(--zelena);
}
#wrongAnswer {
    display: none;
	color: var(--cervena);
}
#wrong2, #serverResponse{
	color: var(--hlbarva3);
}
#nextButton{
	display: none;
	margin: 0.25rem auto;
}
#correctAnswer, #wrongAnswer {
    padding: 0.25rem;
    margin: auto;
}
/* ------------------------------------------------------------ @media */
@media screen and (max-width: 960px) {
    main.basic_main {
        width: 70vw;
    }
    #listTable {
        width: 50vw;
    }
}
@media screen and (max-width: 768px) {
    main.basic_main {
        width: 80vw;
    }
    header {
        height: 6vh;  
    }
    h1 {
        font-size: 1.4em;
        line-height: 6vh;
    }
    #menuHeading {
        font-size: 3vh;
        line-height: 6vh;
    }
    #obnoveniHesla {
        width: 80vw;
    }
    #listTable {
        width: 60vw;
        margin: 7vh auto;
    }
    #changelog {
        width: 60vw;
    }
    #changelogMsg {
        max-height: 50vh;
    }
    .img {
	    width: 55vw;
        height: 55vw;
    }
    div.menu {
        width: 96vw;
        font-size: 4vh;
    }
    .learn_button{
        height: 55vw;
    }
    td button img {
        width: 4.5vw;
        height: 4.5vw;
    }
}    
@media only screen and (max-width: 576px) {
    main.basic_main, #obnoveniHesla {
        width: 90vw;
    }
    header {
        height: 6vh;  
    }
    h1 {
        font-size: 1.2em;
        line-height: 6vh;
    }
    #menuHeading {
        font-size: 1em;
        line-height: 6vh;
    }
    #registrace, #prihlaseni, #pw_recovery {
        margin: 10vh auto;
    }
    #changelog {
        width: 80vw;
    }
    #changelogMsg {
        max-height: 60vh;
    }
    #static_info {
        width: 90%;
    }
    #static_info td {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0.25rem 1.125rem;
    }
    .img {
	    width: 60vw;
        height: 60vw;
    }
    div.menu {
        font-size: 3vh;
    }
    .learn_button{
        height: 60vw;
    }
    td button img {
        width: 6vw;
        height: 6vw;
    }
}

    
    
