@import "_reset.scss";
@import "_generic.scss";
@import "_unlogged.scss";


@mixin text-section-positioning { // rozšiřuje section#index-text-section
    .index-img.bg1 {
        grid-row: 3/4;
        background-image: url("../images/index/bg3.svg");
        background-size: 100%;
        background-position-y: bottom;
        transform: scaleX(-1);
        @media screen and (min-width: $tablet) {
            grid-column: 2/4;
            grid-row: 2/4;
            transform: scaleX(-1) scaleY(90%) translateY(5%);
        } 
    }

    .index-img.bg2 {
        grid-row: 2/4;
        mask-image: url("../images/index/bg6.svg");
        background: $greenDark;
        opacity: 50%;
        mask-size: 95%;
        mask-position: 80% bottom; 
        @media screen and (min-width: $tablet) {
            mask-size: 70%;
            mask-position: 110% bottom; 
        } 
    }

    .index-img.bush1 {
        grid-row: 3/4;
        background-image: url("../images/index/bush3.svg");
        background-size: 90%;
        background-position-y: bottom;
        background-position-x: 280%;
        @media screen and (min-width: $tablet) {
            grid-column: 2/4;
            grid-row: 2/4;
            background-size: 70%;
            background-position-x: 90%;
        } 
    }
    
    .index-img.chs {
        right: 5%;
        transform: translateY(5%);
        @media screen and (min-width: $mobile) {
            right: 10%;
        }
        @media screen and (min-width: $tablet) {
            grid-column: 3/4;
            right: 5%;
        }
        @media screen and (min-width: $smallDesktop) {
            grid-row: 3/4;
            grid-column: 2/4;
            grid-row: 2/4;
        }
        @media screen and (min-width: $desktop) {
            grid-column: 2/4;
            grid-row: 2/4;
            right: 15%;
        }
        img {
            height: clamp(18rem, 120vw, 30rem);
            @media screen and (min-width: $mobile) {
                height: 30rem;
            }
            @media screen and (min-width: $desktop) {
                height: 32rem;
            }
        }
    }
}

@mixin app-info-positioning { // rozšiřuje section.app-info

    .index-img.bg1 {
        background-size: 95%;
        @media screen and (min-width: $smallDesktop) {
            background-size: 80%;
        }
        @media screen and (min-width: $desktop) {
            background-size: 75%;
        }
        transform: translateY(8%);
        @media screen and (min-width: $tablet) {
            transform: scaleY(90%) translateY(15%);
        }
        @media screen and (min-width: $smallDesktop) {
            transform: scaleY(80%) translateY(20%);
        }
        @media screen and (min-width: $desktop) {
            transform: scaleY(70%) translateY(25%);
        }
        z-index: 7;
    }
    .index-img.bg2 {
        mask-size: 95%;
        @media screen and (min-width: $tablet) {
            mask-size: 65%;
        }
        @media screen and (min-width: $desktop) {
            mask-size: 60%;
        }
        z-index: 8;
    }
    .index-img.bush1,
    .index-img.bush2 {
        background-size: 100%;
        opacity: 70%;
        z-index: 9;
    }

    .index-img.chs {
        transform: translateY(5%);
        @media screen and (min-width: $tablet) {
            bottom: -2%;
        }
        
        img {
            display: block;
            width: 80%;
            max-width: 25rem;
            @media screen and (min-width: $tablet) {
                max-width: none;
            }
            @media screen and (min-width: $desktop) {
                width: 100%;
            }
        }
        &.left {
            left: 5%;   
            @media screen and (min-width: $mobile) {
                left: 10%;
            }
            @media screen and (min-width: $desktop) {
                left: 20%;
            }
            img {
                margin-right: auto;
            }
        }
        &.right {
            right: 5%;
            @media screen and (min-width: $mobile) {
                right: 10%;
            }
            @media screen and (min-width: $desktop) {
                right: 20%;
            }
            img {
                margin-left: auto;
            }
        }
        z-index: 10;
    }
    // ---------------------- zde pozicování jednotlivých grafik ----------------------
    &:nth-of-type(1) {
        .index-img.bg1 {
            background-image: url("../images/index/bg1.svg");
            background-position-x: left;
            background-position-y: 90%;
        }
        .index-img.bg2 {
            mask-image: url("../images/index/bg4.svg");
            background: $greenDark;
            opacity: 50%;
            mask-position: 10% bottom;
            @media screen and (min-width: $tablet) {
                mask-position: -10% bottom;
            }
        }
        .index-img.bush1 {
            background-image: url("../images/index/bush7.svg");
            background-size: 80%;
            background-position-x: -200%;
            background-position-y: 110%;
            @media screen and (min-width: $tablet) {
                background-size: 60%;
                background-position-x: -50%;
                background-position-y: 100%;
            }
            @media screen and (min-width: $smallDesktop) {
                background-size: 40%;
                background-position-x: -10%;   
            }
        }
        .index-img.bush2 {
            background-image: url("../images/index/bush2.svg");
            background-size: 60%;
            background-position-x: 80%;
            background-position-y: 100%;
            @media screen and (min-width: $tablet) {
                background-size: 60%;
                background-position-x: 100%;
                background-position-y: 120%;
            }
            @media screen and (min-width: $smallDesktop) {
                background-size: 40%; 
                background-position-x: 80%;
                background-position-y: 110%;
            }
            @media screen and (min-width: $desktop) {
                background-position-y: 120%;
            }
        }
    }

    &:nth-of-type(2) {
        .index-img.bg1 {
            background-image: url("../images/index/bg2.svg");
            background-position-x: left;
            right: 0;
            transform: scaleX(-1)
        }
        .index-img.bg2 {
            mask-image: url("../images/index/bg6.svg");
            background: $greenDark;
            opacity: 90%;
            mask-position: 120% bottom;
            transform: scaleY(130%) translateY(-5%);
        }
        .index-img.bush1 {
            background-image: url("../images/index/bush2.svg");
            background-size: 50%;
            background-position-x: 20%;
            @media screen and (min-width: $tablet) {
                background-size: 45%;
                background-position-x: 50%;
            }
        }
        .index-img.bush2 {
            background-image: url("../images/index/bush1.svg");
            background-size: 90%;
            background-position-x: 450%;
            @media screen and (min-width: $tablet) {
                background-size: 60%;
                background-position-x: 200%;
            }
        }
    }

    &:nth-of-type(3) {
        .index-img.bg1 {
            background-image: url("../images/index/bg3.svg");
            background-position-x: left;
        }
        .index-img.bg2 {
            mask-image: url("../images/index/bg8.svg");
            background: $greenDark;
            opacity: 90%;
            mask-position: 700% bottom;
            @media screen and (min-width: $tablet) {
                mask-position: 120% bottom;
            }
            transform: scaleX(-1);
        }
        .index-img.bush1 {
            background-image: url("../images/index/bush3.svg");
            background-size: 70%;
            background-position-x: 20%;
            background-position-y: 100%;
            @media screen and (min-width: $tablet) {
                background-size: 50%;
                background-position-x: 30%;
            }
            @media screen and (min-width: $smallDesktop) {
                background-size: 35%;
                background-position-x: 40%;
            }
            transform: scaleX(-1);
        }
        .index-img.bush2 {
            background-image: url("../images/index/bush6.svg");
            background-size: 50%;
            background-position-x: -20%;
            @media screen and (min-width: $tablet) {
                background-size: 30%;
                background-position-x: 0;
            }
        }
    }

    &:nth-of-type(4) {
        .index-img.bg1 {
            background-image: url("../images/index/bg5.svg");
            right: 0;
            background-position-x: right;
            transform: scaleY(85%) translateY(10%);
        }
        .index-img.bg2 {
            mask-image: url("../images/index/bg11.svg");
            background: $greenDark;
            opacity: 90%;
            mask-position: 30% bottom;
        }
        .index-img.bush1 {
            background-image: url("../images/index/bush5.svg");
            background-size: 90%;
            background-position-x: -350%;
            @media screen and (min-width: $tablet) {
                background-size: 75%;
                background-position-x: -150%;
            }
            @media screen and (min-width: $smallDesktop) {
                background-size: 60%;
                background-position-x: -30%;
            }
            transform: scaleX(-1);
        }
        .index-img.bush2 {
            background-image: url("../images/index/bush4.svg");
            background-size: 55%;
            background-position-x: 15%;
            @media screen and (min-width: $tablet) {
                background-size: 45%;
                background-position-x: 25%;
            }
            @media screen and (min-width: $smallDesktop) {
                background-size: 35%;
            }
        }
    }
    // --------------------------------------------------------------------------------
}


html:has(#index) {
    @include scrollbar(12px, auto, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
}

#index {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    header {
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                margin: 0.4rem 1.6rem;
            }
            @media screen and (min-width: $mobile) {
                justify-content: flex-end;
                .btn {
                    margin: 0 0 0 1.2rem;
                }
            }
        }
    }
    main {
        grid-row: 2/4;
        h1 {
            margin: 1.8rem 0;
            font-size: 3.2rem;
            @media screen and (min-width: $smallMobile) {
                font-size: 3.6rem;
            }
            text-align: center;
            @media screen and (min-width: $tablet) {
                text-align: justify;
            }
        }
        p {
            padding: 0.6rem 0;
            line-height: 1.3em;
            text-align: justify;
        }
    }

    #messages {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    
    --divider-height: 2rem;
    @media screen and (min-width: $tablet) {
        --divider-height: 4rem;
    }
    .divider {
        height: var(--divider-height);
        background: $gray1;
        position: absolute;
        width: calc(100% + 1px); // +1px, jinak se renderuje s divnou škvírou
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        z-index: 15;
        &.top {
            top: calc( -1 * var(--divider-height) );
            mask-position: bottom center;
            transform: translateY(2px); // jinak se renderuje s divnou škvírou
        }
        &.bottom {
            bottom: calc( -1 * var(--divider-height) );
            mask-position: top center;
            transform: translateY(-2px); // jinak se renderuje s divnou škvírou
        }
    }

    .index-img.bg1,
    .index-img.bg2,
    .index-img.bush1,
    .index-img.bush2 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-position-y: bottom;
        mask-position: bottom center;
        pointer-events: none;
    }

    .index-img.chs {
        position: relative;
        @media screen and (min-width: $tablet) {
            position: absolute;
            bottom: 0;
            margin: auto;
        }
        background-repeat: no-repeat;
        pointer-events: none;
    }

    .glow {
        filter: drop-shadow(0 0 40px rgba(rgb(204, 255, 143),0.3));
    }

    #index-text-section {
        background: var(--c-bgd2);
        position: relative;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $tablet) {
            display: grid;
            grid-template-columns: minmax(20rem, 4fr) minmax(25rem, 6fr) 4fr;
            grid-template-rows: clamp(16rem, 15vh, 15rem) clamp(10rem, 30vh, 20rem) clamp(10rem, 30vh, 30rem);
        }

        .index-img.chs {
            margin-left: auto;
            margin-right: 5%;
        }
        
        > .content {
            padding: 3rem 1.6rem 0.4rem 1.6rem;
            text-align: center;
            @media screen and (min-width: $mobile) {
                padding: 3rem 2rem;
            }
            @media screen and (min-width: $tablet) {
                padding: 3rem 5rem;
                grid-row: 1/3;
                grid-column: 1/3;
                text-align: justify;
            }
            @media screen and (min-width: $smallDesktop) {
                padding: 4rem 5rem;
            }
            @media screen and (min-width: $desktop) {
                padding: 4rem 8rem;
            }

            font-size: 1.4rem;
            @media screen and (min-width: $smallDesktop) {
                font-size: 1.6rem;
            }
            h1 {
                margin-top: 0;
            }
            p {
                margin-bottom: 1.6rem;
                @media screen and (min-width: $tablet) {
                    text-align: left;
                }
            }
            z-index: 10;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .btn {
                margin-bottom: 0.8em;
                @media screen and (min-width: $mobile) {
                    &:not(:last-child) {
                        margin-right: 0.6em;
                    }
                }
            }
            @media screen and (min-width: $mobile) {
                flex-direction: row;
                flex-shrink: 1;
            }
            @media screen and (min-width: $tablet) {
                flex-wrap: wrap;
            }
        }

        @include text-section-positioning();
    }

    #index-info-section {
        width: 100%;
        margin: auto;
        h3 {
            font-size: 1.16rem;
            @media screen and (min-width: $mobile) {
                font-size: 1.32rem
            }
            margin: 1.2rem 0 0.4rem 0;
        }
        p {
            font-size: 1.12rem;
            @media screen and (min-width: $mobile) {
                font-size: 1.24rem
            }
        }
        #info-icons {
            p {
                margin-bottom: 1rem;
            }
        }

        #info-text {
            position: relative;
            background: $gray1;
            color: $textWhite;
            width: 100%;
            margin: auto;
            position: relative;
            z-index: 8;
            padding: 4rem 0;
            p {
                width: 90vw;
                max-width: 50rem;
                margin: auto;
            }
            .divider {
                &:nth-of-type(1) {
                    mask-image: url("../images/index/mask1.svg");
                }
                &:nth-of-type(2) {
                    mask-image: url("../images/index/mask2.svg");
                }
            }
        }

        section.app-info {
            position: relative;
            width: 100%;

            &:nth-of-type(1) {
                @media screen and (min-width: $tablet) {
                    height: 70vh;
                    max-height: 35rem;
                }
            }
            &:nth-of-type(2) {
                @media screen and (min-width: $tablet) {
                    height: 74vh;
                    max-height: 34rem;
                }
            }
            &:nth-of-type(3) {
                @media screen and (min-width: $tablet) {
                    height: 68vh;
                    max-height: 32rem;
                }
            }
            &:nth-of-type(4) {
                @media screen and (min-width: $tablet) {
                    height: 68vh;
                    max-height: 31rem;
                }
            }

            .info-tile {
                margin: auto;
                width: 90vw;
                z-index: 14;
                padding-top: var(--divider-height);
                @media screen and (min-width: $tablet) {
                    position: absolute;
                    max-width: 26rem;
                    padding-top: 0;
                    top: 10%;
                }
                @media screen and (min-width: $smallDesktop) {
                    max-width: 22rem;
                }
            }

            &:nth-of-type(1) {
                .info-tile {
                    @media screen and (min-width: $tablet) {
                        top: calc(10% + var(--divider-height));
                    }
                }
            }

            &:nth-of-type(odd) {
                background-color: var(--c-bgd2);
                .info-tile {
                    @media screen and (min-width: $tablet) {
                        right: 10%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        right: 15%;
                    }
                }
            }

            &:nth-of-type(even) {
                background-color: var(--c-bgd);
                .index-img {
                    right: 0;
                }
                .info-tile {
                    @media screen and (min-width: $tablet) {
                        left: 10%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        left: 15%;
                    }
                }
            }
            box-sizing: content-box;

            @mixin divider-mask($z, $mask-image, $bgd) {
                z-index: $z;
                .divider {
                    mask-image: $mask-image;
                    background-color: $bgd;
                }
            }
            &:nth-of-type(1) {
                @include divider-mask(6, none, var(--c-bgd2));
                padding-top: var(--divider-height);
            }
            &:nth-of-type(2) {
                @include divider-mask(7, url("../images/index/mask3.svg"), var(--c-bgd));
            }
            &:nth-of-type(3) {
                @include divider-mask(8, url("../images/index/mask4.svg"), var(--c-bgd2));
            }
            &:nth-of-type(4) {
                @include divider-mask(9, url("../images/index/mask5.svg"), var(--c-bgd));
            }
              
            @include app-info-positioning();
        }
    }    

    #index-login-section {
        display: grid;
        position: fixed;
        overflow: hidden;
        box-shadow: 0px 0px 4px 2px rgba(black,0.2);
        border: 0.8rem solid var(--c-bgd-popup);
        border-radius: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: auto;
        max-width: 32.5rem;
        z-index: 21;
        background: var(--c-bgd-popup);
        opacity: 0;
        pointer-events: none;
        @media screen and (min-width: $mobile) {
            border-width: 1.6rem;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        @include scrollbar(8px, none, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        #register,
        #login,
        #password-recovery {
            max-height: 80vh;
            padding: 0 0.4rem;
            overflow: auto;  
            @include scrollbar(0px, thin, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        }
        .login-title {
            position: relative;
            margin: 0.8rem 0 1.6rem 0;
            .hide-login-section-button {
                height: 1.4rem;
                width: 1.4rem;
                position: absolute;
                right: 0;
                bottom: 0;
            }
            h2 {
                font-size: 1.6rem;
                line-height: 1em;
            }
        }
        .user.data {
            display: flex;
            flex-direction: column;
            label {
                font-size: 0.9rem;
            }
            label, 
            input.text-field {
                margin: 0.2rem 0;
            }
            label:not(:nth-of-type(1)), //kromě prvního labelu
            .checkbox { 
                margin-top: 0.54rem;
            }
            input.text-field {
                font-family: 'Ubuntu', sans-serif;
                padding-top: 0.6em;
                padding-bottom: 0.6em;
            }
            label.custom-checkbox-wrapper {
                margin-top: 0.72rem;
                margin-bottom: 0.54rem;
            }
        }
        .message {
            font-size: 0.72rem;
            line-height: 0.96rem;
            min-height: 0.96rem; 
            color: var(--c-error);
            &.server {
                margin-bottom: 0.6rem;
            }
        }
        .btn.inline,
        p {
            font-size: inherit;
            text-align: left;
            padding: 0;
            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }
        .border-btn {
            margin: 0.8rem auto 0.2rem auto;
            font-size: 1.2rem;
            width: 100%; 
        }
        #register-terms {
            font-size: 0.8rem;
            margin-top: 0.4rem;
            .btn {
                color: var(--c-primary-contrast);
            }
        }
    }

    footer {
        grid-row: 4/5;
        position: relative;
        z-index: 15;
        .content {
            justify-content: space-evenly;
            padding: 0.8rem 1rem;
        }
        .divider {
            background: var(--c-footer);
            mask-image: url("../images/index/mask6.svg");
        }
    }

    #cookies-alert {
        position: fixed;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
        background: #444;
        color: white;
        text-align: justify;
        z-index: 6;
        padding: 1rem 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: transform 0.6s ease-in-out;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 1rem 4.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 1rem 6rem;
        }
        &.show {
            transform: translateY(0);
        }
        .wrapper {
            padding-right: 2rem;
            @media screen and (min-width: $mobile) {
                padding-right: 3rem;
            }
            @media screen and (min-width: $tablet) {
                padding-right: 4.8rem;
            }
            @media screen and (min-width: $smallDesktop) {
                padding-right: 6rem;
            }
            p {
                margin-bottom: 0.6rem;
            }
        }
        #cookie {
            position: relative;
            max-height: 8rem;
            margin-right: 0.8rem;
            @media screen and (min-width: $mobile) {
                margin-right: 1.6rem;
            }
            @media screen and (min-width: $smallDesktop) {
                margin-right: 2.4rem;
            }
        }
        .btn {
            flex-shrink: 0;
            margin: auto 0 auto auto;
        }
    }

    #back-to-top-button {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;
        height: 4rem;
        width: 4rem;
        padding: 0.8rem;
        background: var(--c-bgd-comp);
        border: 2px solid var(--c-bgd-comp);
        position: fixed; 
        bottom: 2rem;
        right: 2rem;
        z-index: 19;
        @media screen and (min-width: $tablet) {
            bottom: 3rem;
            right: 3rem;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        img {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 0.2rem;
        }
    }
}