@import "_reset.scss";
@import "_generic.scss";
@import "_unlogged.scss";

html:has(#index) {
    @include scrollbar(12px, auto, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
}

#index {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    header {
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                margin: 0.4rem 1.6rem;
            }
            @media screen and (min-width: $mobile) {
                justify-content: flex-end;
                .btn {
                    margin: 0 0 0 1.2rem;
                }
            }
        }
    }
    main {
        grid-row: 2/4;
        h1 {
            margin: 1.8rem 0;
            font-size: 3.2rem;
            @media screen and (min-width: $smallMobile) {
                font-size: 3.6rem;
            }
            text-align: center;
            @media screen and (min-width: $tablet) {
                text-align: justify;
            }
        }
        p {
            padding: 0.6rem 0;
            line-height: 1.3em;
            text-align: justify;
        }
    }

    #messages {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .index-img.bg1,
    .index-img.bg2,
    .index-img.bush1,
    .index-img.bush2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .glow {
        filter: drop-shadow(0 0 40px rgba(rgb(204, 255, 143),0.3));
    }

    #index-text-section {
        /*
        mask: url("../images/index/mask1.svg"),
            linear-gradient(#000 0 0);
        mask-size: calc(100% + 1rem); //1rem kompenzuje scrollbar
        mask-position: center bottom;
        mask-repeat: no-repeat;
        mask-composite: exclude;
        */

        background: var(--c-bgd2);

        position: relative;
        display: grid;
        grid-template-rows: minmax(15rem, 45vh) minmax(5rem, 25vh) minmax(20rem, 60vh);
        grid-template-columns: 1fr;
        @media screen and (min-width: $mobile) {
            grid-template-rows: minmax(15rem, 45vh) minmax(5rem, 15vh) minmax(18rem, 50vh);
        }
        @media screen and (min-width: $tablet) {
            grid-template-columns: 4fr 6fr 4fr;
            grid-template-rows: minmax(15rem, 20vh) minmax(5rem, 35vh) minmax(10rem, 30vh);
        }
        
        > .content {
            grid-row: 1/3;
            padding: 3rem 1.6rem;
            text-align: center;
            @media screen and (min-width: $mobile) {
                padding: 3rem 2rem;
            }
            @media screen and (min-width: $tablet) {
                padding: 3rem 5rem;
                grid-row: 1/3;
                grid-column: 1/3;
                text-align: justify;
            }
            @media screen and (min-width: $smallDesktop) {
                padding: 4rem 5rem;
            }
            @media screen and (min-width: $desktop) {
                padding: 4rem 8rem;
            }
            font-size: 1.4rem;
            @media screen and (min-width: $smallDesktop) {
                font-size: 1.6rem;
            }
            h1 {
                margin-top: 0;
            }
            p {
                margin-bottom: 1.6rem;
                @media screen and (min-width: $tablet) {
                    text-align: left;
                }
            }
            z-index: 10;
        }

        .index-img.bg1 {
            grid-row: 3/4;
            background: url("../images/index/bg3.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-y: bottom;
            transform: scaleX(-1);
            @media screen and (min-width: $tablet) {
                grid-column: 2/4;
                grid-row: 2/4;
                background-size: 100%;
                transform: scaleX(-1) scaleY(90%) translateY(5%);
            } 
        }

        .index-img.bg2 {
            grid-row: 2/4;
            mask-image: url("../images/index/bg6.svg");
            mask-repeat: no-repeat;
            background: $greenDark;
            opacity: 50%;
            mask-size: 70%;
            mask-position: 110% bottom;
        }
        
        .index-img.chs {
            grid-row: 3/4;
            position: absolute;
            bottom: 0;
            right: 10%;
            transform: translateY(5%);
            @media screen and (min-width: $tablet) {
                grid-column: 3/4;
                grid-row: 2/4;
                right: 5%;
            }
            @media screen and (min-width: $smallDesktop) {
                grid-column: 2/4;
                grid-row: 2/4;
            }
            @media screen and (min-width: $desktop) {
                grid-column: 2/4;
                grid-row: 2/4;
                right: 15%;
            }
            img {
                height: 25rem;
                @media screen and (min-width: $smallDesktop) {
                    height: 30rem;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .btn {
                margin-bottom: 0.8em;
                @media screen and (min-width: $mobile) {
                    &:not(:last-child) {
                        margin-right: 0.6em;
                    }
                }
            }
            @media screen and (min-width: $mobile) {
                flex-direction: row;
                flex-shrink: 1;
            }
            @media screen and (min-width: $tablet) {
                flex-wrap: wrap;
            }
        }
    }

    #info-text-wrapper {
        position: relative;
        top: -4rem;
        //background: #282828;
    }
    .dummy-block {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4rem;
        z-index: -1;
        background: #282828;
    }
    .divider {
        height: 4rem;
        background: $gray1;
        mask-repeat: no-repeat;
        mask-size: cover;
        z-index: 15;
        &:nth-of-type(1) {
            mask-image: url("../images/index/mask1.svg");
            mask-position: bottom center;
        }
        &:nth-of-type(3) {
            transform: translateY(-1px);
            mask-image: url("../images/index/mask2.svg");
            mask-position: top center;
        }
    }

    #index-info-section {
        
        width: 100%;
        margin: auto;
        h3 {
            font-size: 1.32rem;
            margin: 1.2rem 0 0.4rem 0;
        }
        p {
            font-size: 1.24rem;
        }
        .app-info {
            position: relative;
            margin-top: 8rem;
        }
        #info-icons {
            margin: 3rem auto;
            p {
                margin-bottom: 2.8rem;
            }
        }

        #info-text {
            background: $gray1;
            color: $textWhite;
            width: 100%;
            margin: auto;
            position: relative;
            z-index: 8;
            border-top: 3.2rem solid $gray1;
            border-bottom: 3.2rem solid $gray1;
            p {
                width: 90vw;
                max-width: 50rem;
                margin: auto;
            }
        }

        #info-icons {
            margin-top: -8rem;
        }

        section {
            position: relative;
            width: 100%;
            height: 70vh;
            &:nth-of-type(2) {
                height: 80vh;
            }
            &:nth-of-type(3) {
                height: 68vh;
            }
            @media screen and (min-width: $tablet) {
                height: 520px;
            }
            mask-size: cover;
            mask-position: bottom center;
            mask-repeat: no-repeat;
            box-sizing: content-box;

            .info-tile {
                margin: auto;
                width: 90vw;
                z-index: 14;
                @media screen and (min-width: $tablet) {
                    max-width: 26rem;
                }
                @media screen and (min-width: $smallDesktop) {
                    max-width: 22rem;
                }
            }
            
            &:nth-of-type(1) {
                top: calc(-4rem - 1px);
                padding-top: 2rem;
            }
            &:nth-of-type(3) {
                top: -12rem;
                padding-top: 6rem;
            }

            &:nth-of-type(1),
            &:nth-of-type(3) {
                background-color: var(--c-bgd2);
                z-index: 5;
                .info-tile {
                    @media screen and (min-width: $tablet) {
                        position: absolute;
                        right: 10%;
                        top: 15%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        position: absolute;
                        right: 15%;
                        top: 20%;
                    }
                }
            }
            &:nth-of-type(2) {
                margin-top: -4rem;
            }
            &:nth-of-type(4) {
                margin-top: -12rem;
            }

            &:nth-of-type(2),
            &:nth-of-type(4) {
                background-color: var(--c-bgd);
                z-index: 6;
                
                .index-img {
                    right: 0;
                }
                .info-tile {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    @media screen and (min-width: $tablet) {
                        position: absolute;
                        left: 10%;
                        top: 5%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        position: absolute;
                        left: 15%;
                        top: 10%;
                    }
                }
            }

            &:nth-of-type(4) {
                margin-bottom: -6.5rem;
            }

            .index-img.bg1,
            .index-img.bg2,
            .index-img.bush1,
            .index-img.bush2 {
                background-repeat: no-repeat;
                background-position-y: bottom;
                mask-repeat: no-repeat;
                mask-position: bottom center;
            }

            .index-img.chars {
                position: absolute;
                bottom: 0;
                transform: scale(80%) translateY(20%);
                z-index: 10;
            }
            .index-img.bg1 {
                background-size: 95%;
                @media screen and (min-width: $smallDesktop) {
                    background-size: 80%;
                }
                transform: translateY(5%);
                @media screen and (min-width: $tablet) {
                    transform: scaleY(90%) translateY(15%);
                }
                @media screen and (min-width: $smallDesktop) {
                    transform: scaleY(80%) translateY(20%);
                }
                @media screen and (min-width: $desktop) {
                    transform: scaleY(70%) translateY(25%);
                }
                z-index: 7;
            }
            .index-img.bg2 {
                mask-size: 95%;
                @media screen and (min-width: $tablet) {
                    mask-size: 65%;
                }
                z-index: 8;
            }
            .index-img.bush1,
            .index-img.bush2 {
                background-size: 100%;
                @media screen and (min-width: $smallDesktop) {
                    background-size: 80%;
                }
                opacity: 70%;
                z-index: 9;
            }  

            // ---------------------- zde pozicování jednotlivých grafik ----------------------
            &:nth-of-type(1) {
                mask-image: url("../images/index/clip1.svg");
                .index-img.chars {
                    left: 5%;
                    @media screen and (min-width: $smallDesktop) {
                        left: 10%;
                    }
                }
                .index-img.bg1 {
                    background-image: url("../images/index/bg1.svg");
                    background-position-x: left;
                    background-position-y: 90%;
                }
                .index-img.bg2 {
                    mask-image: url("../images/index/bg4.svg");
                    background: $greenDark;
                    opacity: 50%;
                    mask-position: 10% bottom;
                    @media screen and (min-width: $tablet) {
                        mask-position: -10% bottom;
                    }
                }
                .index-img.bush1 {
                    background-image: url("../images/index/bush7.svg");
                    background-size: 80%;
                    background-position-x: -200%;
                    background-position-y: 110%;
                    @media screen and (min-width: $tablet) {
                        background-size: 60%;
                        background-position-x: -50%;
                        background-position-y: 100%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        background-size: 40%;
                        background-position-x: -10%;   
                    }
                }
                .index-img.bush2 {
                    background-image: url("../images/index/bush2.svg");
                    background-size: 60%;
                    background-position-x: 80%;
                    background-position-y: 100%;
                    @media screen and (min-width: $tablet) {
                        background-size: 60%;
                        background-position-x: 100%;
                        background-position-y: 120%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        background-size: 40%; 
                        background-position-x: 80%;
                        background-position-y: 110%;
                    }
                    @media screen and (min-width: $desktop) {
                        background-position-y: 120%;
                    }
                }
            }

            &:nth-of-type(2) {
                mask-image: url("../images/index/clip2.svg");
                .index-img.chars {
                    right: 10%;
                    @media screen and (min-width: $smallDesktop) {
                        right: 20%;
                    }
                    @media screen and (min-width: $desktop) {
                        right: 25%;
                    }
                }
                .index-img.bg1 {
                    background-image: url("../images/index/bg2.svg");
                    background-position-x: left;
                    right: 0;
                    transform: scaleX(-1)
                }
                .index-img.bg2 {
                    mask-image: url("../images/index/bg6.svg");
                    background: $greenDark;
                    opacity: 90%;
                    mask-position: 120% bottom;
                    transform: scaleY(130%) translateY(-5%);
                }
                .index-img.bush1 {
                    background-image: url("../images/index/bush2.svg");
                    background-size: 50%;
                    background-position-x: 20%;
                    @media screen and (min-width: $tablet) {
                        background-size: 45%;
                        background-position-x: 50%;
                    }
                }
                .index-img.bush2 {
                    background-image: url("../images/index/bush1.svg");
                    background-size: 90%;
                    background-position-x: 450%;
                    @media screen and (min-width: $tablet) {
                        background-size: 60%;
                        background-position-x: 200%;
                    }
                }
            }

            &:nth-of-type(3) {
                mask-image: url("../images/index/clip3.svg");
                .index-img.chars {
                    left: 10%;
                    bottom: 5%;
                    @media screen and (min-width: $smallDesktop) {
                        left: 20%;
                    }
                }
                .index-img.bg1 {
                    background-image: url("../images/index/bg3.svg");
                    background-position-x: left;
                }
                .index-img.bg2 {
                    mask-image: url("../images/index/bg8.svg");
                    background: $greenDark;
                    opacity: 90%;
                    mask-position: 700% bottom;
                    @media screen and (min-width: $tablet) {
                        mask-position: 120% bottom;
                    }
                    transform: scaleX(-1);
                }
                .index-img.bush1 {
                    background-image: url("../images/index/bush3.svg");
                    background-size: 70%;
                    background-position-x: 20%;
                    background-position-y: 100%;
                    @media screen and (min-width: $tablet) {
                        background-size: 50%;
                        background-position-x: 30%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        background-size: 35%;
                        background-position-x: 40%;
                    }
                    transform: scaleX(-1);
                }
                .index-img.bush2 {
                    background-image: url("../images/index/bush6.svg");
                    background-size: 50%;
                    background-position-x: -20%;
                    @media screen and (min-width: $tablet) {
                        background-size: 30%;
                        background-position-x: 0;
                    }
                }
            }

            &:nth-of-type(4) {
                mask-image: url("../images/index/clip4.svg");
                .index-img.chars {
                    right: 5%;
                    @media screen and (min-width: $smallDesktop) {
                        right: 15%;
                    }
                }
                .index-img.bg1 {
                    background-image: url("../images/index/bg5.svg");
                    right: 0;
                    background-position-x: right;
                    transform: scaleY(85%) translateY(10%);
                }
                .index-img.bg2 {
                    mask-image: url("../images/index/bg11.svg");
                    background: $greenDark;
                    opacity: 90%;
                    mask-position: 30% bottom;
                }
                .index-img.bush1 {
                    background-image: url("../images/index/bush5.svg");
                    background-size: 90%;
                    background-position-x: -350%;
                    @media screen and (min-width: $tablet) {
                        background-size: 75%;
                        background-position-x: -150%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        background-size: 60%;
                        background-position-x: -30%;
                    }
                    transform: scaleX(-1);
                }
                .index-img.bush2 {
                    background-image: url("../images/index/bush4.svg");
                    background-size: 55%;
                    background-position-x: 15%;
                    @media screen and (min-width: $tablet) {
                        background-size: 45%;
                        background-position-x: 25%;
                    }
                    @media screen and (min-width: $smallDesktop) {
                        background-size: 35%;
                    }
                }
            }
            // --------------------------------------------------------------------------------
        }
        /*
        #info-icons {
            @media screen and (min-width: $mobile) {
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                grid-template-rows: auto auto auto auto;
                column-gap: 2rem;
            }
            margin: 1rem 0;
            .info-tile {
                max-width: 22.5rem;
                margin: 0 auto;
            }
            #new-class-info {
                @media screen and (min-width: $mobile) {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
            }
            #learn-info {
                @media screen and (min-width: $mobile) {
                    grid-column: 1/2;
                    grid-row: 4/5;
                }
            }
            img {
                display: block;
                padding-top: 3.2rem;
                @media screen and (min-width: $mobile) {
                    align-self: end;
                }
            }
            div {
                @media screen and (min-width: $mobile) {
                    align-self: start;
                }
            }
        }*/
    }    

    #index-login-section {
        display: grid;
        position: fixed;
        overflow: hidden;
        box-shadow: 0px 0px 4px 2px rgba(black,0.2);
        border: 0.8rem solid var(--c-bgd-popup);
        border-radius: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: auto;
        max-width: 32.5rem;
        z-index: 10;
        background: var(--c-bgd-popup);
        opacity: 0;
        pointer-events: none;
        @media screen and (min-width: $mobile) {
            border-width: 1.6rem;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        @include scrollbar(8px, none, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        #register,
        #login,
        #password-recovery {
            max-height: 80vh;
            padding: 0 0.4rem;
            overflow: auto;  
            @include scrollbar(0px, thin, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        }
        #hide-login-section-button {
            margin: 0 0 0.6rem auto;
            height: 1.4rem;
            width: 1.4rem;
        }
        h2 {
            font-size: 1.6rem;
            margin: 0 0 0.8rem 0;
        }
        .user.data {
            display: flex;
            flex-direction: column;
            label {
                font-size: 0.9rem;
            }
            label, 
            input.text-field {
                margin: 0.2rem 0;
            }
            label:not(:nth-of-type(1)), //kromě prvního labelu
            .checkbox { 
                margin-top: 0.54rem;
            }
            input.text-field {
                font-family: 'Ubuntu', sans-serif;
                padding-top: 0.6em;
                padding-bottom: 0.6em;
            }
            label.custom-checkbox-wrapper {
                margin-top: 0.72rem;
                margin-bottom: 0.54rem;
            }
        }
        .message {
            font-size: 0.72rem;
            line-height: 0.96rem;
            min-height: 0.96rem; 
            color: var(--c-error);
            &.server {
                margin-bottom: 0.6rem;
            }
        }
        .btn.inline,
        p {
            font-size: inherit;
            text-align: left;
            padding: 0;
            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }
        .border-btn {
            margin: 0.8rem auto 0.2rem auto;
            font-size: 1.2rem;
            width: 100%; 
        }
        #register-terms {
            font-size: 0.8rem;
            margin-top: 0.4rem;
            .btn {
                color: var(--c-primary-contrast);
            }
        }
    }

    footer {
        grid-row: 4/5;
        padding: 6rem 2rem 1rem 2rem;
        .content {
            justify-content: space-evenly;
        }
    }

    #cookies-alert {
        position: fixed;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
        background: #444;
        color: white;
        text-align: justify;
        z-index: 6;
        padding: 1rem 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: transform 0.6s ease-in-out;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 1rem 4.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 1rem 6rem;
        }
        &.show {
            transform: translateY(0);
        }
        .wrapper {
            padding-right: 2rem;
            @media screen and (min-width: $mobile) {
                padding-right: 3rem;
            }
            @media screen and (min-width: $tablet) {
                padding-right: 4.8rem;
            }
            @media screen and (min-width: $smallDesktop) {
                padding-right: 6rem;
            }
            p {
                margin-bottom: 0.6rem;
            }
        }
        #cookie {
            position: relative;
            max-height: 8rem;
            margin-right: 0.8rem;
            @media screen and (min-width: $mobile) {
                margin-right: 1.6rem;
            }
            @media screen and (min-width: $smallDesktop) {
                margin-right: 2.4rem;
            }
        }
        .btn {
            flex-shrink: 0;
            margin: auto 0 auto auto;
        }
    }

    #back-to-top-button {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;
        height: 4rem;
        width: 4rem;
        padding: 0.8rem;
        background: var(--c-bgd-comp);
        border: 2px solid var(--c-bgd-comp);
        position: fixed; 
        bottom: 2rem;
        right: 2rem;
        z-index: 15;
        @media screen and (min-width: $tablet) {
            bottom: 3rem;
            right: 3rem;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        img {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 0.2rem;
        }
    }
}