@import "_reset.scss";
@import "_generic.scss";

html:has(#index) {
    @include scrollbar(12px, auto, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
}

#index {
    background: var(--c-bgd);
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    color: var(--c-text);
    overflow-y: auto;
    header {
        background: linear-gradient(90deg, $greenDark, $gradientDark);
        padding: 1rem 1rem;
        z-index: 4;
        inset: 0;
        mask:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80px 80px" ><circle cx="24" cy="24" r="40px" fill="black"/></svg>') 0/100% 100%, //nevím jak to funguje
            linear-gradient(#fff,#fff);
        mask-composite: exclude;  
        -webkit-mask-composite: destination-out;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 1rem 4.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 1rem 6rem;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                margin: 0.4rem 1.6rem;
            }
            @media screen and (min-width: $mobile) {
                justify-content: flex-end;
                .btn {
                    margin: 0 0 0 1.2rem;
                }
            }
        }
    }
    #logo-standalone {
        display: block; 
        top: -12px;
        left: -12px;
        height: 72px;
        width: 72px;
        position: absolute;
        z-index: 5;
        border-radius: 100px;
        background: linear-gradient(135deg, $greenDark, $gradientDark);
        img {
            position: relative;
            top: 20px;
            left: 20px;
            height: 50%;
            width: 50%;
            margin: auto;
        }
    }
    main {
        grid-row: 2/4;
        h1 {
            margin: 1.8rem 0;
            font-size: 3.2rem;
            @media screen and (min-width: $smallMobile) {
                font-size: 3.6rem;
            }
            text-align: center;
            @media screen and (min-width: $tablet) {
                text-align: justify;
            }
        }
        p {
            padding: 0.6rem 0;
            line-height: 1.3em;
            text-align: justify;
        }
    }

    #messages {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    #index-text-section {
        @media screen and (min-width: $tablet) {
            display: grid;
            grid-template-columns: 2fr 1fr 3fr;
            grid-template-rows: 1fr 6fr 1fr;
        }
        @media screen and (min-width: $tablet) {
            grid-template-columns: 4fr 1fr 3fr;
            grid-template-rows: 1fr 6fr 1fr;
        }
        > .content {
            padding: 3rem 1.6rem;
            text-align: center;
            @media screen and (min-width: $mobile) {
                padding: 3rem 3rem;
            }
            @media screen and (min-width: $tablet) {
                padding: 3rem 4rem;
                grid-row: 1/3;
                grid-column: 1/3;
                text-align: justify;
            }
            @media screen and (min-width: $smallDesktop) {
                padding: 4rem 6rem;
            }
            @media screen and (min-width: $desktop) {
                padding: 4rem 10rem;
            }
            p {
                font-size: 1.4rem;
                margin-bottom: 0.4rem;
                @media screen and (min-width: $tablet) {
                    font-size: 1.6rem;
                    text-align: left;
                }
                @media screen and (min-width: $smallDesktop) {
                    font-size: 1.8rem;
                }
            }
            .btn {
                font-size: 1.6rem;
                padding: 0.4rem;
                text-decoration: none;
                @media screen and (min-width: $tablet) {
                    font-size: 1.8rem;
                }
                @media screen and (min-width: $smallDesktop) {
                    font-size: 2rem;
                }
            }
        }
        #leaf-guy {
            width: 100%;
            /*
            @media (prefers-color-scheme: dark) {
                content: url("images/leaf-guy-blonde.svg");
            }
            @media (prefers-color-scheme: light) {
                content: url("images/leaf-guy-dark.svg");
            }*/
            @media screen and (min-width: $tablet) {
                grid-row: 2/4;
                grid-column: 2/4;
                align-self: end;
                justify-self: end;
            }
            @media screen and (max-width: $tablet) {
                position: relative;
                bottom: -5px; //z neznámého důvodu je jinak pod obrázkem prázdné místo
            }
        }
    }

    #index-buttons-section {
        background: var(--c-side-panel);
        padding: 3rem 1rem;
        @media screen and (min-width: $mobile) {
            padding: 3rem 3rem;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn {
                width: 100%;
                margin: 1rem 0;
                font-size: 1.4rem;
                max-width: 10em;
                @media screen and (min-width: $smallMobile) {
                    font-size: 1.8rem;
                }
            }
        }
    }

    #index-info-section {
        padding: 3rem 1.6rem;
        @media screen and (min-width: $mobile) {
            padding: 3rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 4rem 6rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 4rem 16vw;
        }
        @media screen and (min-width: $desktop) {
            padding: 4rem 20vw;
        }
        h3 {
            font-size: 1.32rem;
            margin: 1.6rem 0 0.4rem 0;
        }
        p {
            font-size: 1.24rem;
        }
        #info-icons {
            @media screen and (min-width: $mobile) {
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                grid-template-rows: auto auto auto auto;
                column-gap: 2rem;
            }
            margin: 1rem 0;
            .info-tile {
                max-width: 360px;
                margin: 0 auto;
            }
            #new-class-info {
                @media screen and (min-width: $mobile) {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
            }
            #learn-info {
                @media screen and (min-width: $mobile) {
                    grid-column: 1/2;
                    grid-row: 4/5;
                }
            }
            img {
                display: block;
                padding-top: 3.2rem;
                @media screen and (min-width: $mobile) {
                    align-self: end;
                }
            }
            div {
                @media screen and (min-width: $mobile) {
                    align-self: start;
                }
            }
        }
    }    

    #index-login-section {
        display: grid;
        position: fixed;
        overflow: hidden;
        box-shadow: 0px 0px 4px 2px rgba(black,0.2);
        border: 0.8rem solid var(--c-bgd-popup);
        border-radius: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: auto;
        max-width: 520px;
        z-index: 10;
        background: var(--c-bgd-popup);
        opacity: 0;
        pointer-events: none;
        @media screen and (min-width: $mobile) {
            border-width: 1.6rem;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        @include scrollbar(8px, none, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        #register,
        #login,
        #password-recovery {
            max-height: 76vh;
            padding: 0 0.4rem;
            overflow: auto;  
            @include scrollbar(0px, thin, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        }
        #hide-login-section-button {
            margin: 0 0 0.6rem auto;
            height: 1.4rem;
            width: 1.4rem;
        }
        h2 {
            font-size: 1.6rem;
            margin: 0 0 0.8rem 0;
        }
        .user.data {
            display: flex;
            flex-direction: column;
            label {
                font-size: 0.9rem;
            }
            label, 
            input.text-field {
                margin: 0.2rem 0;
            }
            label:not(:nth-of-type(1)), //kromě prvního labelu
            .checkbox { 
                margin-top: 0.54rem;
            }
            input.text-field {
                font-family: 'Ubuntu', sans-serif;
                padding-top: 0.6em;
                padding-bottom: 0.6em;
            }
            label.custom-checkbox-wrapper {
                margin-top: 0.72rem;
                margin-bottom: 0.54rem;
            }
        }
        .message {
            font-size: 0.72rem;
            line-height: 0.96rem;
            min-height: 0.96rem; 
            color: var(--c-error);
            &.server {
                margin-bottom: 0.6rem;
            }
        }
        .btn.inline,
        p {
            font-size: inherit;
            text-align: left;
            padding: 0;
            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }
        .border-btn {
            margin: 0.8rem auto 0.2rem auto;
            font-size: 1.2rem;
            width: 100%; 
        }
        #register-terms {
            font-size: 0.8rem;
            margin-top: 0.4rem;
            .btn {
                color: var(--c-primary-contrast);
            }
        }
    }

    footer {
        grid-row: 4/5;
    }

    #cookies-alert {
        position: fixed;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
        background: #444;
        color: white;
        text-align: justify;
        z-index: 6;
        padding: 1rem 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: transform 0.6s ease-in-out;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 1rem 4.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 1rem 6rem;
        }
        &.show {
            transform: translateY(0);
        }
        .wrapper {
            padding-right: 2rem;
            @media screen and (min-width: $mobile) {
                padding-right: 3rem;
            }
            @media screen and (min-width: $tablet) {
                padding-right: 4.8rem;
            }
            @media screen and (min-width: $smallDesktop) {
                padding-right: 6rem;
            }
            p {
                margin-bottom: 0.6rem;
            }
        }
        #cookie {
            position: relative;
            max-height: 8rem;
            margin-right: 0.8rem;
            @media screen and (min-width: $mobile) {
                margin-right: 1.6rem;
            }
            @media screen and (min-width: $smallDesktop) {
                margin-right: 2.4rem;
            }
        }
        .btn {
            flex-shrink: 0;
            margin: auto 0 auto auto;
        }
    }

    #back-to-top-button {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        pointer-events: none;
        height: 4rem;
        width: 4rem;
        padding: 0.8rem;
        background: var(--c-bgd-comp);
        border: 2px solid var(--c-bgd-comp);
        position: fixed; 
        bottom: 2rem;
        right: 2rem;
        z-index: 4;
        @media screen and (min-width: $tablet) {
            bottom: 3rem;
            right: 3rem;
        }
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
        img {
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 0.2rem;
        }
    }
}