@import url("https://fonts.googleapis.com/css2?family=Ubuntu:300,400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.25em;
  font-size: 100%;
  min-width: 100%;
  min-height: 100vh;
  color: #101010;
}
body .btn:focus {
  outline: none;
}
body .btn::-moz-focus-inner {
  border: 0;
}
body.tab .btn.border-btn:focus {
  box-shadow: inset 0 0 0 1.6px #79cf40;
}
body.tab .btn.inline:focus {
  font-weight: 500;
  color: #479911;
}
body.tab .btn.arrow-btn:focus span {
  color: #479911;
}
body.tab .btn.arrow-btn:focus img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(1490%) hue-rotate(53deg) brightness(94%) contrast(96%);
}
body.tab input:focus ~ .checkmark {
  box-shadow: inset 0 0 0 1.6px rgba(121, 207, 64, 0.6);
}
body.tab input[type=checkbox]:checked:focus ~ .checkmark {
  box-shadow: inset 0 0 0 1.6px #79cf40;
}
body .text-field:focus {
  box-shadow: inset 0 0 0 1.6px rgba(121, 207, 64, 0.6);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.3em;
}

.container {
  min-height: 100vh;
  height: 100%;
  display: grid;
}

header {
  grid-row: 1/2;
  padding: 0.2rem 0.6rem;
  min-height: 3.2rem;
}
header .logo {
  margin-left: 0.6rem;
  display: flex;
}
header .logo img {
  margin: 0;
  height: 2rem;
  margin: 0.4rem 0.4rem 0.4rem 0;
}
header .logo h1 {
  font-size: 2rem;
  line-height: 2.8rem;
  color: white;
  margin: 0;
}

#messages .message-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  word-break: break-word;
}
#messages .message-item .text {
  max-height: 24vh;
  overflow: auto;
  scrollbar-color: #222 none;
  scrollbar-width: auto;
  animation: fontpop 0.4s;
}
#messages .message-item .text::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#messages .message-item .text::-webkit-scrollbar-thumb {
  background: #222;
}
#messages .message-item .text::-webkit-scrollbar-track {
  background: none;
}
#messages .message-item .btn {
  margin-left: 1rem;
  flex-shrink: 0;
}
#messages .success-message {
  background: #479911;
}
#messages .info-message {
  background: #888;
}
#messages .warning-message {
  background: #960;
}
#messages .error-message {
  background: #a00;
}

#popups {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: none;
  pointer-events: none;
  z-index: 10;
}

.confirm-item {
  position: fixed;
  border: solid 2px #a00;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  width: 90vw;
  max-width: 520px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.6rem;
  pointer-events: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.confirm-item p {
  text-align: justify;
}
.confirm-item .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.confirm-item .buttons > * {
  margin-left: 0.4rem;
}

footer {
  padding: 0.12rem 1rem;
  background: #222;
  font-size: 0.72rem;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  footer .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 672px) {
  footer .content {
    justify-content: end;
  }
}
footer .content a, footer .content span {
  margin: 0.2rem 0.8rem;
  color: white;
}
footer .content a:after {
  background: white;
}

#overlay {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.32s ease-out;
}
#overlay.show {
  opacity: 1;
  pointer-events: auto;
}

img {
  height: auto;
  width: auto;
}

ul.list li {
  list-style-type: circle;
  margin-left: 1.2rem;
}
ul.list li:not(:last-child) {
  margin-bottom: 0.32rem;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1em;
  transition: transform 0.1s ease-in;
}
.btn:hover {
  cursor: pointer;
}
.btn.disabled {
  pointer-events: none;
  cursor: auto;
}
.btn.border-btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0.44em 1em;
  border-radius: 3.2px;
  line-height: 1.32em;
}
.btn.border-btn.non-transparent.white {
  background: white;
  color: #101010;
}
.btn.border-btn.non-transparent.white:after {
  background: rgba(0, 0, 0, 0.04);
}
.btn.border-btn.non-transparent.black {
  background: #101010;
  color: white;
}
.btn.border-btn.non-transparent.black:after {
  background: rgba(255, 255, 255, 0.08);
}
.btn.border-btn.non-transparent.black.disabled {
  background: #888;
  border-color: #888;
  color: #ddd;
}
.btn.border-btn.non-transparent.black.disabled > img {
  filter: grayscale(50%);
}
.btn.border-btn.non-transparent.dark-green {
  background: #366e11;
  color: white;
}
.btn.border-btn.non-transparent.dark-green:after {
  background: rgba(255, 255, 255, 0.06);
}
.btn.border-btn.transparent {
  background: transparent;
  padding: calc(0.44em - 2px) calc(1em - 2px);
}
.btn.border-btn.transparent.white {
  color: white;
  border: 2px solid white;
}
.btn.border-btn.transparent.white:after {
  background: rgba(255, 255, 255, 0.06);
}
.btn.border-btn.transparent.black {
  color: #101010;
  border: 2px solid #101010;
}
.btn.border-btn.transparent.black:after {
  background: rgba(0, 0, 0, 0.06);
}
.btn.border-btn.transparent.black.disabled {
  border-color: #888;
  color: #888;
}
.btn.border-btn.rounded {
  border-radius: 4em;
}
.btn.border-btn.rounded:after {
  border-radius: 4em;
}
.btn.border-btn:after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  transform: scale(0);
  top: -2px;
  left: -2px;
  transition: transform 0.1s ease-out;
  border-radius: 0.2em;
}
.btn.border-btn:hover:after {
  transform: scale(1);
}
.btn.border-btn:active {
  transform: scale(0.98);
}
.btn.border-btn.img {
  padding: 0.44em;
}
.btn.border-btn.img img {
  height: 1.32em;
  width: 1.32em;
  vertical-align: bottom;
}
.btn.arrow-btn {
  font-size: 1.2rem;
  transition: transform 0.2s ease-out;
}
.btn.arrow-btn.white {
  color: white;
}
.btn.arrow-btn.black {
  color: #222;
}
.btn.arrow-btn img {
  height: 1em;
  width: 1em;
  padding-left: 0.48em;
  position: relative;
  top: 0.12em;
  transition: transform 0.2s ease-out;
}
.btn.arrow-btn:hover {
  transform: translateX(-0.16em);
}
.btn.arrow-btn:hover img {
  transform: translateX(0.32em);
}
.btn.inline {
  font-size: 1em;
  position: relative;
  text-decoration: none;
}
.btn.inline:hover {
  text-decoration: underline;
}
.btn.inline.white {
  color: white;
}
.btn.inline.black {
  color: #101010;
}
.btn.inline.green {
  color: #366e11;
}
.btn.icon {
  display: block;
  height: 1em;
  width: 1em;
}
.btn.icon img {
  transition: transform 0.2s ease-out;
  height: 100%;
  width: 100%;
}
.btn.icon.disabled > img {
  filter: grayscale(100%);
}
.btn.icon:active img {
  transform: scale(0.96);
}

.center {
  display: block;
  margin: auto;
}

input,
select,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}
input.text-field,
select.text-field,
textarea.text-field {
  font-size: 100%;
  padding: 0.44em 0.8em;
  border-radius: 0.2em;
  line-height: 1.32em;
}
input.text-field.disabled,
select.text-field.disabled,
textarea.text-field.disabled {
  background: #ddd;
  pointer-events: none;
  cursor: auto;
}
input.text-field::-webkit-outer-spin-button, input.text-field::-webkit-inner-spin-button,
select.text-field::-webkit-outer-spin-button,
select.text-field::-webkit-inner-spin-button,
textarea.text-field::-webkit-outer-spin-button,
textarea.text-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.text-field[type=number],
select.text-field[type=number],
textarea.text-field[type=number] {
  -moz-appearance: textfield;
}

.input-wrapper {
  position: relative;
  width: 100%;
}
.input-wrapper .checkmark {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: auto 0.4rem;
}
.input-wrapper .text-field {
  width: 100%;
}
.input-wrapper .text-field.checked {
  padding-right: 2em;
}
.input-wrapper .text-field.checked + .checkmark {
  display: block;
  height: 1em;
  width: 1em;
}
.input-wrapper .text-field.checked + .checkmark img {
  width: 100%;
  height: 100%;
}

textarea {
  resize: vertical;
  min-height: 2.2rem;
}

label {
  margin: 0.24rem 0;
  font-size: 0.9rem;
  display: inline-block;
}
label.disabled {
  pointer-events: none;
  color: #444;
}
label.required:after {
  content: " *";
  color: #a00;
}

.custom-checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1.6rem;
}
.custom-checkbox-wrapper input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.2em;
  background-color: #eee;
}
.custom-checkbox-wrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.6rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid white;
  border-width: 0 0.15rem 0.15rem 0;
  transform: rotate(45deg);
}
.custom-checkbox-wrapper:hover input ~ .checkmark {
  background-color: #d8d8d8;
}
.custom-checkbox-wrapper input[type=checkbox]:checked ~ .checkmark {
  background-color: #366e11;
}
.custom-checkbox-wrapper input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

.custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  margin: 0;
  font-size: 100%;
  line-height: 1.32em;
}
.custom-select-wrapper .custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}
.custom-select-wrapper .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: rotateX(0deg);
}
.custom-select-wrapper .custom-select.open .custom-select-main {
  border-radius: 3.2px 3.2px 0 0;
}
.custom-select-wrapper .custom-select.open .custom-select-main .arrow {
  transform: rotate(270deg);
}
.custom-select-wrapper .custom-select-main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #222;
  height: 2.28em;
  padding: 0.48em 0.8em;
  background: #fff;
  cursor: pointer;
  border-radius: 3.2px;
}
.custom-select-wrapper .custom-select-main span {
  flex-grow: 1;
}
.custom-select-wrapper .custom-select-main .arrow {
  height: 1em;
  width: 1em;
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}
.custom-select-wrapper .custom-options {
  scrollbar-color: #444 white;
  scrollbar-width: auto;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  transition: all 0.4s ease-out;
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  max-height: 50vh;
  border-radius: 0 0 3.2px 3.2px;
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.custom-select-wrapper .custom-options::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.custom-select-wrapper .custom-options::-webkit-scrollbar-thumb {
  background: #444;
}
.custom-select-wrapper .custom-options::-webkit-scrollbar-track {
  background: white;
}
.custom-select-wrapper .custom-options .custom-option {
  position: relative;
  display: block;
  padding: 0.4em 0.72em;
  color: #101010;
  cursor: pointer;
  border-top: 1px solid #eee;
}
.custom-select-wrapper .custom-options .custom-option:hover {
  cursor: pointer;
  background: #eee;
}
.custom-select-wrapper .custom-options .custom-option.selected {
  color: #fff;
  background: #479911;
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.08em;
}

@keyframes fontpop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
#legal header {
  background: #366e11;
}
#legal main nav {
  background: white;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  #legal main nav {
    flex-direction: row;
    justify-content: center;
  }
}
#legal main nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
#legal main nav .btn {
  margin: 0.4rem 1rem;
}
#legal main nav .btn.selected {
  font-weight: 500;
}
#legal main .content {
  padding: 1rem 1rem;
}
@media screen and (min-width: 576px) {
  #legal main .content {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  #legal main .content {
    padding: 1.2rem 6rem;
  }
}
@media screen and (min-width: 960px) {
  #legal main .content {
    padding: 1.2rem 16vw;
  }
}
@media screen and (min-width: 1200px) {
  #legal main .content {
    padding: 1.2rem 20vw;
  }
}
#legal main .content section {
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  #legal main .content section {
    margin: 1.2rem 0;
  }
}
#legal main .content h1,
#legal main .content h2,
#legal main .content p {
  margin-bottom: 0.4em;
}
#legal main .content h1 {
  font-size: 1.6rem;
}
#legal main .content h2 {
  font-size: 1.2rem;
}
#legal main .content h5 {
  color: #444;
  font-size: 0.88rem;
}
#legal main .content p {
  text-align: justify;
}
#legal main .content li {
  list-style-type: circle;
  margin-left: 1.2rem;
}
#legal main .content ol {
  margin-left: 2rem;
}/*# sourceMappingURL=legal.css.map */