@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  --c-overlay-dark: #000;
  --c-overlay-light: #fff;
  --c-primary: #479911;
  --c-primary-contrast: #366e11;
  --c-text: #121212;
  --c-text-inverted: #eee;
  --c-text-green: #366e11;
  --c-text-info: #444;
  --c-text-disabled: #444;
  --c-error: #a00;
  --c-warning: #960;
  --c-info: #666;
  --c-bgd: #eee;
  --c-bgd-popup: #fff;
  --c-bgd-comp: #ddd;
  --c-bgd-report: #fff;
  --c-tile: #fff;
  --c-tile-border: #ccc;
  --c-footer: #121212;
  --c-side-panel: #444;
  --c-nav: #e0e0e0;
  --c-text-field: #fff;
  --c-text-field-variant: #eee;
  --c-text-field-disabled: #ddd;
  --c-button-primary: #121212;
  --c-button-dark: #121212;
  --c-button-light: #eee;
  --c-button-disabled: #888;
  --c-selected-hover: #eee;
  --c-selected-hover-variant: #ddd;
  --c-selected: #479911;
  --c-checkmark: #479911;
  --c-scrollbar-thumb: #444;
  --c-scrollbar-thumb-hover: #007F44;
  --c-managed-class-border: #79cf40;
  --c-closed-class-border: #366e11;
  --c-public-class-border: #777;
}

@media (prefers-color-scheme: light) {
  body {
    --c-overlay-dark: #000;
    --c-overlay-light: #fff;
    --c-primary: #479911;
    --c-primary-contrast: #366e11;
    --c-text: #121212;
    --c-text-inverted: #eee;
    --c-text-green: #366e11;
    --c-text-info: #444;
    --c-text-disabled: #444;
    --c-error: #a00;
    --c-warning: #960;
    --c-info: #666;
    --c-bgd: #eee;
    --c-bgd-popup: #fff;
    --c-bgd-comp: #ddd;
    --c-bgd-report: #fff;
    --c-tile: #fff;
    --c-tile-border: #ccc;
    --c-footer: #121212;
    --c-side-panel: #444;
    --c-nav: #e0e0e0;
    --c-text-field: #fff;
    --c-text-field-variant: #eee;
    --c-text-field-disabled: #ddd;
    --c-button-primary: #121212;
    --c-button-dark: #121212;
    --c-button-light: #eee;
    --c-button-disabled: #888;
    --c-selected-hover: #eee;
    --c-selected-hover-variant: #ddd;
    --c-selected: #479911;
    --c-checkmark: #479911;
    --c-scrollbar-thumb: #444;
    --c-scrollbar-thumb-hover: #007F44;
    --c-managed-class-border: #79cf40;
    --c-closed-class-border: #366e11;
    --c-public-class-border: #777;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --c-overlay-dark: #fff;
    --c-overlay-light: #000;
    --c-primary: #479911;
    --c-primary-contrast: #79cf40;
    --c-text: #eee;
    --c-text-inverted: #121212;
    --c-text-green: #79cf40;
    --c-text-info: #aaa;
    --c-text-disabled: #888;
    --c-error: #cc6666;
    --c-warning: #c2a366;
    --c-info: #aaa;
    --c-bgd: #222;
    --c-bgd-popup: #333;
    --c-bgd-comp: #333;
    --c-bgd-report: #333;
    --c-tile: #2e2e2e;
    --c-tile-border: #666;
    --c-footer: #121212;
    --c-side-panel: #323232;
    --c-nav: ${$gray1};
    --c-text-field: #1c1c1c;
    --c-text-field-variant: #1c1c1c;
    --c-text-field-disabled: #444;
    --c-button-primary: #75b34d;
    --c-button-dark: #eee;
    --c-button-light: #eee;
    --c-button-disabled: #666;
    --c-selected-hover: #68924d;
    --c-selected-hover-variant: #68924d;
    --c-selected: #366e11;
    --c-checkmark: #479911;
    --c-scrollbar-thumb: #666;
    --c-scrollbar-thumb-hover: #007F44;
    --c-managed-class-border: #79cf40;
    --c-closed-class-border: #366e11;
    --c-public-class-border: #777;
  }
}
body.light-theme {
  --c-overlay-dark: #000;
  --c-overlay-light: #fff;
  --c-primary: #479911;
  --c-primary-contrast: #366e11;
  --c-text: #121212;
  --c-text-inverted: #eee;
  --c-text-green: #366e11;
  --c-text-info: #444;
  --c-text-disabled: #444;
  --c-error: #a00;
  --c-warning: #960;
  --c-info: #666;
  --c-bgd: #eee;
  --c-bgd-popup: #fff;
  --c-bgd-comp: #ddd;
  --c-bgd-report: #fff;
  --c-tile: #fff;
  --c-tile-border: #ccc;
  --c-footer: #121212;
  --c-side-panel: #444;
  --c-nav: #e0e0e0;
  --c-text-field: #fff;
  --c-text-field-variant: #eee;
  --c-text-field-disabled: #ddd;
  --c-button-primary: #121212;
  --c-button-dark: #121212;
  --c-button-light: #eee;
  --c-button-disabled: #888;
  --c-selected-hover: #eee;
  --c-selected-hover-variant: #ddd;
  --c-selected: #479911;
  --c-checkmark: #479911;
  --c-scrollbar-thumb: #444;
  --c-scrollbar-thumb-hover: #007F44;
  --c-managed-class-border: #79cf40;
  --c-closed-class-border: #366e11;
  --c-public-class-border: #777;
}

body.dark-theme {
  --c-overlay-dark: #fff;
  --c-overlay-light: #000;
  --c-primary: #479911;
  --c-primary-contrast: #79cf40;
  --c-text: #eee;
  --c-text-inverted: #121212;
  --c-text-green: #79cf40;
  --c-text-info: #aaa;
  --c-text-disabled: #888;
  --c-error: #cc6666;
  --c-warning: #c2a366;
  --c-info: #aaa;
  --c-bgd: #222;
  --c-bgd-popup: #333;
  --c-bgd-comp: #333;
  --c-bgd-report: #333;
  --c-tile: #2e2e2e;
  --c-tile-border: #666;
  --c-footer: #121212;
  --c-side-panel: #323232;
  --c-nav: ${$gray1};
  --c-text-field: #1c1c1c;
  --c-text-field-variant: #1c1c1c;
  --c-text-field-disabled: #444;
  --c-button-primary: #75b34d;
  --c-button-dark: #eee;
  --c-button-light: #eee;
  --c-button-disabled: #666;
  --c-selected-hover: #68924d;
  --c-selected-hover-variant: #68924d;
  --c-selected: #366e11;
  --c-checkmark: #479911;
  --c-scrollbar-thumb: #666;
  --c-scrollbar-thumb-hover: #007F44;
  --c-managed-class-border: #79cf40;
  --c-closed-class-border: #366e11;
  --c-public-class-border: #777;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.25em;
  font-size: 100%;
  min-width: 100%;
  min-height: 100vh;
  color: var(--c-text);
}
body .btn:focus {
  outline: none;
}
body .btn::-moz-focus-inner {
  border: 0;
}
body.tab .btn.border-btn:focus {
  box-shadow: inset 0 0 0 1.6px #79cf40;
}
body.tab .btn.inline:focus {
  font-weight: 500;
  color: #479911;
}
body.tab .btn.arrow-btn:focus span {
  color: #479911;
}
body.tab .btn.arrow-btn:focus img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(1490%) hue-rotate(53deg) brightness(94%) contrast(96%);
}
body.tab input:focus ~ .checkmark {
  box-shadow: inset 0 0 0 1.6px rgba(121, 207, 64, 0.6);
}
body.tab input[type=checkbox]:checked:focus ~ .checkmark {
  box-shadow: inset 0 0 0 1.6px #79cf40;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.3em;
}

.container {
  min-height: 100vh;
  display: grid;
}

header {
  grid-row: 1/2;
  padding: 0.2rem 0.6rem;
  min-height: 3.2rem;
}
header .logo {
  margin-left: 0.6rem;
  display: flex;
}
header .logo img {
  margin: 0;
  height: 2rem;
  margin: 0.4rem 0.4rem 0.4rem 0;
}
header .logo h1 {
  font-size: 2rem;
  line-height: 2.8rem;
  color: white;
  margin: 0;
}

#messages .message-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--c-text-inverted);
  word-break: break-word;
}
@-moz-document url-prefix() {
  #messages .message-item {
    scrollbar-color: #666 transparent;
    scrollbar-width: none;
  }
}
#messages .message-item ::-webkit-scrollbar {
  width: 8px;
}
#messages .message-item ::-webkit-scrollbar-track {
  display: none;
}
#messages .message-item ::-webkit-scrollbar-thumb {
  background: #666;
}
#messages .message-item ::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-thumb-hover);
}
#messages .message-item .text {
  max-height: 24vh;
  overflow: auto;
  animation: fontpop 0.4s;
}
@-moz-document url-prefix() {
  #messages .message-item .text {
    scrollbar-color: #666 transparent;
    scrollbar-width: thin;
  }
}
#messages .message-item .text ::-webkit-scrollbar {
  width: 0px;
}
#messages .message-item .text ::-webkit-scrollbar-track {
  display: none;
}
#messages .message-item .text ::-webkit-scrollbar-thumb {
  background: #666;
}
#messages .message-item .text ::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-thumb-hover);
}
#messages .message-item .btn {
  margin-left: 1rem;
  flex-shrink: 0;
}
#messages .success-message {
  background: #479911;
}
#messages .info-message {
  background: var(--c-info);
}
#messages .warning-message {
  background: var(--c-warning);
}
#messages .error-message {
  background: var(--c-error);
}

#popups {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: none;
  pointer-events: none;
  z-index: 10;
}

.confirm-item {
  position: fixed;
  border: solid 2px var(--c-error);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--c-bgd-popup);
  width: 90vw;
  max-width: 32.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.6rem;
  pointer-events: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.confirm-item p {
  text-align: justify;
}
.confirm-item .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.confirm-item .buttons > * {
  margin-left: 0.4rem;
}

footer {
  padding: 0.12rem 1rem;
  background: var(--c-footer);
  font-size: 0.72rem;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 36rem) {
  footer .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 42rem) {
  footer .content {
    justify-content: end;
  }
}
footer .content a, footer .content span {
  margin: 0.2rem 0.8rem;
  color: white;
}
footer .content a:after {
  background: white;
}

#overlay {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.32s ease-out;
}
#overlay.show {
  opacity: 1;
  pointer-events: auto;
}

img {
  height: auto;
  width: auto;
}

ul.list li {
  list-style-type: circle;
  margin-left: 1.2rem;
}
ul.list li:not(:last-child) {
  margin-bottom: 0.32rem;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1em;
  transition: transform 0.1s ease-in;
}
.btn:hover {
  cursor: pointer;
}
.btn.disabled {
  pointer-events: none;
  cursor: auto;
}
.btn.border-btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0.44em 1em;
  border-radius: 3.2px;
  line-height: 1.32em;
}
.btn.border-btn.non-transparent.primary {
  background: var(--c-button-primary);
  color: var(--c-text-inverted);
}
.btn.border-btn.non-transparent.primary::after {
  background: rgba(255, 255, 255, 0.08);
}
.btn.border-btn.non-transparent.primary.disabled {
  background: var(--c-button-disabled);
  border-color: var(--c-button-disabled);
  color: --c-text;
}
.btn.border-btn.non-transparent.primary.disabled > img {
  filter: grayscale(50%);
}
.btn.border-btn.non-transparent.white {
  background: var(--c-button-light);
  color: var(--c-text-inverted);
}
.btn.border-btn.non-transparent.white::after {
  background: rgba(0, 0, 0, 0.06);
}
.btn.border-btn.non-transparent.always-white {
  background: #eee;
  color: #121212;
}
.btn.border-btn.non-transparent.always-white::after {
  background: rgba(0, 0, 0, 0.06);
}
.btn.border-btn.non-transparent.dark {
  background: var(--c-button-dark);
  color: var(--c-text-inverted);
}
.btn.border-btn.non-transparent.dark::after {
  background: rgb(from var(--c-overlay-light) r g b/8%);
}
.btn.border-btn.non-transparent.dark.disabled {
  background: var(--c-button-disabled);
  border-color: var(--c-button-disabled);
  color: --c-text;
}
.btn.border-btn.non-transparent.dark.disabled > img {
  filter: grayscale(50%);
}
.btn.border-btn.non-transparent.dark-green {
  background: #366e11;
  color: white;
}
.btn.border-btn.non-transparent.dark-green::after {
  background: rgba(255, 255, 255, 0.06);
}
.btn.border-btn.transparent {
  background: transparent;
  padding: calc(0.44em - 2px) calc(1em - 2px);
}
.btn.border-btn.transparent.primary {
  color: var(--c-text);
  border: 2px solid var(--c-button-primary);
}
.btn.border-btn.transparent.primary:after {
  background: rgb(from var(--c-button-primary) r g b/6%);
}
.btn.border-btn.transparent.primary.disabled {
  border-color: var(--c-button-disabled);
  color: var(--c-button-disabled);
}
.btn.border-btn.transparent.white {
  color: var(--c-button-light);
  border: 2px solid var(--c-button-light);
}
.btn.border-btn.transparent.white:after {
  background: rgba(255, 255, 255, 0.06);
}
.btn.border-btn.transparent.always-white {
  color: #eee;
  border: 2px solid #eee;
}
.btn.border-btn.transparent.always-white::after {
  background: rgba(255, 255, 255, 0.04);
}
.btn.border-btn.transparent.dark {
  color: var(--c-text);
  border: 2px solid var(--c-button-dark);
}
.btn.border-btn.transparent.dark:after {
  background: rgb(from var(--c-button-dark) r g b/6%);
}
.btn.border-btn.transparent.dark.disabled {
  border-color: var(--c-button-disabled);
  color: var(--c-button-disabled);
}
.btn.border-btn.rounded {
  border-radius: 4em;
}
.btn.border-btn.rounded:after {
  border-radius: 4em;
}
.btn.border-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  top: 0;
  left: 0;
  transition: transform 0.1s ease-out;
  border-radius: 0.2em;
}
.btn.border-btn:hover:after {
  transform: scale(1);
}
.btn.border-btn:active {
  transform: scale(0.98);
}
.btn.border-btn.img {
  padding: 0.44em;
}
.btn.border-btn.img img {
  height: 1.32em;
  width: 1.32em;
  vertical-align: bottom;
}
.btn.arrow-btn {
  font-size: 1.2rem;
  transition: transform 0.2s ease-out;
}
.btn.arrow-btn.white {
  color: var(--c-button-light);
}
.btn.arrow-btn.dark {
  color: var(--c-button-dark);
}
.btn.arrow-btn img {
  height: 1em;
  width: 1em;
  padding-left: 0.32em;
  position: relative;
  top: 0.24em;
  transition: transform 0.2s ease-out;
}
.btn.arrow-btn:hover {
  transform: translateX(-0.16em);
}
.btn.arrow-btn:hover img {
  transform: translateX(0.32em);
}
.btn.inline {
  font-size: 1em;
  position: relative;
  text-decoration: none;
}
.btn.inline:hover {
  text-decoration: underline;
}
.btn.inline.white {
  color: var(--c-text-inverted);
}
.btn.inline.white-dm {
  color: #eee;
}
.btn.inline.black {
  color: var(--c-text);
}
.btn.inline.green {
  color: var(--c-text-green);
}
.btn.icon {
  display: block;
  height: 1em;
  width: 1em;
}
.btn.icon img {
  transition: transform 0.2s ease-out;
  height: 100%;
  width: 100%;
}
.btn.icon.disabled > img {
  filter: grayscale(100%);
}
.btn.icon:active img {
  transform: scale(0.96);
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme) img.icon.black {
    filter: invert(10%) sepia(40%) saturate(5%) hue-rotate(82deg) brightness(98%) contrast(94%);
  }
  body:not(.dark-theme) img.icon.white {
    filter: invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
  }
  body:not(.dark-theme) img.icon.white.shadow {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8)) invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
  }
  body:not(.dark-theme) img.icon.gray {
    filter: invert(61%) sepia(0%) saturate(240%) hue-rotate(212deg) brightness(87%) contrast(93%);
  }
  body:not(.dark-theme) img.icon.green {
    filter: invert(48%) sepia(100%) saturate(368%) hue-rotate(52deg) brightness(84%) contrast(102%);
  }
  body:not(.dark-theme) img.icon.red {
    filter: invert(9%) sepia(88%) saturate(6994%) hue-rotate(17deg) brightness(88%) contrast(118%);
  }
  body:not(.dark-theme) img.icon.selected {
    filter: invert(25%) sepia(85%) saturate(4117%) hue-rotate(75deg) brightness(90%) contrast(87%);
  }
}
body.light-theme img.icon.black {
  filter: invert(10%) sepia(40%) saturate(5%) hue-rotate(82deg) brightness(98%) contrast(94%);
}
body.light-theme img.icon.white {
  filter: invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
}
body.light-theme img.icon.white.shadow {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8)) invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
}
body.light-theme img.icon.gray {
  filter: invert(61%) sepia(0%) saturate(240%) hue-rotate(212deg) brightness(87%) contrast(93%);
}
body.light-theme img.icon.green {
  filter: invert(48%) sepia(100%) saturate(368%) hue-rotate(52deg) brightness(84%) contrast(102%);
}
body.light-theme img.icon.red {
  filter: invert(9%) sepia(88%) saturate(6994%) hue-rotate(17deg) brightness(88%) contrast(118%);
}
body.light-theme img.icon.selected {
  filter: invert(25%) sepia(85%) saturate(4117%) hue-rotate(75deg) brightness(90%) contrast(87%);
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) img.icon.black {
    filter: invert(98%) sepia(3%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(87%);
  }
  body:not(.light-theme) img.icon.white {
    filter: invert(10%) sepia(40%) saturate(5%) hue-rotate(82deg) brightness(98%) contrast(94%);
  }
  body:not(.light-theme) img.icon.white.shadow {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8)) invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
  }
  body:not(.light-theme) img.icon.gray {
    filter: invert(61%) sepia(0%) saturate(240%) hue-rotate(212deg) brightness(87%) contrast(93%);
  }
  body:not(.light-theme) img.icon.green {
    filter: invert(48%) sepia(100%) saturate(368%) hue-rotate(52deg) brightness(84%) contrast(102%);
  }
  body:not(.light-theme) img.icon.red {
    filter: invert(32%) sepia(97%) saturate(663%) hue-rotate(320deg) brightness(95%) contrast(83%);
  }
  body:not(.light-theme) img.icon.selected {
    filter: invert(49%) sepia(51%) saturate(3856%) hue-rotate(64deg) brightness(94%) contrast(87%);
  }
  body:not(.light-theme) img.icon.white-dm {
    filter: invert(98%) sepia(3%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(87%);
  }
}
body.dark-theme img.icon.black {
  filter: invert(98%) sepia(3%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(87%);
}
body.dark-theme img.icon.white {
  filter: invert(10%) sepia(40%) saturate(5%) hue-rotate(82deg) brightness(98%) contrast(94%);
}
body.dark-theme img.icon.white.shadow {
  filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8)) invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
}
body.dark-theme img.icon.gray {
  filter: invert(61%) sepia(0%) saturate(240%) hue-rotate(212deg) brightness(87%) contrast(93%);
}
body.dark-theme img.icon.green {
  filter: invert(48%) sepia(100%) saturate(368%) hue-rotate(52deg) brightness(84%) contrast(102%);
}
body.dark-theme img.icon.red {
  filter: invert(32%) sepia(97%) saturate(663%) hue-rotate(320deg) brightness(95%) contrast(83%);
}
body.dark-theme img.icon.selected {
  filter: invert(49%) sepia(51%) saturate(3856%) hue-rotate(64deg) brightness(94%) contrast(87%);
}
body.dark-theme img.icon.white-dm {
  filter: invert(98%) sepia(3%) saturate(7%) hue-rotate(246deg) brightness(114%) contrast(87%);
}

.center {
  display: block;
  margin: auto;
}

input,
select,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}
input.text-field,
select.text-field,
textarea.text-field {
  font-size: 100%;
  padding: 0.44em 0.8em;
  border-radius: 0.2em;
  line-height: 1.32em;
  color: var(--c-text);
  background: var(--c-text-field);
}
@media (prefers-color-scheme: light) {
  input.text-field.variant,
  select.text-field.variant,
  textarea.text-field.variant {
    background: var(--c-text-field-variant);
  }
}
input.text-field.disabled,
select.text-field.disabled,
textarea.text-field.disabled {
  background: var(--c-text-field-disabled);
  pointer-events: none;
  cursor: auto;
}
input.text-field::-webkit-outer-spin-button, input.text-field::-webkit-inner-spin-button,
select.text-field::-webkit-outer-spin-button,
select.text-field::-webkit-inner-spin-button,
textarea.text-field::-webkit-outer-spin-button,
textarea.text-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.text-field[type=number],
select.text-field[type=number],
textarea.text-field[type=number] {
  -moz-appearance: textfield;
}
input.text-field:focus,
select.text-field:focus,
textarea.text-field:focus {
  box-shadow: inset 0 0 0 2px var(--c-selected);
}

.input-wrapper {
  position: relative;
  width: 100%;
}
.input-wrapper .checkmark {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: auto 0.4rem;
}
.input-wrapper .text-field {
  width: 100%;
}
.input-wrapper .text-field.checked {
  padding-right: 2em;
}
.input-wrapper .text-field.checked + .checkmark {
  display: block;
  height: 1.4em;
  width: 1.4em;
}
.input-wrapper .text-field.checked + .checkmark img {
  width: 100%;
  height: 100%;
}

textarea {
  resize: vertical;
  min-height: 2.2rem;
}

label {
  margin: 0.24rem 0;
  font-size: 0.9rem;
  display: inline-block;
}
label.disabled {
  pointer-events: none;
  color: var(--c-text-disabled);
}
label.required:after {
  content: " *";
  color: var(--c-error);
}

.custom-checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1.6rem;
}
.custom-checkbox-wrapper input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.2em;
  background-color: var(--c-text-field);
}
@media (prefers-color-scheme: light) {
  .custom-checkbox-wrapper .checkmark.variant {
    background: var(--c-text-field-variant);
  }
}
.custom-checkbox-wrapper .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  left: 0.05rem;
  right: 0;
  top: 0.05rem;
  bottom: 0;
  background-image: url("../../images/tick-thick.svg");
  transform: scale(60%);
  filter: invert(100%) sepia(0%) saturate(649%) hue-rotate(198deg) brightness(110%) contrast(101%);
}
.custom-checkbox-wrapper:hover input ~ .checkmark {
  background-color: var(--c-selected-hover);
}
@media (prefers-color-scheme: light) {
  .custom-checkbox-wrapper:hover input ~ .checkmark.variant {
    background: var(--c-selected-hover-variant);
  }
}
.custom-checkbox-wrapper input[type=checkbox]:checked ~ .checkmark {
  background-color: var(--c-checkmark);
}
.custom-checkbox-wrapper input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

.custom-switch-wrapper {
  display: block;
  --width-of-switch: 3.8em;
  --height-of-switch: 2.2em;
  --size-of-icon: 1.6em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}
.custom-switch-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}
.custom-switch-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  border-radius: 30px;
  transition: 0.4s;
}
.custom-switch-wrapper .slider::before {
  position: absolute;
  content: "";
  height: var(--size-of-icon);
  width: var(--size-of-icon);
  border-radius: 20px;
  left: var(--slider-offset);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #6a106e, #bd4ac2 70%);
  transition: 0.4s;
}
.custom-switch-wrapper input:checked + .slider {
  background-color: var(--c-text-field);
}
.custom-switch-wrapper input:checked + .slider::before {
  left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));
  background: var(--c-text-field);
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -10px -4px 0 0 #fff;
}

.custom-select-wrapper {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  margin: 0;
  font-size: 100%;
  line-height: 1.32em;
}
.custom-select-wrapper .custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}
.custom-select-wrapper .custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: rotateX(0deg);
}
.custom-select-wrapper .custom-select.open .custom-select-main {
  border-radius: 3.2px 3.2px 0 0;
  box-shadow: inset 0 0 0 2px var(--c-selected);
}
@media (prefers-color-scheme: light) {
  .custom-select-wrapper .custom-select.open .custom-select-main.variant {
    background: var(--c-selected-hover-variant);
  }
}
.custom-select-wrapper .custom-select.open .custom-select-main .arrow {
  transform: rotate(270deg);
}
.custom-select-wrapper .custom-select-main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--c-text);
  height: 2.28em;
  padding: 0.48em 0.8em;
  background: var(--c-text-field);
  cursor: pointer;
  border-radius: 3.2px;
}
.custom-select-wrapper .custom-select-main span {
  flex-grow: 1;
  margin-right: 2px;
  overflow: hidden;
  white-space: nowrap;
}
.custom-select-wrapper .custom-select-main .arrow {
  height: 1em;
  width: 1em;
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}
.custom-select-wrapper .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--c-text-field);
  transition: all 0.4s ease-out;
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  max-height: 50vh;
  border-radius: 0 0 3.2px 3.2px;
  box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
@-moz-document url-prefix() {
  .custom-select-wrapper .custom-options {
    scrollbar-color: #666 transparent;
    scrollbar-width: auto;
  }
}
.custom-select-wrapper .custom-options ::-webkit-scrollbar {
  width: 12px;
}
.custom-select-wrapper .custom-options ::-webkit-scrollbar-track {
  display: none;
}
.custom-select-wrapper .custom-options ::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar-thumb);
}
.custom-select-wrapper .custom-options ::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-thumb-hover);
}
.custom-select-wrapper .custom-options .custom-option {
  position: relative;
  display: block;
  padding: 0.4em 0.72em;
  color: var(--c-text);
  cursor: pointer;
  border-top: 1px solid var(--c-bgd-comp);
}
.custom-select-wrapper .custom-options .custom-option:hover {
  cursor: pointer;
  background: var(--c-selected-hover);
}
.custom-select-wrapper .custom-options .custom-option.selected {
  color: #fff;
  background: var(--c-selected);
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.08em;
}

.no-transition *,
.no-transition *::before,
.no-transition *::after {
  transition: none !important;
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) input.text-field,
  body:not(.light-theme) select.text-field,
  body:not(.light-theme) textarea.text-field,
  body:not(.light-theme) .custom-checkbox-wrapper .checkmark,
  body:not(.light-theme) .custom-switch-wrapper .slider,
  body:not(.light-theme) .custom-select-wrapper .custom-select-main,
  body:not(.light-theme) .custom-select-wrapper .custom-options,
  body:not(.light-theme) #preview-img,
  body:not(.light-theme) #main-img {
    border: 1px solid #444;
  }
}
body.dark-theme input.text-field,
body.dark-theme select.text-field,
body.dark-theme textarea.text-field,
body.dark-theme .custom-checkbox-wrapper .checkmark,
body.dark-theme .custom-switch-wrapper .slider,
body.dark-theme .custom-select-wrapper .custom-select-main,
body.dark-theme .custom-select-wrapper .custom-options,
body.dark-theme #preview-img,
body.dark-theme #main-img {
  border: 1px solid #444;
}

body:not(.dark-theme) .custom-switch-wrapper .slider {
  background: #fff;
}

body.light-theme .text-field.variant,
body.light-theme .custom-select-main.variant,
body.light-theme .custom-checkbox-wrapper .checkmark.variant {
  background: var(--c-text-field-variant);
}

@keyframes fontpop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
#index,
#legal,
#recover-password {
  background: var(--c-bgd);
}
#index .container,
#legal .container,
#recover-password .container {
  grid-template-rows: auto 1fr auto;
}
#index header,
#legal header,
#recover-password header {
  background: linear-gradient(90deg, #366e11, #007F44);
  z-index: 4;
  inset: 0;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80px 80px" ><circle cx="24" cy="24" r="40px" fill="black"/></svg>') 0/100% 100%, linear-gradient(#fff, #fff);
          mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80px 80px" ><circle cx="24" cy="24" r="40px" fill="black"/></svg>') 0/100% 100%, linear-gradient(#fff, #fff);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  padding: 1rem 1rem;
}
@media screen and (min-width: 36rem) {
  #index header,
  #legal header,
  #recover-password header {
    padding: 1rem 3rem;
  }
}
@media screen and (min-width: 48rem) {
  #index header,
  #legal header,
  #recover-password header {
    padding: 1rem 4.8rem;
  }
}
@media screen and (min-width: 60rem) {
  #index header,
  #legal header,
  #recover-password header {
    padding: 1rem 6rem;
  }
}
#index #logo-standalone,
#legal #logo-standalone,
#recover-password #logo-standalone {
  display: block;
  top: -0.75rem;
  left: -0.75rem;
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  z-index: 5;
  border-radius: 6.25rem;
  background: linear-gradient(135deg, #366e11, #007F44);
}
#index #logo-standalone img,
#legal #logo-standalone img,
#recover-password #logo-standalone img {
  position: relative;
  top: 1.25rem;
  left: 1.25rem;
  height: 50%;
  width: 50%;
  margin: auto;
}

#legal {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
#legal main nav {
  background: var(--c-bgd-comp);
  padding: 0.4rem;
  padding-top: calc(3.2rem + 4px);
  position: relative;
  top: -3.2rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 36rem) {
  #legal main nav {
    flex-direction: row;
    justify-content: center;
  }
}
#legal main nav.sticky {
  position: fixed;
  top: -3.2rem;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
#legal main nav .btn {
  margin: 0.4rem 1rem;
}
#legal main nav .btn.selected {
  font-weight: 500;
}
#legal main .content {
  width: 90vw;
  max-width: 60rem;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  text-align: justify;
}
#legal main .content section {
  margin: 1rem 0;
}
@media screen and (min-width: 48rem) {
  #legal main .content section {
    margin: 1.2rem 0;
  }
}
#legal main .content h1,
#legal main .content h2,
#legal main .content p {
  margin-bottom: 0.4em;
}
#legal main .content h1 {
  font-size: 1.6rem;
}
#legal main .content h2 {
  font-size: 1.2rem;
}
#legal main .content h5 {
  color: #444;
  font-size: 0.88rem;
}
#legal main .content p {
  text-align: justify;
}
#legal main .content li {
  list-style-type: circle;
  margin-left: 1.2rem;
}
#legal main .content ol {
  margin-left: 2rem;
}/*# sourceMappingURL=legal.css.map */