@import "_reset.scss";
@import "_generic.scss";
@import "_unlogged.scss";

#legal {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    main {
        nav {
            background: var(--c-bgd-comp);
            padding: 0.4rem;
            padding-top: calc(3.2rem + 4px);
            position: relative;
            top: -3.2rem;
            display: flex;
            flex-direction: column;
            @media screen and (min-width: $mobile) {
                flex-direction: row;
                justify-content: center;
            }
            &.sticky {
                position: fixed;
                top: -3.2rem;
                width: 100%;
                box-shadow: 0px 4px 4px 0px rgba(black, 0.2);
            }
            .btn {
                margin: 0.4rem 1rem;
                &.selected {
                    font-weight: 500;
                }
            }
        }
        .content {
            width: 90vw;
            max-width: 60rem;
            padding: 0 1rem 1rem 1rem;
            margin: 0 auto;
            text-align: justify;
            section {
                margin: 1rem 0;
                @media screen and (min-width: $tablet) {
                    margin: 1.2rem 0;
                }
            }
            h1,
            h2,
            p {
                margin-bottom: 0.4em;
            }
            h1 {
                font-size: 1.6rem;
            }
            h2 {
                font-size: 1.2rem;
            }
            h5 {
                color: $gray3;
                font-size: 0.88rem;
            }
            p {
                text-align: justify;
            }
            li {
                list-style-type: circle;
                margin-left: 1.2rem;
            }
            ol {
                margin-left: 2rem;
            }
        }
    }
}