@import "_reset.scss";
@import "_generic.scss";

html:has(#menu,
#learn,
#test,
#add-pictures,
#account-settings,
#manage,
#members,
#tests,
#edit-group,
#resolve-reports,
#naturals) {
    @include scrollbar(12px, auto, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
}

#menu,
#learn,
#test,
#add-pictures,
#account-settings,
#manage,
#members,
#tests,
#edit-group,
#resolve-reports,
#naturals {
    position: relative;
    background: var(--c-bgd);
    @media screen and (min-width: $smallTablet) {
        height: 100vh;
        overflow: hidden;
    }
    .container {
        height: 100%;
        grid-template-rows: auto auto auto 1fr auto;
        @media screen and (min-width: $smallTablet) {
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto 1fr auto auto;
        }
    }
    header {    
        background: linear-gradient(90deg, $greenDark, $gradientDark);
        width: 100%;
        z-index: 4;
        inset: 0;
        mask:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80px 80px" ><circle cx="24" cy="24" r="40px" fill="black"/></svg>') 0/100% 100%, //nevím jak to funguje
            linear-gradient(#fff,#fff);
        mask-composite: exclude;  
        -webkit-mask-composite: destination-out;
        @media screen and (min-width: $smallTablet) {
            display: none;
        }
        > .wrapper {
            padding-left: 4.5rem;
            display: grid;
            grid-template-columns: auto auto 1fr;
            grid-template-rows: auto auto;
            @media screen and (min-width: 26.25rem) {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: start;
            }
        }
        .logo {
            grid-row: 2/3;
            grid-column: 1/4;
            margin-left: 0rem;
            @media screen and (min-width: 26.25rem) {
                margin-left: 1rem;
            }
            @media screen and (min-width: $smallTablet) {
                margin-left: 0.6rem;
            }
        }
        .btn.icon {
            margin: 0.4rem 1rem 0.4rem 0;
            height: 2rem;
            width: 2rem;
            @media screen and (min-width: $smallTablet) {
                display: none;
            }
            &:last-child {
                margin-left: auto;
                margin-right: 0;    
            }
        }
    }
    #logo-standalone {
        display: block; 
        top: -0.75rem;
        left: -0.75rem;
        height: 4.5rem;
        width: 4.5rem;
        @media screen and (min-width: $smallTablet) {
            top: -1.25rem;
            left: -1.25rem;
            height: 7rem;
            width: 7rem;
        }
        position: absolute;
        z-index: 5;
        border-radius: 6.25rem;
        background: linear-gradient(135deg, $greenDark, $gradientDark);
        img {
            position: relative;
            top: 1.25rem;
            left: 1.25rem;
            @media screen and (min-width: $smallTablet) {
                top: 2rem;
                left: 2rem;
            }
            height: 50%;
            width: 50%;
            margin: auto;
        }
    }
    aside {
        display: none;
        width: 4rem;
        grid-row: 1/6;
        grid-column: 1/2;
        color: white;
        background: var(--c-side-panel);
        padding-top: 6.5rem;
        @media screen and (min-width: $smallTablet) {
            display: flex;
            flex-direction: column;
        }
        .btn.icon {
            margin: 1rem auto;
            height: 2rem;
            width: 2rem;
            &:last-child {
                margin-top: auto;    
            }
        }
    }
    nav {
        font-size: 0.8rem;
        line-height: 1.8rem;
        font-weight: normal;
        padding: 1.2rem 1rem 0.4rem 1rem;
        margin: 0;
        @media screen and (min-width: $smallTablet) {
            padding:  1rem 3rem 1.2rem 0em;
            grid-row: 1/2;
            grid-column: 2/3;
        }
        > div {
            background-color: var(--c-nav);
            padding: 0.6rem 1.2rem;
            @media screen and (min-width: $smallTablet) {
                padding: 0.24rem 0.6rem 0.24rem 4rem;
            }
            border-radius: 0.6rem;
        }
        span:nth-last-child(3) {
            font-weight: 500;
        }
        .show-info-button,
        .hide-info-button {
            display: inline-block;
            height: 1.12rem;
            width: 1.12rem;
            position: relative;
            bottom: -0.3rem;
            margin-left: 0.32rem;
        }
    }
    .content-wrapper {
        min-width: fit-content;
        padding: 1rem 1rem;
        @media screen and (min-width: $mobile) {
            padding: 1.2rem 2rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding:  1.6rem 3rem;
        }
    }
    main {
        grid-row: 3/5;
        @media screen and (min-width: $smallTablet) {
            grid-column: 2/3;
            overflow-y: auto;
            @include scrollbar(12px, auto, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        }
    }
    #messages {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        @media screen and (min-width: $smallTablet) {
            position: relative;
            grid-column: 2/3;
            grid-row: 4/5;
        }

    }
    footer {
        @include text-color(white);
        grid-row: 5/6;
        @media screen and (min-width: $smallTablet) {
            grid-column: 2/3;
            grid-row: 5/6;
        }
    }
    .additional-form-info {
        font-size: 0.72rem;
        line-height: 1.2em;
        margin-top: 0.2rem;
        text-align: justify;
        color: var(--c-text-info);
    }
    .info-section {
        text-align: justify;
        font-size: 0.92rem;
        padding: 0.4rem 0;
        margin-bottom: 2rem;
        h3 {
            margin-bottom: 0.8rem;
        }
        ul {
            margin: 0.8rem 0;
        }
    }
}

#menu {
    #changelog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        padding: 1.6rem;
        background: var(--c-bgd-popup);
        border-radius: 0.6rem;
        border: 2px solid $greenDark;
        overflow: hidden;
        width: 90%;
        max-width: 50rem;
        @include scrollbar(8px, none, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        /*
        @media screen and (min-width: $smallTablet) {
            //zohlednění aside panelu a scrollbaru
            transform: translate(calc(-50% + 32px), -50%);
            width: calc(90% - 64px);
        }*/
        #close-changelog-button {
            margin: 0 0 0.2rem auto;
        }
        #old-changelog-link-wrapper {
            text-align: center;
            margin-top: 1.8rem;
            font-size: 0.88rem;
        }
        ul {
            overflow-y: auto;
            max-height: 60vh;
            @include scrollbar(0px, thin, var(--c-scrollbar-thumb), var(--c-scrollbar-thumb-hover), var(--c-bgd));
        }
        h1 {
            margin: 0 0 1.2rem 0;
            font-size: 1.32rem;
        }
        h2 {
            margin: 0 0 1rem 0;
            font-size: 1.16rem;
        }
        li {
            list-style-type: circle;
            margin-left: 1.2rem;
            padding-right: 0.6rem;
            &:not(:last-child) {
                margin-bottom: 0.32rem;
            }
        }
    }
    .folders,
    #demo-info {
        width: 100%;
        max-width: 48.75rem;
        margin: auto;
    }
    .folders {
        a {
            display: block;
        }
        li {
            display: block;
            background: var(--c-tile);
            border-radius: 6px;
            box-shadow: 0 3px 2px -1px rgba(black, 0.2);
            &:not(#enter-code-wrapper):not(#request-class-wrapper) > * {
                margin: auto;
            }
        }
        &#menu-classes-table {
            .data-item {
                &.managed-class > li {
                    padding-left: 0;
                    border-left: 0.6rem solid var(--c-managed-class-border);
                }
                &.closed-class > li {
                    padding-left: 0;
                    border-left: 0.6rem solid var(--c-closed-class-border);
                }
                &.public-class > li {
                    padding-left: 0;
                    border-left: 0.6rem solid var(--c-public-class-border);
                }
            }
            .table-title,
            li {
                grid-template-columns: 1fr 5.6rem 3.2rem;
                @media screen and (min-width: $smallMobile) {
                    grid-template-columns: 1fr 8rem 4rem;
                }
                @media screen and (min-width: $mobile) {
                    grid-template-columns: 1fr 8rem 5.4rem;
                }
            }
            .invitation-wrapper {
                grid-template-rows: auto auto;
                margin: 0.4rem 0 0.6rem 0;
                .invitation.info
                {
                    font-size: 0.8rem;
                    width: 100%;
                    padding: 0 0.6rem;
                    grid-row: 1/2;
                    grid-column: 1/4;
                    text-align: left;
                }
                .invitation.action {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    .btn {
                        margin: 0 0.4rem !important 
                    }
                }
            }
            #enter-code-wrapper,
            #request-class-wrapper {
                display: flex;
                flex-direction: column;
                margin: 0.6rem 0;
                text-align: center;
                > * {
                    margin: 0.2rem 0;
                }
                > h5 {
                    font-size: 1.12rem;
                    margin-bottom: 0.2rem;
                }
                > span {
                    width: 90%;
                    max-width: 25rem;
                    margin: auto;
                    margin-bottom: 0.4rem;
                }
            }
            #class-code-form {
                .btn {
                    width: fit-content;
                    margin-left: 0.2rem;
                }
                .text-field {
                    width: 8rem;
                }
            }
            #request-class-wrapper {
                padding-bottom: 0.6rem;
                .btn {
                    width: fit-content;
                    margin: 0.2rem auto;
                }
            }
            #request-class-form {
                display: flex;
                flex-direction: column;
                width: 90%;
                max-width: 25rem;
                margin: auto;
                > * {
                    margin: 0;
                }
                .border-btn {
                    width: 100%;
                    margin: 0.6rem auto;
                }
                label, 
                .text-field {
                    margin: 0.24rem 0;
                    text-align: left;
                }
                label:not(:nth-of-type(1)) {
                    margin-top: 0.6rem;
                }
                textarea {
                    max-height: 10rem;
                }
                #antispam-question {
                    font-weight: 500;
                }
            }
        }
        &#menu-groups-table {
            .table-title,
            li {
                grid-template-columns: 1fr 5rem;
                @media screen and (min-width: $smallMobile) {
                    grid-template-columns: 1fr 6rem;
                }
                @media screen and (min-width: $mobile) {
                    grid-template-columns: 1fr 8rem;
                }
            }
        }
        &#menu-parts-table {
            .table-title {
                grid-template-columns: 1fr 5.2rem 4.2rem;
                @media screen and (min-width: $smallMobile) {
                    grid-template-columns: 1fr 8rem 6rem;
                }
                @media screen and (min-width: $mobile) {
                    grid-template-columns: 1fr 8rem 8rem;
                }
            }
            li {
                grid-template-columns: auto 1fr 5.2rem 4.2rem;
                grid-template-rows: max-content min-content;
                @media screen and (min-width: $smallMobile) {
                    grid-template-columns: auto 1fr 8rem 6rem;
                }
                @media screen and (min-width: $mobile) {
                    grid-template-columns: auto 1fr 8rem 8rem;
                }
                &.empty {
                    .part.naturals-count,
                    .part.pictures-count {
                        color: var(--c-error);
                    }
                }
                .name {
                    grid-row: 1/2;
                    grid-column: 1/3;
                }
                .naturals-count {
                    grid-row: 1/2;
                    grid-column: 3/4;
                }
                .pictures-count {
                    grid-row: 1/2;
                    grid-column: 4/5;
                }
                .buttons-wrapper,
                .info {
                    width: 100%;
                    grid-row: 2/3;
                    grid-column: 1/5;
                    display: none;
                    overflow: hidden; 
                    padding: 0.6rem 0.2rem 0.2rem 0.2rem;   
                    font-size: 0.9rem; 
                }
                .buttons {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    column-gap: 1rem;
                    .btn {
                        pointer-events: all;
                        &.disabled:hover {
                            cursor: default;
                            &:after {
                                display: none;
                            }
                        }
                        &.disabled:active {
                            transform: none;
                        }
                    }
                }
            } 
        }
        .table-title {
            padding: 0.6rem;
            display: grid;
            span {
                text-align: center;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            position: relative;
            span,
            h4 {
                text-align: center;
            }
            button {
                margin: 0.4rem 0;
            }
            li {
                display: grid;
                width: 100%;
                padding: 0.6rem;
                color: var(--c-text);
            }
            .name {
                word-break: break-word;
                font-size: 1rem;
                font-weight: 500;
                @media screen and (min-width: $mobile) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    #demo-info {
        margin-top: 2.8rem;
        display: flex;
        flex-direction: column;
        > * {
            text-align: center;
            margin: auto;
        }
        p {
            margin-bottom: 0.4rem;
        }
        .btn {
            margin-top: 1.4rem;
        }
    }
}
@media (prefers-color-scheme: dark) {
    body:not(.light-theme) {
        &#menu,
        &#learn,
        &#test,
        &#add-pictures,
        &#account-settings,
        &#manage,
        &#members,
        &#tests,
        &#edit-group,
        &#resolve-reports,
        &#naturals {
            nav > div {
                border: 1px solid $gray3;
            }
        }
    }
}
body.dark-theme {
    &#menu,
    &#learn,
    &#test,
    &#add-pictures,
    &#account-settings,
    &#manage,
    &#members,
    &#tests,
    &#edit-group,
    &#resolve-reports,
    &#naturals {
        nav > div {
            border: 1px solid $gray3;
        }
    }

}

@import "_study.scss" ;

@import "_manage.scss" ;

.data-item {
    .btn.icon {
        height: 1.4rem;
        width: 1.4rem;
    } 
}
