@import "_reset.scss";
@import "_generic.scss";

#recover-password {
    background: var(--c-bgd);
    .container {
        grid-template-rows: auto 1fr auto;
    }
    header {
        background: linear-gradient(90deg, $greenDark, $gradientDark);
        padding: 1rem 1rem;
        z-index: 4;
        inset: 0;
        mask:
            url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80px 80px" ><circle cx="24" cy="24" r="40px" fill="black"/></svg>') 0/100% 100%, //nevím jak to funguje
            linear-gradient(#fff,#fff);
        mask-composite: exclude;  
        -webkit-mask-composite: destination-out;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 1rem 4.8rem;
        }
        @media screen and (min-width: $smallDesktop) {
            padding: 1rem 6rem;
        }
    }
    #logo-standalone {
        display: block; 
        top: -12px;
        left: -12px;
        height: 72px;
        width: 72px;
        position: absolute;
        z-index: 5;
        border-radius: 100px;
        background: linear-gradient(135deg, $greenDark, $gradientDark);
        img {
            position: relative;
            top: 20px;
            left: 20px;
            height: 50%;
            width: 50%;
            margin: auto;
        }
    }
    main {
        grid-row: 2/4;
        padding: 1rem 1rem;
        @media screen and (min-width: $mobile) {
            padding: 1rem 3rem;
        }
        @media screen and (min-width: $tablet) {
            padding: 2rem 6rem;
        }
    }
    .content {
        width: 90vw;
        max-width: 520px;
        margin: 0 auto;
    }
    h2 {
        font-size: 1.6rem;
        margin-bottom: 16px;
    }
    #recover-password-form {
        overflow: auto;
        .user.data {
            display: flex;
            flex-direction: column;
            label {
                font-size: 0.9rem;
            }
            label, 
            input.text-field {
                margin: 0.12rem 0;
            }
            label:not(:nth-of-type(1)), //kromě prvního labelu
            .checkbox { 
                margin-top: 0.54rem;
            }
            input.text-field {
                color: $gray1;
                font-family: 'Ubuntu', sans-serif;
                padding-top: 0.6em;
                padding-bottom: 0.6em;
            }
        }
        .message {
            font-size: 0.72rem;
            line-height: 0.96rem;
            min-height: 0.96rem; 
            color: var(--c-error);
            &.server {
                margin-bottom: 0.6rem;
            }
        }
    }
    .border-btn {
        margin: 0.8rem auto 0.2rem auto;
        width: 100%; 
    }
}