@import "_reset.scss";
@import "_generic.scss";

body#recover-password {
    main {
        grid-row: 2/4;
    }
    .wrapper {
        width: 90vw;
        max-width: 520px;
        margin: 0 auto;
    }
    h2 {
        font-size: 1.6rem;
        margin-bottom: 16px;
    }
    #recover-password-form {
        .user.data {
            display: flex;
            flex-direction: column;
            label {
                font-size: 0.9rem;
            }
            label, 
            input.text-field {
                margin: 0.12rem 0;
            }
            label:not(:nth-of-type(1)), //kromě prvního labelu
            .checkbox { 
                margin-top: 0.54rem;
            }
            input.text-field {
                color: $gray1;
                font-family: 'Ubuntu', sans-serif;
                background: #eee;
                padding-top: 0.6em;
                padding-bottom: 0.6em;
            }
        }
        .message {
            font-size: 0.72rem;
            line-height: 0.96rem;
            min-height: 0.96rem; 
            color: $red1;
            &.server {
                margin-bottom: 0.6rem;
            }
        }
    }
    .border-btn {
        margin: 0.8rem auto 0.2rem auto;
        width: 100%; 
    }
}