html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button, .buttonDisabled {
  border: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  text-decoration: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

main {
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #000;
  overflow-y: auto;
}

header {
  border: 1px solid #000;
  margin: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a {
  padding: 0.6rem;
  height: 2.4rem;
}

nav a:last-child {
  color: gray;
}

nav .activeTab {
  background: lightgray;
  cursor: default;
}

nav :not(.activeTab):hover {
  cursor: pointer;
  background: #eee;
}

table {
  border-collapse: collapse;
}

input {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background: none;
  border: 1px solid gray;
}

td,
th {
  padding: 0 0.2rem;
  margin: 0;
  vertical-align: middle;
}

tr {
  height: 2rem;
}

#tab1 {
  display: block;
}

#tab2, #tab3, #tab4, #tab5, #tab6 {
  display: none;
}

button {
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.borderBtn {
  border: 1px solid gray;
  padding: 0.26rem 0.4rem 0.2rem 0.4rem;
  margin: 0.3rem auto;
}

.borderBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.activeBtn,
.grayscale {
  height: 1.2rem;
  width: 1.2rem;
  padding: 0;
  margin: 0 0.2rem;
  vertical-align: middle;
}

.activeBtn img,
.grayscale img {
  height: 1.2rem;
  width: 1.2rem;
}

:focus {
  outline: none;
  border: 1px dotted black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.grayscale:hover {
  cursor: auto;
}

/*----------- Tab1 ------------*/
#tab1 table {
  margin: auto;
  text-align: center;
}

#tab1 #constants {
  margin: auto;
  text-align: center;
}

#tab1 h3 {
  text-align: center;
  margin: 0.4rem;
  font-size: 1.2rem;
}

#tab1 .constantField {
  border: 0;
}

/*----------- Tab2, Tab3, Tab4 ------------*/
#tab2 table,
#tab3 table,
#tab4 table {
  position: relative;
  margin: auto;
  text-align: center;
}

#tab2 th,
#tab3 th,
#tab4 th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: lightgray;
  padding: 0.1rem 0.4rem;
}

#tab2 tr:nth-child(odd),
#tab3 tr:nth-child(odd),
#tab4 tr:nth-child(odd) {
  background: #eee;
}

#tab2 td,
#tab3 td,
#tab4 td {
  padding: 0.1rem 0.4rem;
}

#tab2 td:not(:last-child),
#tab3 td:not(:last-child),
#tab4 td:not(:last-child) {
  border-right: 1px solid lightgray;
}

#tab2 input,
#tab3 input,
#tab4 input {
  border: none;
  text-align: center;
}

#tab2 select,
#tab3 select,
#tab4 select {
  border: none;
  background: transparent;
}

#singleReport {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  width: 90%;
}

@media screen and (min-width: 576px) {
  #singleReport {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #singleReport {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  #singleReport {
    width: 45%;
  }
}

#singleReport img {
  width: 100%;
}

#singleReport .borderBtn {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid black;
}

/*----------- Tab5 ------------*/
#tab5 {
  position: relative;
}

#tab5 #email {
  margin: auto;
  width: 100%;
  width: 95%;
}

@media screen and (min-width: 576px) {
  #tab5 #email {
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  #tab5 #email {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  #tab5 #email {
    width: 45%;
  }
}

#tab5 table {
  margin: 0.2rem 0;
}

#tab5 table tr {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#tab5 table tr td {
  padding: 0.1rem 0.2rem 0.1rem 0;
}

#tab5 .borderBtn {
  margin: 0 0.2rem 0 0;
}

#tab5 textarea {
  border: 1px solid gray;
  padding: 0.2rem;
  resize: vertical;
  min-height: 3.8rem;
  max-height: 40vh;
  margin-bottom: -0.24rem;
  width: 100%;
}

#tab5 #emailPreview {
  width: 100%;
}
/*# sourceMappingURL=private.css.map */