//@import "_reset.scss";
@import "_variables.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  font-family: serif;
}
.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100vw;
	height: 100vh;
	background: rgba(black, 0.4);
	display: none;
}
main {
	margin: 1rem;
	flex: 1 1 auto;
	border: 1px solid #000;
	overflow-y: auto;
}
header {
	border: 1px solid #000;
	margin: 1rem 1rem 0 1rem;
	font-size: 1.2rem;
	flex: 0 1 auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	a {
		text-decoration: none;
		padding: 0.6rem;
		height: 2.4rem;
		&:last-child {
			color: gray;
		}
	}
	.active-tab {
		background: lightgray;
		cursor: default;
	}
	:not(.active-tab) {
		&:hover {
			cursor: pointer;
			background:#eee;
		}
	}
}
footer {
	display: none;
}
table {
	border-collapse: collapse;
}
input {
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	background: none;
	border: 1px solid gray;
	font-family: serif;
	font-size: 100%;
}
td,
th {
	padding: 0 0.2rem;
	margin: 0;
	vertical-align: middle;
}
tr {
	height: 2rem;
}
#tab1
{
	display: block;
}
#tab2, #tab3, #tab4, #tab5, #tab6
{
	display: none;
}
button {
	background: transparent;
	&:hover {
		cursor: pointer;
	}
}
.border-btn {
	border: 1px solid gray;
	padding: 0.26rem 0.4rem 0.2rem 0.4rem;
	margin: 0.4rem auto;
	&:hover {
		background-color: rgba(black, 0.1);
	}
}
.active-btn,
.grayscale {
	height: 1.2rem;
	width: 1.2rem;
	padding: 0;
	margin: 0 0.2rem;
	vertical-align: middle;
	img {
		height: 1.2rem;
		width: 1.2rem;
	}
}
:focus {
	outline: none;
	border: 1px dotted black;
	box-sizing: border-box;
}
.grayscale {
	filter: grayscale(100%);
	&:hover {
		cursor: auto;
	}
}
/*----------- AdminCheck ------------*/
#adminCheck {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#wrongAdminPassword {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: block;
}
/*----------- Tab1 ------------*/ //původní tab s konstantami
/*#tab1 {
	table {
		margin: auto;
		text-align: center;
	}
	#constants {
		margin: auto;
		text-align: center;
	}
	h3 {
		text-align: center;
		margin: 0.4rem;
		font-size: 1.2rem;
	}
	.constantField {
		border: 0;
	}
}*/
/*----------- Tab2, Tab3, Tab4 ------------*/
#tab1,
#tab2,
#tab3,
#tab4 {
	table {
		position: relative;
		margin: auto;
		text-align: center;
	}
	th {
		position: sticky;
		top: 0;
		background: lightgray;
		padding: 0.1rem 0.4rem;
	}
	tr:nth-child(odd) {
		background: #eee;
	}
	.class-admin-table tr:nth-child(odd) {
		background: transparent;
	}
	td {
		padding: 0.1rem 0.4rem;
		&:not(:last-child) {
			border-right: 1px solid lightgray;
		}
	}
	input {
		border: none;
		text-align: center;
		&[type='number'] {
			width: 5.4rem;
			padding-left: 1.2rem;
		}
	}
	select {
		border: none;
		background: transparent;
	}
}
#image-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	width: 90%;
	@media screen and (min-width: $mobile) {
		width: 80%;
	}
	@media screen and (min-width: $tablet) {
		width: 65%;
	}
	@media screen and (min-width: $smallDesktop) {
		width: 45%;
	}
	img {
		width: 100%;
		border: 1px solid black;
	}
	.border-btn {
		display: block;
		margin: auto;
		background: white;
		border: 1px solid black;
	}
}
/*----------- Tab5 ------------*/
#tab5 {
	position: relative;
	#email {
		margin: auto;
		width: 95%;
		@media screen and (min-width: $mobile) {
			width: 85%;
		}
		@media screen and (min-width: $tablet) {
			width: 65%;
		}
		@media screen and (min-width: $smallDesktop) {
			width: 45%;
		}
	}
	table {
		margin: 0.2rem 0;
		tr {
			height: fit-content;
			td {
				padding: 0.1rem 0.2rem 0.1rem 0;
			}
		}
	}
	.border-btn {
		margin: 0 0.2rem 0 0;
	}
	#email-info {
		display: grid;
		grid-template-columns: auto 1fr;
		justify-content: start;
		margin: 0.4rem 0;
		* {
			margin: 0.2rem 0;
			padding: 0.2rem 0.4rem;
		}
		label {
			margin-right: 0.2rem;
		}
	}
	#email-editor {
		margin: 0.4rem 0;
		textarea {
			border: 1px solid gray;
			padding: 0.2rem 0.4rem;
			resize: vertical;
			height: 16vh;
			min-height: 3.8rem;
			max-height: 36vh;
			width: 100%;
			margin: 0.2rem 0;
		}
	}
	#email-preview {
		width: 100%;
		margin: 1rem auto;
		span {
			margin-bottom: 1rem;
		}
	}
}
/*----------- Tab6 ------------*/
#tab6 {
	position: relative;
	#sql {
		width: 100%;
	}
	.sql-center {
		display: block;
		margin: auto;
		text-align: justify;
		width: 96%;
		@media screen and (min-width: $mobile) {
			width: 88%;
		}
		@media screen and (min-width: $tablet) {
			width: 72%;
		}
		@media screen and (min-width: $smallDesktop) {
			width: 56%;
		}
	}
	#sql-warning {
		margin: 0.4rem auto;
	}
	#sql-query {
		margin: 0.4rem auto;
		textarea {
			border: 1px solid gray;
			padding: 0.2rem 0.4rem;
			resize: vertical;
			min-height: 3.8rem;
			max-height: 24vh;
			width: 100%;
			margin: 0.2rem 0;
		}
	}	
	#sql-result {
		p {
			display: block;
			margin: 0 auto 0.4rem auto;
			width: 96%;
			@media screen and (min-width: $mobile) {
				width: 88%;
			}
			@media screen and (min-width: $tablet) {
				width: 72%;
			}
			@media screen and (min-width: $smallDesktop) {
				width: 56%;
			}
		}
		table {
			position: relative;
			margin: auto;
			text-align: center;
			th {
				position: sticky;
				top: 0;
				background: lightgray;
				padding: 0.1rem 0.4rem;
			}
			tr:nth-child(odd) {
				background: #eee;
			}
			td {
				padding: 0.1rem 0.4rem;
				&:not(:last-child) {
					border-right: 1px solid lightgray;
				}
			}
		}
	}
}