@import "reset.scss";
html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.2rem;
  overflow: hidden;
}
#container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
main {
	margin: 1rem;
	flex: 1 1 auto;
	border: 1px solid #000;
	overflow-y: auto;
}
header {
	border: 1px solid #000;
	margin: 1rem 1rem 0 1rem;
	line-height: 2.2rem;
	font-size: 1.2rem;
	flex: 0 1 auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	a {
		padding: 0 0.6rem;
	}
}
table {
	margin: auto;
	border-collapse: collapse;
	text-align: center;
}
input {
	box-sizing: border-box;
	line-height: 1.2rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	background: none;
	border: 1px solid gray;
}
td,
th {
	padding: 0 0.2rem;
	margin: 0;
	vertical-align: middle;
}
tr {
	height: 2rem;
}
#tab1
{
	display: block;
}
#tab2, #tab3, #tab4, #tab5, #tab6
{
	display: none;
}
button {
	background: transparent;
	&:hover {
		cursor: pointer;
	}
}
.borderBtn {
	border: 1px solid gray;
	padding: 0.26rem 0.4rem 0.2rem 0.4rem;
	margin: 0.3rem auto;
	&:hover {
		background-color: rgba(black, 0.1);
	}
}
.activeBtn,
.grayscale {
	height: 1.2rem;
	width: 1.2rem;
	padding: 0;
	margin: 0 0.2rem;
	vertical-align: middle;
}
img {
	height: 1.2rem;
	width: 1.2rem;
}
:focus {
	outline: none;
	border: 1px solid red;
}
/*----------- Tab1 ------------*/
#tab1 {
	#constants {
		margin: auto;
		text-align: center;
	}
	h3 {
		text-align: center;
		margin: 0.4rem;
		font-size: 1.2rem;
	}
	.constantField {
		border: 0;
	}
}
/*----------- Tab2, Tab3, Tab4 ------------*/
#tab2,
#tab3,
#tab4 {
	table {
		position: relative;
		max-width: 100%;
	}
	th {
		position:sticky;
		top: 0;
		background: lightgray;
	}
	tr:nth-child(odd) {
		background: #eee;
	}
	td {
		padding: 0.1rem 0.4rem;
		&:not(:last-child) {
			border-right: 1px solid lightgray;
		}
	}
	input {
		border: none;
		text-align: center;
	}
	select {
		border: none;
		background: transparent;
	}
}