* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  font-family: serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

main {
  margin: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #000;
  overflow-y: auto;
}

header {
  border: 1px solid #000;
  margin: 1rem 1rem 0 1rem;
  font-size: 1.2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav a {
  padding: 0.6rem;
  height: 2.4rem;
}

nav a:last-child {
  color: gray;
}

nav .active-tab {
  background: lightgray;
  cursor: default;
}

nav :not(.active-tab):hover {
  cursor: pointer;
  background: #eee;
}

footer {
  display: none;
}

table {
  border-collapse: collapse;
}

input {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  background: none;
  border: 1px solid gray;
  font-family: serif;
  font-size: 100%;
}

td,
th {
  padding: 0 0.2rem;
  margin: 0;
  vertical-align: middle;
}

tr {
  height: 2rem;
}

#tab1 {
  display: block;
}

#tab2, #tab3, #tab4, #tab5, #tab6 {
  display: none;
}

button {
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.border-btn {
  border: 1px solid gray;
  padding: 0.26rem 0.4rem 0.2rem 0.4rem;
  margin: 0.4rem auto;
}

.border-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.active-btn,
.grayscale {
  height: 1.2rem;
  width: 1.2rem;
  padding: 0;
  margin: 0 0.2rem;
  vertical-align: middle;
}

.active-btn img,
.grayscale img {
  height: 1.2rem;
  width: 1.2rem;
}

:focus {
  outline: none;
  border: 1px dotted black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.grayscale:hover {
  cursor: auto;
}

/*----------- AdminCheck ------------*/
#adminCheck {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrongAdminPassword {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: block;
}

/*----------- Tab1 ------------*/
/*#tab1 {
	table {
		margin: auto;
		text-align: center;
	}
	#constants {
		margin: auto;
		text-align: center;
	}
	h3 {
		text-align: center;
		margin: 0.4rem;
		font-size: 1.2rem;
	}
	.constantField {
		border: 0;
	}
}*/
/*----------- Tab2, Tab3, Tab4 ------------*/
#tab1 table,
#tab2 table,
#tab3 table,
#tab4 table {
  position: relative;
  margin: auto;
  text-align: center;
}

#tab1 th,
#tab2 th,
#tab3 th,
#tab4 th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: lightgray;
  padding: 0.1rem 0.4rem;
}

#tab1 tr:nth-child(odd),
#tab2 tr:nth-child(odd),
#tab3 tr:nth-child(odd),
#tab4 tr:nth-child(odd) {
  background: #eee;
}

#tab1 .class-admin-table tr:nth-child(odd),
#tab2 .class-admin-table tr:nth-child(odd),
#tab3 .class-admin-table tr:nth-child(odd),
#tab4 .class-admin-table tr:nth-child(odd) {
  background: transparent;
}

#tab1 td,
#tab2 td,
#tab3 td,
#tab4 td {
  padding: 0.1rem 0.4rem;
}

#tab1 td:not(:last-child),
#tab2 td:not(:last-child),
#tab3 td:not(:last-child),
#tab4 td:not(:last-child) {
  border-right: 1px solid lightgray;
}

#tab1 input,
#tab2 input,
#tab3 input,
#tab4 input {
  border: none;
  text-align: center;
}

#tab1 input[type='number'],
#tab2 input[type='number'],
#tab3 input[type='number'],
#tab4 input[type='number'] {
  width: 5.4rem;
  padding-left: 1.2rem;
}

#tab1 select,
#tab2 select,
#tab3 select,
#tab4 select {
  border: none;
  background: transparent;
}

#single-report {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  width: 90%;
}

@media screen and (min-width: 576px) {
  #single-report {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #single-report {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  #single-report {
    width: 45%;
  }
}

#single-report img {
  width: 100%;
}

#single-report .border-btn {
  display: block;
  margin: auto;
  background: white;
  border: 1px solid black;
}

/*----------- Tab5 ------------*/
#tab5 {
  position: relative;
}

#tab5 #email {
  margin: auto;
  width: 95%;
}

@media screen and (min-width: 576px) {
  #tab5 #email {
    width: 85%;
  }
}

@media screen and (min-width: 768px) {
  #tab5 #email {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  #tab5 #email {
    width: 45%;
  }
}

#tab5 table {
  margin: 0.2rem 0;
}

#tab5 table tr {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#tab5 table tr td {
  padding: 0.1rem 0.2rem 0.1rem 0;
}

#tab5 .border-btn {
  margin: 0 0.2rem 0 0;
}

#tab5 #email-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0.4rem 0;
}

#tab5 #email-info * {
  margin: 0.2rem 0;
  padding: 0.2rem 0.4rem;
}

#tab5 #email-info label {
  margin-right: 0.2rem;
}

#tab5 #email-editor {
  margin: 0.4rem 0;
}

#tab5 #email-editor textarea {
  border: 1px solid gray;
  padding: 0.2rem 0.4rem;
  resize: vertical;
  height: 16vh;
  min-height: 3.8rem;
  max-height: 36vh;
  width: 100%;
  margin: 0.2rem 0;
}

#tab5 #email-preview {
  width: 100%;
  margin: 1rem auto;
}

#tab5 #email-preview span {
  margin-bottom: 1rem;
}

/*----------- Tab6 ------------*/
#tab6 {
  position: relative;
}

#tab6 #sql {
  width: 100%;
}

#tab6 .sql-center {
  display: block;
  margin: auto;
  text-align: justify;
  width: 96%;
}

@media screen and (min-width: 576px) {
  #tab6 .sql-center {
    width: 88%;
  }
}

@media screen and (min-width: 768px) {
  #tab6 .sql-center {
    width: 72%;
  }
}

@media screen and (min-width: 960px) {
  #tab6 .sql-center {
    width: 56%;
  }
}

#tab6 #sql-warning {
  margin: 0.4rem auto;
}

#tab6 #sql-query {
  margin: 0.4rem auto;
}

#tab6 #sql-query textarea {
  border: 1px solid gray;
  padding: 0.2rem 0.4rem;
  resize: vertical;
  min-height: 3.8rem;
  max-height: 24vh;
  width: 100%;
  margin: 0.2rem 0;
}

#tab6 #sql-result p {
  display: block;
  margin: 0 auto 0.4rem auto;
  width: 96%;
}

@media screen and (min-width: 576px) {
  #tab6 #sql-result p {
    width: 88%;
  }
}

@media screen and (min-width: 768px) {
  #tab6 #sql-result p {
    width: 72%;
  }
}

@media screen and (min-width: 960px) {
  #tab6 #sql-result p {
    width: 56%;
  }
}

#tab6 #sql-result table {
  position: relative;
  margin: auto;
  text-align: center;
}

#tab6 #sql-result table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: lightgray;
  padding: 0.1rem 0.4rem;
}

#tab6 #sql-result table tr:nth-child(odd) {
  background: #eee;
}

#tab6 #sql-result table td {
  padding: 0.1rem 0.4rem;
}

#tab6 #sql-result table td:not(:last-child) {
  border-right: 1px solid lightgray;
}
/*# sourceMappingURL=private.css.map */