/* CSS Document */
/* CSS reset -----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.button, .buttonDisabled {
    border: none;
    }
button {
    border: none;
    }
a {
    text-decoration: none;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    text-decoration: none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* moje styly ---------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------hlavni */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    }
.container {           
    flex: 1 0 auto;
    }
body {
    background-color: #fff;
    background: linear-gradient(#fff,#405d27);
    text-align: center;
    color: #3e4444;
    font-family: Century Gothic, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    background: url(bg1.jpg) no-repeat center fixed;
    background-size: cover; 
    display: flex;
    flex-direction: column;   
    }
main.basic_main {
    width: 50%;
    background-color: #fff;
    border-radius: 0.375em;
    margin: 2.4vh auto;
    padding: 0.375em;
    }   
fieldset {
    width: 80%;
    margin: auto;
    }
/* ----------------------------------------------------------------------header styly */
header {
    background-color: #405d27;
    display: block;
    color: #fff;
    text-align: center;
    }
h1 {
    font-size: 4vh;
    line-height: 7vh;
    display: block;
    background: #405d27
    }
#menuHeading {
    line-height: 7vh;
    font-size: 4vh;
    display: block;
    background: #405d27
	}
#menuHeading a {
    color: #fff;
    }
nav {
    background: #4e792c;
    padding: 0.375em;
}
nav a {
    color: #fff;
    margin: 0 0.5em;
}
nav a:hover {
    text-decoration: underline;
}
/* ----------------------------------------------------------------------footer styly */
footer {
	background-color: #405d27;
	font-size: 2vh;
    line-height: 3vh;
    width: 100%;
    flex-shrink: 0;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}
.footerOption {
    margin: 0.8vh 1vw;
    padding: 0.2vh 0.5vw;
    }       
.footerOption:hover {
    cursor: pointer;
    text-decoration: underline;
    }
.footerOption#about {
    color: #ccc;
    }
.footerOption#about:hover {
    cursor: auto;
    text-decoration: none;
    }
.footerOption a {                                                                                             
    color: #fff;
    }  
/* ------------------------------------------------styly obsahu hlavni casti */
div.prikaz {
    margin: 0.125em auto;
    }
/* -------------------------------------------------obrazky + posun obrazku */
.img{
	width: 25vw;
	height: 25vw;;
    margin: 0.25em auto;
    box-sizing: border-box;
    border: 0.125em solid #405d27;
	object-fit: contain;
}
table {
    margin: auto;
    }
.learn_button{
	height: 25vw;
	text-align: center;
    margin: 0 0.375em;
    background-color: #405d27;
    transition: background 0.2s;
}
td button img {
	height: 3vw;
	width: 3vw;
    position: relative;
    top: 0.625em;   
}
td {
	vertical-align: middle;
}
kbd {
	color: #fff;
    font-family: Century Gothic, Verdana, sans-serif;
    line-height: 1.25em;
    font-size: 1em;
    height: 1.25em;
	display: inline-block;
    }
td kbd {
    position: relative;
    top: 0.625em;    
    }
#prevImg {
    border-radius: 0.375em 0 0 0.375em;
    }
#nextImg {
    border-radius: 0 0.375em 0.375em 0;
    }
/* -------------------------------------------------------------------index stranka */
#registrace, #prihlaseni, #pw_recovery {
    width: fit-content;
    max-width: 60vw;
    padding: 1em 2em;
    background-color: #fff;
    margin: 20vh auto;
    border-radius: 0.375em;
    }
#registrace a, #prihlaseni a{
    color: #405d27;
}
#registrace a:hover, #prihlaseni a:hover{
    text-decoration: underline;
}
.udaje {
    margin: 0.2em;
}
.checkbox {
    height: 0.2em;
    margin: 0.2em;
}
/* --------------------------------- custom checkbox, credits: https://codepen.io/GeoffreyCrofte/pen/BiHzp */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1em; height: 1em;
  border: 2px solid #ccc;
  background: #fff;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .15em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #3e4444;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
label:hover:before {
  border: 2px solid #405d27!important;
}

#obnoveniHesla {
    width: 50vw;
    background-color: #fff;
    border-radius: 0.375em;
    margin: 20vh auto;
    padding: 0.375em;
}
#loginErrors, #registerErrors, #passwordRecoveryErrors{
    margin: 0.4em;
    color: red;
    text-align: center;
    height: fit-content;
}
#cookiesAlert{
	background-color: #3e4444;
	font-size: 0.9em;
    line-height: 6vh;
    width: 100%;
    flex-shrink: 0;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}
#cookiesAlert div {
    margin: 0.8vh 1vw;
    padding: 0.2vh 0.5vw;
}
#cookiesAlertCloser:hover{
    cursor: pointer;
}
#span_terms{
	font-size: 0.75em;
}
/* -----------------------------------------------------------------------------list stranka */
/* ----------------------------------------------------changelog styly */
#changelogOverlay {
	z-index: 9;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: black;
	opacity: 0.5;
}
#changelog {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	border: 5px solid #405d27;
	border-radius: 0.625em;
	padding: 1.25em;
	height: fit-content;
    width: 40vw;
	color: #3e4444;
    background: #fff;
	text-align: left;
}
#changelogMsg {
	margin: 0.625em auto;
    overflow-y: auto;
    max-height: 40vh;
}
#changelogText h2 {
	font-size: 1.5em;
    margin: 0.25em;
    text-align:center;
}
#changelogMsg #general {
	list-style-type: disc;
	list-style-position: inside;
	list-style-image: url('dot.gif');
}
#changelogMsg #additions {
	list-style-type: disc;
	list-style-position: inside;
	list-style-image: url('plus.gif');
}
#changelogMsg #deletions {
	list-style-type: disc;
	list-style-position: inside;
	list-style-image: url('minus.gif');
}
#changelogMsg ul li {
	margin: 0.4em;
}
/* -----------------------------------------------------zbytek stránky */
#listTable {
    border: 12px solid #fff;
    margin: 4vh auto;
    background-color: #fff;
    border-radius: 0.375em;
    border-collapse: separate;
	}  
#listTable th, #listTable td {
    padding: 0.125em;
    }
.listRow {
	margin: 0;
	cursor: pointer;
	}
.listRow:hover {
	background-color: #405d27;
    color: #fff; 
	}
th {
	font-weight: bold;
	}
.listNames {
	min-width: 20vw;
	}
.listNaturals {
	min-width: 10vw;
	}
.listPics {
	min-width: 10vw;
    }
/* ------------------------------------------------------------------accountSettings tabulka */
#static_info {
    margin: 0.375em auto;
}
#static_info td, #static_info th {
    padding: 0.25em 1.125em;
}
#static_info tr {
    border-bottom: 1px solid #ccc;
}
#static_info tr#tr_end {
    border-bottom: 0px solid white;
}
/* --------------------------------------------------------tlacitka, droplisty, textova okna */
.button {
    background-color: #405d27;
    color: #fff;
    box-sizing: border-box;
    height: 1.75em;
    font-family: Century Gothic, Verdana, sans-serif;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    transition: background 0.2s;
    font-size: 0.9em;
    }
.button:hover, button:hover, #duckLink_div:hover {
    background-color: #3e4444;
    cursor: pointer;
    transition: background 0.2s;
    }
.button:active, button:active, #duckLink_div:active {
    outline: none;
    cursor: pointer;
    }
.button:focus, button:focus, #duckLink_div:active {
    outline: none;
    }
#duckLogo {
    margin: 0.25em;
    width: 1.25em;
    height: 1.25em;
    position: relative;
    }
#duckLink span {
    position: relative;
    top: -0.625em;
    }
#duckLink_div {
    background: #406d27;
    height: 1.75em;
    width: 9em;
    margin: 0.25em auto;
    font-size: 0.9em;
    transition: 0.2s;
    }
#duckLink_div a {
    color: #fff;
    font-size: 0.9em;
    }
.buttonDisabled {
    background-color: #aeaeae;
    color: #fff;
    height: 1.75em;
    font-family: Century Gothic, Verdana, sans-serif;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    font-size: 0.9em;
    }
.buttonDisabled:hover, .buttonDisabled:active {
    background-color: #aeaeae;
    cursor: auto;
    }
.text {
    box-sizing: border-box;
    font-family: Century Gothic, Verdana, sans-serif;
    color: #3e4444;
    padding: 0.125em 0.375em;
    height: 1.75em;
    border: 0.125em solid #405d27;
    margin: 0.25em;
    font-size: 0.9em;
}
.text#dropList {
    padding: 0.125em 0.125em;
    }
.text:focus {
    outline: none;
    border: 0.125em solid #3e4444;
    }
#dropList {
    width: 11.25em;
    }
#dropList:hover{
    cursor: pointer;
    }
#urlInput {
    width: 80%;
    }
#reportMenu{
	display: none;
}
#submitReport{
	display: none;
}
#cancelReport{
	display: none;
}

div.menu{
    width: 98%;
    height: 26.33vh;
    line-height: 26.33vh;
    font-size: 5vh;
    color: #3e4444;
    margin: 2.24vh auto;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0.375em;
    transition: background 0.2s;
    }
div.menu:hover {
    color: #fff;
    background-color: #405d27;
    transition: 0.2s;
    }
#answerForm{
	display: block;
	}
#correctAnswer{
	color: #00AA00;
	display: none;
	}
#wrongAnswer{
	color: #FF0000;
	display: none;
	}
#wrong2, #serverResponse{
	color: #000;
	}
#nextButton{
	display: none;
	margin: 0.25em auto;
	}
#correctAnswer, #wrongAnswer {
    padding: 0.25em;
    margin: auto;
    }
/* ------------------------------------------------------------------@media */
@media (max-aspect-ratio: 6/5) {
    main.basic_main, #obnoveniHesla {
        width: 85vw;
        }
    .img {
	    width: 55vw;
        height: 55vw;
       }
    td button{
        height: 55vw;
        }
    td button img {
        width: 4.5vw;
        height: 4.5vw;
        }
    header {
        height: 6vh;  
        }
    h1 {
        font-size: 3vh;
        line-height: 6vh;
        }
    #menuHeading {
        line-height: 6vh;
        font-size: 3vh;
	    }
    div.menu {
        font-size: 4vh;
        height: 27vh;
        width: 96vw;
        margin: 2.24vh auto;
        line-height: 27vh;
        }
    #listTable {
        margin: 7vh auto;
    }
    .listNames {
    	min-width: 40vw;
    	}
    .listNaturals {
    	min-width: 20vw;
    	}
    .listPics {
	    min-width: 20vw;
        }
    #changelog {
        width: 60vw;
        }
    #changelogMsg {
        max-height:50vh;
        }
    }    
@media (max-aspect-ratio: 5/8) {
    body{
        font-size: 22px;
        }
    main.basic_main, #obnoveniHesla {
        width: 95vw;
        }
    .img {
	    width: 60vw;
        height: 60vw;
       }
    td button{
        height: 60vw;
        }
    td button img {
        width: 6vw;
        height: 6vw;
        }
    header {
        height: 6vh;  
        }
    h1 {
        font-size: 2vh;
        line-height: 6vh;
        }
    #menuHeading {
        line-height: 6vh;
        font-size: 2vh;
	    }
    div.menu {
        font-size: 3vh;
        }
    #changelog {
        width: 80vw;
        }
    #changelogMsg {
        max-height:60vh;
        }
    }

    
    
