/* CSS Document */
/* CSS reset -----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.button, .buttonDisabled {
    border: none;
    }
button {
    border: none;
    }
a {
    text-decoration: none;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    text-decoration: none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*----------------------------------------------------------------------------*/
body {
    background-color: #fff;
    background: linear-gradient(#fff,#405d27);
    text-align: center;
    color: #3e4444;
    font-family: Century Gothic, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    background: url(bg1.jpg) no-repeat center fixed;
    /*background: url(bg2.jpg) no-repeat center fixed;      */
    background-size: cover;    
    }
main.basic_main {
    width: 50vw;
    background-color: #fff;
    border-radius: 6px;
    margin: 2.4vh auto;
    padding: 6px;
    }
header {
    background-color: #405d27;
    display: block;
    color: #fff;
    height: 7vh;  
    text-align: center;
    }
h1 {
    font-size: 4vh;
   /* padding: 2vh 0; */
    line-height: 7vh;
    }
#menuHeading {
    line-height: 7vh;
    font-size: 4vh;
	}
#menuHeading a {
    color: #fff;
    }
fieldset {
    width: 80%;
    margin: auto;
    /*padding: 6px 0;*/
    /*border-bottom: 2px solid #aeaeae;  */
    }
div.prikaz {
    margin: 2px auto;
    }
table {
    margin: auto;
    }
td {
	vertical-align: middle;
}
.img{
	width: 25vw;
	height: 25vw;;
    margin: 4px auto;
    box-sizing: border-box;
    border: 2px solid #405d27;
	object-fit: contain;
}
#prevImg {
    border-radius: 6px 0 0 6px;
    }
#nextImg {
    border-radius: 0 6px 6px 0;
    }
td button{
	width: 4vw;
	height: 25vw;
	text-align: center;
    margin: 0 6px;
    background-color: #405d27;
    transition: background 0.2s;
}
td button img {
	height: 3vw;
	width: 3vw;
}
#dropList {
    width: 180px;
    }
#dropList:hover{
    cursor: pointer;
    }
#urlInput {
    width: 80%;
    }
#reportMenu{
	display: none;
}
#submitReport{
	display: none;
}
#cancelReport{
	display: none;
}
main#main_kod {
    width: 360px;
	height: 140px;
    background-color: #fff;
    margin: 30vh auto;
    border-radius: 6px;
    }
div#kod {
    position: relative;
    top: 18px;
    margin: auto
    }
span#span_kod {
    font-size: 24px;
    }
form {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    }
#kod form {
    margin: 6px auto;
    }
.text {
    box-sizing: border-box;
    font-family: Century Gothic, Verdana, sans-serif;
    color: #474747;
    padding: 2px 4px;
    height: 28px;
    border: 2px solid #405d27;
    margin: 4px;
}
.text:focus {
    outline: none;
    border: 2px solid #3e4444;
    }
#kod_input {
    width: 160px;
	height: 28px;
    font-size: 16px;
    margin: 2px 0;
    }
.confirm {
	width: 160px;
}
.button {
    background-color: #405d27;
    color: #fff;
    height: 28px;
    font-family: Century Gothic, Verdana, sans-serif;
    padding: 4px 8px;
    margin: 4px;
    transition: background 0.2s
    }
.button:hover, button:hover {
    background-color: #3e4444;
    cursor: pointer;
    transition: background 0.2s;
    }
.button:active, button:active {
    outline: none;
    cursor: pointer;
    }
.button:focus, button:focus {
    outline: none;
    }
#duckLogo {
    margin: 4px;
    width: 20px;
    height: 20px;
    position: relative;
    top: -4px;
    }
#duckLink span {
    position: relative;
    top: -14px;
    }
#duckLink {
    line-height: 28px;
    height: 28px;
    }  
div #duckLink {
    margin: auto;
    }
.buttonDisabled {
    background-color: #aeaeae;
    color: #fff;
    height: 28px;
    font-family: Century Gothic, Verdana, sans-serif;
    padding: 4px 8px;
    margin: 4px;
    }
.buttonDisabled:hover, .buttonDisabled:active {
    background-color: #aeaeae;
    cursor: auto;
    }
div.menu {
    width: 98%;
    height: 28vh;
    line-height: 28vh;
    font-size: 5vh;
    color: #3e4444;
    margin: 2.24vh auto;
    background-color: #fff;
    /*border: 3px solid #880e4f; */
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 6px;
    transition: background 0.2s;
    }
div.menu:hover {
    color: #fff;
    background-color: #405d27;
    transition: 0.2s;
    }
#answerForm{
	display: block;
	}
#correctAnswer{
	color: #00AA00;
	display: none;
	}
#wrongAnswer{
	color: #FF0000;
	display: none;
	}
#wrong2, #serverResponse{
	color: #000;
	}
#nextButton{
	display: none;
	margin: 4px auto;
	}
#correctAnswer, #wrongAnswer {
    padding: 4px;
    margin: auto;
    }
/*Nové styly pøidané kvùli stránce list.php*/
#listTable {
    border: 12px solid #fff;
    margin: 4vh auto;
    transition: 0.2s;
    background-color: #fff;
    border-radius: 6px;
    border-collapse: separate;
	}  
#listTable th, #listTable td {
    padding: 2px;
    }
.listRow {
	margin: 0;
	cursor: pointer;
    transition: background 0.2s;
    border-radius: 6px;
	}
.listRow:hover {
	background-color: #405d27;
    color: #fff;
    transition: color 0.2s; 
	}
th {
	font-weight: bold;
	}
.listNames {
	min-width: 20vw;
	}
.listNaturals {
	min-width: 10vw;
	}
.listPics {
	min-width: 10vw;
	}
/* ---------------------------------------@media------------------------*/
@media (max-aspect-ratio: 1/1) {
    main.basic_main {
        width: 85vw;
        }
    .img {
	    width: 55vw;
        height: 55vw;
       }
    td button{
        height: 55vw;
        }
    header {
        height: 6vh;  
        }
    h1 {
        font-size: 3vh;
        line-height: 6vh;
        }
    #menuHeading {
        line-height: 6vh;
        font-size: 3vh;
	    }
    div.menu {
        font-size: 4vh;
        height: 30vh;
        width: 96vw;
        margin: 1.5vh auto;
        line-height: 30vh;
        }
    .listNames {
    	min-width: 40vw;
    	}
    .listNaturals {
    	min-width: 20vw;
    	}
    .listPics {
	    min-width: 20vw;
        }
    }           
@media (max-aspect-ratio: 5/8) {
     main.basic_main {
        width: 95vw;
        }
    .img {
	    width: 60vw;
        height: 60vw;
       }
    td button{
        height: 50vw;
        }
    header {
        height: 6vh;  
        }
    h1 {
        font-size: 2vh;
        line-height: 6vh;
        }
    #menuHeading {
        line-height: 6vh;
        font-size: 2vh;
	    }
    div.menu {
        font-size: 3vh;
        }
      }
    