body{
	text-align: center;
	margin: 20px;
	font-family: monospace;
}
#errorPic{
	width: 25vw;
	height: 25vw;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	opacity: 0.25;
}
main{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border: 3px solid #990000;
	padding: 5vh 5vw;
	width: -webkit-fit-content;
	height: -webkit-fit-content;
	
}
h1{
	width: fit-content;
	padding: 0 20px;
	display: inline;
	font-size: 48px;
}
#code{
	font-size: inherit;
	color: red;
}
span{
	font-size: 32px;
}
#listHeader{
	text-decoration: underline;
	font-weight: bold;
}
ul{
	display: table;
	text-align: left;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
}
li{
	font-size: 32px;
}