nav
{
	height: 4vh;
	z-index: -1;
	overflow: hidden;
}
nav a
{
	border-radius: 1vh;
	font-size: 3vh;
	border: 1px solid black;
	display: block;
	float: left;
	min-height: 5vh;
	padding-left: 10px;
	padding-right: 10px;
}
#container
{
	padding-top: 1vh;
	padding-left: 1vw;
	padding-bottom: 1vh;
	padding-right: 1vw;
	height: 91vh;
	width: 95.984%;
	overflow: auto;
	border: 1px solid black;
	z-index: 1;
}
/*---------------------------*/
#tab1
{
	display: block;
	position: absolute;
	overflow: auto;
	width: 96vw;
	max-height: 89vh;
}
#tab2
{
	display: none;
	position: absolute;
	overflow: auto;
	width: 96vw;
	max-height: 89vh;
}
#tab3
{
	display: none;
	position: absolute;
	overflow: auto;
	width: 96vw;
	max-height: 89vh;
}
#tab4
{
	display: none;
	position: absolute;
	overflow: auto;
	width: 96vw;
	max-height: 89vh;
}
#tab5
{
	display: none;
	position: absolute;
	overflow: auto;
	width: 96vw;
	max-height: 89vh;
}
/*-----------Tab2------------*/
.userField
{
	border: 0;
    text-align: center;
    background-color: inherit;
}
.editableField
{
	background-color: #CCCCFF;
}
/*-----------Tab4------------*/
table
{
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
td th
{
	width: 150px;
}
td img
{
	*/*
	padding-left: 10px;
	padding-right: 10px;
	*/
}
td button
{
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    padding: 0;
    background-color: #FFF;
    height: 16px;
    width: 16px;
	transition: 0s;
}
.activeBtn:hover
{
	background-color: #CCCCFF;
}
.grayscale
{
	filter: grayscale(1);
}
/*-----------Tab5------------*/
#emailPreview
{
	margin: 20px;
	border: 1px solid black;
}